openapi: 3.2.0
info:
  title: Sumo Logic Field Management V1 API
  description: '# Getting Started

    Welcome to the Sumo Logic API reference.'
  version: 1.0.0
  x-logo:
    url: ./sumologic_logo.png
servers:
- url: https://api.au.sumologic.com/api/
  description: AU deployment API server
- url: https://api.ca.sumologic.com/api/
  description: CA deployment API server
- url: https://api.de.sumologic.com/api/
  description: DE deployment API server
- url: https://api.eu.sumologic.com/api/
  description: EU deployment API server
- url: https://api.fed.sumologic.com/api/
  description: FED deployment API server
- url: https://api.jp.sumologic.com/api/
  description: JP deployment API server
- url: https://api.kr.sumologic.com/api/
  description: KR deployment API server
- url: https://api.in.sumologic.com/api/
  description: IN deployment API server
- url: https://api.sumologic.com/api/
  description: US1 deployment API server
- url: https://api.us2.sumologic.com/api/
  description: US2 deployment API server
security:
- basicAuth: []
tags:
- name: fieldManagementV1
  description: 'Field management API.


    Fields allow you to reference log data based on meaningful associations. They act as metadata tags that are assigned to your logs so you can search with them. Each field contains a key-value pair, where the field name is the key. Fields may be referred to as Log Metadata Fields. For more information, see Fields.'
  x-displayName: Field Management
paths:
  /v1/fields:
    get:
      tags:
      - fieldManagementV1
      summary: Get A List Of All Custom Fields
      description: Request a list of all the custom fields configured in your account.
      operationId: listCustomFields
      responses:
        '200':
          description: List of all custom fields.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCustomFieldsResponse'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - fieldManagementV1
      summary: Create A New Field
      description: Adding a field will define it in the Fields schema allowing it to be assigned as metadata to your logs.
      operationId: createField
      parameters: []
      requestBody:
        description: Name of a field to add. The name is used as the key in the key-value pair.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FieldName'
        required: true
      responses:
        '200':
          description: The field was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomField'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/fields/{id}:
    get:
      tags:
      - fieldManagementV1
      summary: Get A Custom Field
      description: Get the details of a custom field.
      operationId: getCustomField
      parameters:
      - name: id
        in: path
        description: Identifier of a field.
        required: true
        schema:
          type: string
        example: 00000000031D02DA
      responses:
        '200':
          description: The details of the custom field.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomField'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - fieldManagementV1
      summary: Delete A Custom Field
      description: Deleting a field does not delete historical data assigned with that field. If you delete a field by mistake and one or more of those dependencies break, you can re-add the field to get things working properly again. You should always disable a field and ensure things are behaving as expected before deleting a field.
      operationId: deleteField
      parameters:
      - name: id
        in: path
        description: Identifier of a field to delete.
        required: true
        schema:
          type: string
        example: 00000000031D02DA
      responses:
        '204':
          description: The field was successfully deleted.
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/fields/{id}/enable:
    put:
      tags:
      - fieldManagementV1
      summary: Enable Custom Field With A Specified Identifier
      description: Fields have to be enabled to be assigned to your data. This operation ensures that a specified field is enabled and Sumo Logic will treat it as safe to process. All manually created custom fields are enabled by default.
      operationId: enableField
      parameters:
      - name: id
        in: path
        description: Identifier of a field to enable.
        required: true
        schema:
          type: string
        example: 00000000031D02DA
      responses:
        '204':
          description: Field has been enabled.
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/fields/{id}/disable:
    delete:
      tags:
      - fieldManagementV1
      summary: Disable A Custom Field
      description: After disabling a field Sumo Logic will start dropping its incoming values at ingest. As a result, they won't be searchable or usable. Historical values are not removed and remain searchable.
      operationId: disableField
      parameters:
      - name: id
        in: path
        description: Identifier of a field to disable.
        required: true
        schema:
          type: string
        example: 00000000031D02DA
      responses:
        '204':
          description: Field has been disabled.
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/fields/dropped:
    get:
      tags:
      - fieldManagementV1
      summary: Get A List Of Dropped Fields
      description: Dropped fields are fields sent to Sumo Logic, but are ignored since they are not defined in your Fields schema. In order to save these values a field must both exist and be enabled.
      operationId: listDroppedFields
      responses:
        '200':
          description: 'List of dropped fields.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDroppedFieldsResponse'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/fields/builtin:
    get:
      tags:
      - fieldManagementV1
      summary: Get A List Of Built-in Fields
      description: Built-in fields are created automatically by Sumo Logic for standard configuration purposes. They include `_sourceHost` and `_sourceCategory`. Built-in fields can't be deleted or disabled.
      operationId: listBuiltInFields
      responses:
        '200':
          description: List of all built-in fields.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBuiltinFieldsResponse'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/fields/builtin/{id}:
    get:
      tags:
      - fieldManagementV1
      summary: Get A Built-in Field
      description: Get the details of a built-in field.
      operationId: getBuiltInField
      parameters:
      - name: id
        in: path
        description: Identifier of a built-in field.
        required: true
        schema:
          type: string
        example: 000000000000000A
      responses:
        '200':
          description: The details of the built-in field.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuiltinField'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/fields/quota:
    get:
      tags:
      - fieldManagementV1
      summary: Get Capacity Information
      description: Every account has a limited number of fields available. This endpoint returns your account limitations and remaining quota.
      operationId: getFieldQuota
      responses:
        '200':
          description: Current fields capacity usage (fields count).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldQuotaUsage'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    FieldQuotaUsage:
      required:
      - quota
      - remaining
      type: object
      properties:
        quota:
          type: integer
          description: Maximum number of fields available.
          format: int32
          example: 200
        remaining:
          type: integer
          description: Current number of fields available.
          format: int32
          example: 121
    ErrorResponse:
      required:
      - errors
      - id
      type: object
      properties:
        id:
          type: string
          description: An identifier for the error; this is unique to the specific API request.
          example: IUUQI-DGH5I-TJ045
        errors:
          type: array
          description: A list of one or more causes of the error.
          example:
          - code: auth:password_too_short
            message: Your password was too short.
          - code: auth:password_character_classes
            message: Your password did not contain any non-alphanumeric characters
          items:
            $ref: '#/components/schemas/ErrorDescription'
    FieldName:
      required:
      - fieldName
      type: object
      properties:
        fieldName:
          maxLength: 255
          minLength: 1
          type: string
          description: Field name.
          example: hostIP
    ErrorDescription:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          description: An error code describing the type of error.
          example: auth:password_too_short
        message:
          type: string
          description: A short English-language description of the error.
          example: Your password was too short.
        detail:
          type: string
          description: An optional fuller English-language description of the error.
          example: Your password was 5 characters long, the minimum length is 12 characters. See http://example.com/password for more information.
        meta:
          type: object
          description: An optional list of metadata about the error.
          example:
            minLength: 12
            actualLength: 5
    ListCustomFieldsResponse:
      required:
      - data
      type: object
      properties:
        data:
          type: array
          description: List of custom fields.
          items:
            $ref: '#/components/schemas/CustomField'
    ListBuiltinFieldsResponse:
      required:
      - data
      type: object
      properties:
        data:
          type: array
          description: List of built-in fields.
          items:
            $ref: '#/components/schemas/BuiltinField'
    CustomField:
      allOf:
      - $ref: '#/components/schemas/FieldName'
      - required:
        - dataType
        - fieldId
        - state
        type: object
        properties:
          fieldId:
            type: string
            description: Identifier of the field.
            example: 00000000031D02DA
          dataType:
            pattern: ^(String|Long|Int|Double|Boolean)$
            type: string
            description: Field type. Possible values are `String`, `Long`, `Int`, `Double`, and `Boolean`.
            example: String
            x-pattern-message: Must be `String`, `Long`, `Int`, `Double` or `Boolean`
          state:
            pattern: ^(Enabled|Disabled)$
            type: string
            description: Indicates whether the field is enabled and its values are being accepted. Possible values are `Enabled` and `Disabled`.
            example: Enabled
            x-pattern-message: Must be `Enabled` or `Disabled`
    DroppedField:
      allOf:
      - $ref: '#/components/schemas/FieldName'
    ListDroppedFieldsResponse:
      required:
      - data
      type: object
      properties:
        data:
          type: array
          description: List of dropped fields.
          items:
            $ref: '#/components/schemas/DroppedField'
    BuiltinField:
      allOf:
      - $ref: '#/components/schemas/FieldName'
      - required:
        - dataType
        - fieldId
        - state
        type: object
        properties:
          fieldId:
            type: string
            description: Identifier of the field.
            example: 00000000031D02DA
          dataType:
            pattern: ^(String|Long|Int|Double|Boolean)$
            type: string
            description: Field type. Possible values are `String`, `Long`, `Int`, `Double`, and `Boolean`.
            example: String
            x-pattern-message: Must be `String`, `Long`, `Int`, `Double` or `Boolean`
          state:
            pattern: ^(Enabled|Disabled)$
            type: string
            description: Indicates whether the field is enabled and its values are being accepted. Possible values are `Enabled` and `Disabled`.
            example: Enabled
            x-pattern-message: Must be `Enabled` or `Disabled`
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
x-tagGroups:
- name: Archive Management
  tags:
  - archiveManagement
- name: Health Events
  tags:
  - healthEvents
- name: Infrequent Data Tier
  tags:
  - logSearchesEstimatedUsage
- name: Ingest Budgets Management V2
  tags:
  - ingestBudgetManagementV2
- name: Library Management
  tags:
  - appManagement
  - appManagementV2
  - contentManagement
  - dashboardManagement
  - folderManagement
  - lookupManagement
  - contentPermissions
  - logSearchesManagement
  - parsersLibraryManagement
- name: Metrics
  tags:
  - metricsSearchesManagement
  - transformationRuleManagement
  - metricsQuery
  - metricsSearchesManagementV2
- name: Security Management
  tags:
  - accessKeyManagement
  - oauthManagement
  - accountManagement
  - passwordPolicy
  - policiesManagement
  - samlConfigurationManagement
  - serviceAllowlistManagement
  - serviceAccountManagement
  - scimUserManagement
- name: Organizations Management
  tags:
  - orgsManagement
- name: Settings Management
  tags:
  - connectionManagement
  - dynamicParsingRuleManagement
  - extractionRuleManagement
  - fieldManagementV1
  - partitionManagement
  - scheduledViewManagement
  - logsDataForwardingManagement
  - dataDeletionRules
- name: Tokens Management
  tags:
  - tokensLibraryManagement
- name: Tracing
  tags:
  - traces
  - spanAnalytics
  - serviceMap
- name: Users and Roles Management
  tags:
  - roleManagement
  - roleManagementV2
  - userManagement
- name: Threat Intel Ingest Management
  tags:
  - threatIntelIngest
  - threatIntelIngestProducer
- name: OpenTelemetry Collector Management
  tags:
  - otCollectorManagementExternal
- name: Source Template Management
  tags:
  - sourceTemplateManagementExternal
- name: Schema Base Management
  tags:
  - schemaBaseManagement
- name: Event Analytics Management
  tags:
  - eventAnalytics
- name: Budget Management
  tags:
  - budgetManagement
- name: Macro Management
  tags:
  - macroManagement
- name: Muting Schedules Management
  tags:
  - mutingSchedulesLibraryManagement
- name: SLO Management
  tags:
  - slosLibraryManagement
- name: Monitor Management
  tags:
  - monitorsLibraryManagement
