openapi: 3.2.0
info:
  title: Sumo Logic Dashboard Management API
  description: '# Getting Started

    Welcome to the Sumo Logic API reference.'
  version: 1.0.0
  x-logo:
    url: ./sumologic_logo.png
servers:
- url: https://api.au.sumologic.com/api/
  description: AU deployment API server
- url: https://api.ca.sumologic.com/api/
  description: CA deployment API server
- url: https://api.de.sumologic.com/api/
  description: DE deployment API server
- url: https://api.eu.sumologic.com/api/
  description: EU deployment API server
- url: https://api.fed.sumologic.com/api/
  description: FED deployment API server
- url: https://api.jp.sumologic.com/api/
  description: JP deployment API server
- url: https://api.kr.sumologic.com/api/
  description: KR deployment API server
- url: https://api.in.sumologic.com/api/
  description: IN deployment API server
- url: https://api.sumologic.com/api/
  description: US1 deployment API server
- url: https://api.us2.sumologic.com/api/
  description: US2 deployment API server
security:
- basicAuth: []
tags:
- name: dashboardManagement
  description: 'Dashboard (New) management API.


    Dashboard (New) allows you to analyze metric and log data on the same dashboard, in a seamless view. This gives you control over the visual display of metric and log data. Dashboard (New) streamlines dashboard configurations and on-the-fly analytic visualizations with its new templating features. For more information, see Dashboard (New).'
  x-displayName: Dashboard (New)
paths:
  /v2/dashboards:
    get:
      tags:
      - dashboardManagement
      summary: List All Dashboards
      description: List all dashboards under the Personal folder created by the user or under folders viewable by user.
      operationId: listDashboards
      parameters:
      - name: limit
        in: query
        description: Limit the number of dashboard returned in the response. The number of dashboards returned may be less than the `limit`.
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
          default: 50
        example: 50
      - name: token
        in: query
        description: Continuation token to get the next page of results. A page object with the next continuation token is returned in the response body. Subsequent GET requests should specify the continuation token to get the next page of results. `token` is set to null when no more pages are left.
        required: false
        schema:
          type: string
        example: GDCiRv4vebF3UWFJQ1kySXBOR3Bzh69GR0RyWm9vCtc
      - name: mode
        in: query
        description: whether to list all viewable dashboards under the folders
        required: false
        schema:
          pattern: ^(createdByUser|allViewableByUser)$
          type: string
          example: createdByUser
          x-pattern-message: Must be `createdByUser` or `allViewableByUser`
        example: createdByUser
      responses:
        '200':
          description: Paginated list of dashboards under the Personal folder created by the user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDashboards'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - dashboardManagement
      summary: Create A New Dashboard
      description: Creates a new dashboard.
      operationId: createDashboard
      requestBody:
        description: Information to create the new dashboard.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashboardRequest'
        required: true
      responses:
        '200':
          description: The dashboard has been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/dashboards/{id}:
    get:
      tags:
      - dashboardManagement
      summary: Get A Dashboard
      description: Get a dashboard by the given identifier.
      operationId: getDashboard
      parameters:
      - name: id
        in: path
        description: UUID of the dashboard to return.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Dashboard object that was requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
      - dashboardManagement
      summary: Update A Dashboard
      description: Update a dashboard by the given identifier.
      operationId: updateDashboard
      parameters:
      - name: id
        in: path
        description: Identifier of the dashboard to update.
        required: true
        schema:
          type: string
      requestBody:
        description: Information to update on the dashboard.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashboardRequest'
        required: true
      responses:
        '200':
          description: The dashboard was successfully modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - dashboardManagement
      summary: Delete A Dashboard
      description: Delete a dashboard by the given identifier.
      operationId: deleteDashboard
      parameters:
      - name: id
        in: path
        description: Identifier of the dashboard to delete.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Dashboard was deleted successfully.
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/dashboards/reportJobs:
    post:
      tags:
      - dashboardManagement
      summary: Start A Report Job
      description: Schedule an asynchronous job to generate a report from a template. All items in the template will be included unless specified. See template section for more details on individual templates. Reports can be generated in Pdf or Png format and exported in various methods (ex. direct download). You will get back an asynchronous job identifier on success. Use the getAsyncReportGenerationStatus endpoint and the job identifier you got back in the response to track the status of an asynchronous report generation job.
      operationId: generateDashboardReport
      requestBody:
        description: Request for a report.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateReportRequest'
        required: true
      responses:
        '200':
          description: Export job has been scheduled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeginAsyncJobResponse'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/dashboards/reportJobs/{jobId}/status:
    get:
      tags:
      - dashboardManagement
      summary: Get Report Generation Job Status
      description: Get the status of an asynchronous report generation request for the given job identifier. On success, use the getReportGenerationResult endpoint to get the result of the report generation job.
      operationId: getAsyncReportGenerationStatus
      parameters:
      - name: jobId
        in: path
        description: The identifier of the asynchronous report generation job.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The status of the report generation job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncJobStatus'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/dashboards/reportJobs/{jobId}/result:
    get:
      tags:
      - dashboardManagement
      summary: Get Report Generation Job Result
      description: Get the result of an asynchronous report generation request for the given job identifier.
      operationId: getAsyncReportGenerationResult
      parameters:
      - name: jobId
        in: path
        description: The identifier of the asynchronous report generation job.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The result of export job.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/dashboards/migrate:
    post:
      tags:
      - dashboardManagement
      summary: Migrate Legacy Dashboards To Dashboards(New)
      description: 'Schedule an asynchronous job to migrate a list of legacy Dashboards to Dashboard(New). Once migration is finished, the migrated dashboards will be in the same folder as the corresponding legacy Dashboard.

        Note: This feature is in beta and may not support all existing features of legacy dashboards.'
      operationId: migrateReportToDashboard
      requestBody:
        description: List of legacy dashboard content identifiers.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashboardMigrationRequest'
        required: true
      responses:
        '200':
          description: Async job identifier to get the status and result of the dashboard migration job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeginAsyncJobResponseV2'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/dashboards/migrate/preview:
    post:
      tags:
      - dashboardManagement
      summary: Preview Of Migrating Legacy Dashboards To Dashboards(New)
      description: Get a preview of migrating Legacy Dashboards to Dashboard(New)
      operationId: previewMigrateReportToDashboard
      requestBody:
        description: List of content identifiers. Can be folders or classic dashboard.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashboardMigrationRequest'
        required: true
      responses:
        '200':
          description: Preview of the dashboard migration job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrationPreviewResponse'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/dashboards/migrate/{jobId}/status:
    get:
      tags:
      - dashboardManagement
      summary: Get Dashboard Migration Status
      description: Get the status of an asynchronous Dashboard Migration job for the given job identifier. If job succeeds, use Dashboard Migration Result endpoint to see results of the migration.
      operationId: getDashboardMigrationStatus
      parameters:
      - name: jobId
        in: path
        description: The identifier of the asynchronous Dashboard Migration job.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Dashboard migration job status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncJobStatus'
        default:
          description: The operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/dashboards/migrate/{jobId}/result:
    get:
      tags:
      - dashboardManagement
      summary: Get Dashboard Migration Result
      description: Get the result of an asynchronous Dashboard Migration request for the given job identifier.
      operationId: getDashboardMigrationResult
      parameters:
      - name: jobId
        in: path
        description: The identifier of the asynchronous Dashboard Migration job.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Dashboard migration job result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardMigrationResult'
        default:
          description: The operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/dashboards/reportSchedules:
    get:
      tags:
      - dashboardManagement
      summary: List All Dashboard Report Schedules
      description: List all dashboard report schedules created by the user.
      operationId: listReportSchedules
      parameters:
      - name: dashboardId
        in: query
        description: UUID of the dashboard that the report shedules are associated with.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Limit the number of dashboard report schedules returned in the response. The number of dashboard report schedules returned may be less than the `limit`.
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
          default: 50
        example: 50
      - name: token
        in: query
        description: Continuation token to get the next page of results. A page object with the next continuation token is returned in the response body. Subsequent GET requests should specify the continuation token to get the next page of results. `token` is set to null when no more pages are left.
        required: false
        schema:
          type: string
        example: GDCiRv4vebF3UWFJQ1kySXBOR3Bzh69GR0RyWm9vCtc
      responses:
        '200':
          description: Paginated list of dashboard report schedules created by the user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedReportSchedules'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - dashboardManagement
      summary: Schedule Dashboard Report
      description: 'Schedule dashboard report to send at a specific date and time. The report should be sent as attachment or downloadable URL in one of the following notification types: ''Email'', ''AWSLambda'', ''AzureFunctions'', ''Datadog'', ''HipChat'', ''Jira'', ''NewRelic'', ''Opsgenie'', ''PagerDuty'', ''Slack'', ''MicrosoftTeams'', ''ServiceNow'', ''SumoCloudSOAR'' and ''Webhook''.'
      operationId: createScheduleReport
      requestBody:
        description: Request for scheduling dashboard report.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportScheduleRequest'
        required: true
      responses:
        '200':
          description: Dashboard report has been scheduled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportSchedule'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/dashboards/reportSchedules/{scheduleId}:
    get:
      tags:
      - dashboardManagement
      summary: Get Dashboard Report Schedule
      description: Get the schedule of a scheduled dashboard report by the given identifier.
      operationId: getReportSchedule
      parameters:
      - name: scheduleId
        in: path
        description: Identifier of the dashboard report schedule to return.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Dashboard report schedule object that was requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportSchedule'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
      - dashboardManagement
      summary: Update Dashboard Report Schedule
      description: Update the schedule of a scheduled dashboard report by the given identifier.
      operationId: updateReportSchedule
      parameters:
      - name: scheduleId
        in: path
        description: identifier of the dashboard report schedule to update.
        required: true
        schema:
          type: string
      requestBody:
        description: Request to update on the dashboard report schedule.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportScheduleRequest'
        required: true
      responses:
        '200':
          description: The dashboard report schedule was successfully modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportSchedule'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - dashboardManagement
      summary: Delete Dashboard Report Schedule
      description: Delete the schedule of a scheduled dashboard report by the given identifier. The scheduled dashboard report will no longer be generated and sent.
      operationId: deleteReportSchedule
      parameters:
      - name: scheduleId
        in: path
        description: UUID of the dashboard report schedule to delete.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Dashboard report schedule was deleted successfully.
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    ErrorResponse:
      required:
      - errors
      - id
      type: object
      properties:
        id:
          type: string
          description: An identifier for the error; this is unique to the specific API request.
          example: IUUQI-DGH5I-TJ045
        errors:
          type: array
          description: A list of one or more causes of the error.
          example:
          - code: auth:password_too_short
            message: Your password was too short.
          - code: auth:password_character_classes
            message: Your password did not contain any non-alphanumeric characters
          items:
            $ref: '#/components/schemas/ErrorDescription'
    TopologyLabelValuesList:
      type: array
      description: List of values corresponding to a key of a label.
      example:
      - kube-scheduler
      items:
        type: string
        description: Value of the label.
    VariableValuesData:
      required:
      - variableValues
      type: object
      properties:
        variableValues:
          type: array
          description: Values for the variable.
          example:
          - myCluster
          items:
            type: string
        status:
          $ref: '#/components/schemas/DashboardSearchStatus'
        variableType:
          pattern: ^(LogQueryVariableSourceDefinition|MetadataVariableSourceDefinition|CsvVariableSourceDefinition|FilterSourceDefinition)$
          type: string
          description: The type of the variable.
          example: LogQueryVariableSourceDefinition
          x-pattern-message: Must be `LogQueryVariableSourceDefinition`, `MetadataVariableSourceDefinition` `CsvVariableSourceDefinition` or `FilterSourceDefinition`.
        valueType:
          type: string
          description: 'The type of value of the variable. Allowed values are `String`, Any`, `Numeric`, `Integer`, `Long`, `Double`, `Boolean`. - `String` considers as a single phrase and will wrap in double-quotes. - `Any` is all characters. - `Numeric` consists of a numeric value for variables, it will be displayed differently in the UI. - `Integer` is a variable with an `Int` value. - `Long` is a variable with a `Long` value. - `Double` is a variable with a `Double` value. - `Boolean` is a variable with a `Boolean` value.

            '
          example: Any
          default: Any
        allowMultiSelect:
          type: boolean
          description: Allow multiple selections in the values dropdown.
          example: false
          default: false
        variableKey:
          type: string
          description: The key of the variable.
          example: _source
        errors:
          type: array
          description: Generic errors returned by backend from downstream assemblies. More specific errors will be thrown in the future.
          items:
            $ref: '#/components/schemas/ErrorDescription'
      description: Variable values, status, type and errors for the variable values search.
    ReportScheduleRequest:
      required:
      - dashboardId
      - emailNotification
      - reportFormat
      - scheduleType
      - timeZone
      type: object
      properties:
        dashboardId:
          type: string
          description: Identifier of dashboard the schedule will generate report for.
          example: B23OjNs5ZCyn5VdMwOBoLo3PjgRnJSAlNTKEDAcpuDG2CIgRe9KFXMofm2H2
        timeRange:
          $ref: '#/components/schemas/ResolvableTimeRange'
        variableValues:
          $ref: '#/components/schemas/VariablesValuesData'
        reportFormat:
          pattern: ^(Pdf|Png)$
          type: string
          description: File format of the report. Can be `Pdf` or `Png`. `Pdf` is portable document format. `Png` is portable graphics image format.
          example: Pdf
          x-pattern-message: 'should be one of the following: ''Pdf'', ''Png'''
        scheduleType:
          type: string
          description: "Run schedule of the scheduled report. Set to \"Custom\" to specify the schedule with a CRON expression. Possible schedule types are:\n  - `RealTime`\n  - `15Minutes`\n  - `1Hour`\n  - `2Hours`\n  - `4Hours`\n  - `6Hours`\n  - `8Hours`\n  - `12Hours`\n  - `1Day`\n  - `1Week`\n  - `Custom`"
          example: 1Day
        cronExpression:
          type: string
          description: Cron-like expression specifying the report's schedule. Field scheduleType must be set to "Custom", otherwise, scheduleType takes precedence over cronExpression.
          example: 0 0/15 * * * ? *
        timeZone:
          maxLength: 1024
          minLength: 1
          type: string
          description: Time zone identifier for time specification. Either an abbreviation such as "PST", a full name such as "America/Los_Angeles", or a custom ID such as "GMT-8:00". Note that the support of abbreviations is for JDK 1.1.x compatibility only and full names should be used.
          example: America/Los_Angeles
        emailNotification:
          $ref: '#/components/schemas/Email'
        isActive:
          type: boolean
          description: Is the dashboard report schedule active
          default: true
    Email:
      allOf:
      - $ref: '#/components/schemas/Action'
      - required:
        - recipients
        - subject
        type: object
        properties:
          recipients:
            type: array
            description: A list of email addresses to send to when the rule fires.
            items:
              type: string
              example: john@doe.com
          subject:
            type: string
            description: The subject line of the email.
            example: Sample Email Subject
          messageBody:
            type: string
            description: The message body of the email to send.
            example: Sample Email Message Body
          timeZone:
            type: string
            description: Time zone for the email content. All dates/times will be displayed in this timeZone in the email payload. Follow the format in the [IANA Time Zone Database](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
            example: America/Los_Angeles
    MigrationPreviewResponse:
      required:
      - count
      type: object
      properties:
        count:
          type: integer
          description: Count of dashboards to be migrated.
          example: 5
      description: Preview of the dashboard migration.
    Dashboard:
      allOf:
      - $ref: '#/components/schemas/DashboardRequest'
      - type: object
        properties:
          id:
            type: string
            description: 'Unique identifier for the dashboard. This id is used to get detailed information about the dashboard, such as panels, variables and the layout.

              '
            example: B23OjNs5ZCyn5VdMwOBoLo3PjgRnJSAlNTKEDAcpuDG2CIgRe9KFXMofm2H2
          contentId:
            type: string
            description: 'Content identifier for the dashboard. This id is used to connect to the Sumo Content Library and get general metadata about the dashboard. Use this id if you want to search for dashboards in Sumo folders.

              '
            example: '1'
          scheduleId:
            type: string
            description: 'Scheduled report identifier for the dashboard. Only most recently modified report schedule is rerun per dashboard. This id is used to manage the schedule details through the scheduled report API.

              '
            example: RdQHYPh2jxoS90DXtKfA7nAJV2rsQ9BncpfY7IkjNzQWi52ug85W7r6Rrmtd
          scheduleCount:
            type: integer
            description: Count of report schedules for the dashboard.
            format: int32
            example: 10
    Layout:
      required:
      - layoutStructures
      - layoutType
      type: object
      properties:
        layoutType:
          type: string
          description: The type of panel layout on the Dashboard. For example, Grid, Tabs, or Hierarchical. Currently supports `Grid` only.
          example: Grid
        layoutStructures:
          type: array
          description: Layout structures for the panel childen.
          items:
            $ref: '#/components/schemas/LayoutStructure'
      discriminator:
        propertyName: layoutType
    TopologyLabelMap:
      required:
      - data
      type: object
      properties:
        data:
          maxProperties: 1000
          type: object
          additionalProperties:
            $ref: '#/components/schemas/TopologyLabelValuesList'
          description: Map from topology labels to `TopologyLabelValuesList`.
      description: 'Map of the topology labels. Each label has a key and a list of values. If a value is `*`, it means the label will match content for all values of its key.

        '
      example:
        data:
          service:
          - kube-scheduler
          - kube-dns
    ReportAction:
      required:
      - actionType
      type: object
      properties:
        actionType:
          pattern: ^DirectDownloadReportAction$
          type: string
          description: Type of action.
          example: DirectDownloadReportAction
          x-pattern-message: should be 'DirectDownloadReportAction'
      description: The base class of all report action types. `DirectDownloadReportAction` downloads dashboard from browser. New action types may be supported in the future.
      discriminator:
        propertyName: actionType
    Organizations:
      type: object
      properties:
        defaultOrgIds:
          type: array
          description: The default list of organization IDs to run the dashboard by
          items:
            $ref: '#/components/schemas/OrgId'
      description: The organization details to run the dashboard by
    VariablesValuesData:
      required:
      - data
      type: object
      properties:
        data:
          maxProperties: 1000
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Data for variable values.
          default: {}
        richData:
          maxProperties: 1000
          type: object
          additionalProperties:
            $ref: '#/components/schemas/VariableValuesData'
          description: A rich form of data for the variable search, including variable values, status and variable type. This field is different from `data` in that it includes an object instead of list as the value in the map. The `data` field is kept for backwards compatibility, please use `richData` for all usages going forward.
    DashboardMigrationResult:
      required:
      - data
      - status
      type: object
      properties:
        data:
          maxProperties: 1000
          type: object
          additionalProperties:
            type: string
          description: 'A mapping of Legacy Dashboard Content Ids to migrated Dashboard(New) Content Ids. Only successful migration are shown here, see errors field for failed migrations and the failure reason.

            '
          example:
            '1': 64
        richData:
          maxProperties: 1000
          type: object
          additionalProperties:
            $ref: '#/components/schemas/MigratedDashboardInfo'
          description: 'A mapping of Legacy Dashboard Content Ids to migrated Dashboard(New) info. Only successful migration are shown here, see errors field for failed migrations and the failure reason.

            '
        status:
          $ref: '#/components/schemas/DashboardMigrationStatus'
        errors:
          maxProperties: 1000
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/ErrorDescription'
          description: A mapping of Legacy Dashboards Content Identifiers that failed validation to the failure reason(s).
        warnings:
          maxProperties: 1000
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/ErrorDescription'
          description: A mapping of Legacy Dashboards Content Identifiers to warnings.
    GenerateReportRequest:
      required:
      - action
      - exportFormat
      - template
      - timezone
      type: object
      properties:
        action:
          $ref: '#/components/schemas/ReportAction'
        exportFormat:
          pattern: ^(Pdf|Png)$
          type: string
          description: File format of the report. Can be `Pdf` or `Png`. `Pdf` is portable document format. `Png` is portable graphics image format.
          example: Pdf
          x-pattern-message: 'should be one of the following: ''Pdf'', ''Png'''
        timezone:
          type: string
          description: Time zone for the query time ranges. Follow the format in the [IANA Time Zone Database](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
          example: America/Los_Angeles
        template:
          $ref: '#/components/schemas/Template'
    ReportSchedule:
      allOf:
      - $ref: '#/components/schemas/ReportScheduleRequest'
      - type: object
        properties:
          scheduleId:
            type: string
            description: Identifier of the dashboard report schedule.
            example: RdQHYPh2jxoS90DXtKfA7nAJV2rsQ9BncpfY7IkjNzQWi52ug85W7r6Rrmtd
    DashboardSearchStatus:
      required:
      - state
      type: object
      properties:
        state:
          type: string
          description: Current state of the search.
        percentCompleted:
          maximum: 100
          minimum: 0
          type: integer
          description: Percentage of search completed.
          format: int32
    DashboardMigrationStatus:
      required:
      - failedCount
      - successCount
      - totalCount
      type: object
      properties:
        successCount:
          type: integer
          description: A successful migration to Dashboard(New).
          example: 3
        failedCount:
          type: integer
          description: A failed migration to Dashboard(New).
          example: 1
        totalCount:
          type: integer
          description: The total number of Legacy Dashboards to migrate.
          example: 10
    MigratedDashboardInfo:
      required:
      - id
      - name
      type: object
      properties:
        id:
          type: string
          description: The id of the Dashboard(New)
          example: jgiJLiFP9dX6YdNG0u9t0yqUVOF0iIlNcX0usw2Uy6g8BYTgBj0vYVeiRjRj
        name:
          type: string
          description: The name of the Dashboard(New)
          example: New Dashboard
    Panel:
      required:
      - key
      - panelType
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the panel.
          example: 2F7D449E3D511066
        key:
          type: string
          description: 'Key for the panel. Used to create searches for the queries in the panel and configure the layout of the panel in the dashboard.

            '
          example: panelca6280e4a75fca45
        title:
          type: string
          description: Title of the panel.
          example: This panel shows memory usage for your kubernetes pod.
        visualSettings:
          type: string
          description: Visual settings of the panel.
          example: '{\"general\":{\"type\":\"column\"}'
        keepVisualSettingsConsistentWithParent:
          type: boolean
          description: Keeps the visual settings, like series colors, consistent with the settings of the parent panel.
          default: true
        panelType:
          type: string
          description: Type of panel.
          example: SumoSearchPanel
      discriminator:
        propertyName: panelType
    ErrorDescription:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          description: An error code describing the type of error.
          example: auth:password_too_short
        message:
          type: string
          description: A short English-language description of the error.
          example: Your password was too short.
        detail:
          type: string
          description: An optional fuller English-language description of the error.
          example: Your password was 5 characters long, the minimum length is 12 characters. See http://example.com/password for more information.
        meta:
          type: object
          description: An optional list of metadata about the error.
          example:
            minLength: 12
            actualLength: 5
    ResolvableTimeRange:
      required:
      - type
      type: object
      properties:
        type:
          type: string
          description: Type of the time range. Value must be either `CompleteLiteralTimeRange` or `BeginBoundedTimeRange`.
      example:
        type: BeginBoundedTimeRange
        from:
          type: RelativeTimeRangeBoundary
          relativeTime: -15m
      discriminator:
        propertyName: type
    Template:
      required:
      - templateType
      type: object
      properties:
        templateType:
          pattern: ^(DashboardTemplate|DashboardReportModeTemplate)$
          type: string
          description: The type of template. `DashboardTemplate` provides a snapshot view of the exported dashboard. `DashboardReportModeTemplate` provides a printer-friendly view of the exported dashboard. New templates may be supported in the future.
          example: DashboardTemplate
          x-pattern-message: Must be `DashboardTemplate`, or `DashboardReportModeTemplate`
      discriminator:
        propertyName: templateType
    Variable:
      required:
      - name
      - sourceDefinition
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the variable.
        name:
          maxLength: 256
          type: string
          description: Name of the variable. The variable name is case-insensitive.
          example: _sourceHost
        displayName:
          maxLength: 256
          type: string
          description: 'Display name of the variable shown in the UI. If this field is empty, the name field will be used.

            The display name is case-insensitive. Only numbers, and underscores are allowed in the variable name.

            This field is not yet supported by the UI.

            '
          example: Source Host
        defaultValue:
          type: string
          description: Default value of the variable.
          example: default_value
        sourceDefinition:
          $ref: '#/components/schemas/VariableSourceDefinition'
        allowMultiSelect:
          type: boolean
          description: Allow multiple selections in the values dropdown.
          example: false
          default: false
        includeAllOption:
          type: boolean
          description: Include an "All" option at the top of the variable's values dropdown.
          example: true
          default: true
        hideFromUI:
          type: boolean
          description: Hide the variable in the dashboard UI.
          example: false
          default: false
        valueType:
          type: string
          description: 'The type of value of the variable. Allowed values are `String`, Any` and `Numeric`. - `String` considers as a single phrase and will wrap in double-quotes. - `Any` is all characters. - `Numeric` consists of a numeric value for variables, it will be displayed differently in the UI. - `Integer` is a variable with an `Int` value. - `Long` is a variable with a `Long` value. - `Double` is a variable with a `Double` value. - `Boolean` is a variable with a `Boolean` value.

            '
          example: Any
          default: Any
    Action:
      required:
      - connectionType
      type: object
      properties:
        connectionType:
          pattern: ^(Email|AWSLambda|AzureFunctions|Datadog|HipChat|Jira|NewRelic|Opsgenie|PagerDuty|Slack|MicrosoftTeams|ServiceNow|SumoCloudSOAR|Webhook)$
          type: string
          description: "Connection type of the connection. Valid values:\n  1.  `Email`\n  2.  `AWSLambda`\n  3.  `AzureFunctions`\n  4.  `Datadog`\n  5.  `HipChat`\n  6.  `Jira`\n  7.  `NewRelic`\n  8.  `Opsgenie`\n  9.  `PagerDuty`\n  10. `Slack`\n  11. `MicrosoftTeams`\n  12. `ServiceNow`\n  13. `SumoCloudSOAR`\n  14. `Webhook`"
          x-pattern-message: 'should be one of the following: ''Email'', ''AWSLambda'', ''AzureFunctions'', ''Datadog'', ''HipChat'', ''Jira'', ''NewRelic'', ''Opsgenie'', ''PagerDuty'', ''Slack'', ''MicrosoftTeams'', ''ServiceNow'', ''SumoCloudSOAR'' and ''Webhook'''
      description: The base class of all connection types.
      discriminator:
        propertyName: connectionType
    PaginatedReportSchedules:
      required:
      - reportSchedules
      type: object
      properties:
        reportSchedules:
          type: array
          description: List of dashboard report schedules.
          items:
            $ref: '#/components/schemas/ReportSchedule'
        next:
          type: string
          description: Next continuation token. `token` is set to null when no more pages are left.
          example: GDCiRv4vebF3UWFJQ1kySXBOR3Bzh69GR0RyWm9vCtc
    LayoutStructure:
      required:
      - key
      - structure
      type: object
      properties:
        key:
          type: string
          description: The identifier of the panel that this structure applies to.
          example: panelPANE-3DC454FD977E2A46
        structure:
          type: string
          description: The structure of a panel.
          example: '{\"height\":5,\"width\":9,\"x\":0,\"y\":0}'
    PaginatedDashboards:
      required:
      - dashboards
      type: object
      properties:
        dashboards:
          type: array
          description: List of dashboards.
          items:
            $ref: '#/components/schemas/Dashboard'
        next:
          type: string
          description: Next continuation token. `next` is set to null when no more pages are left.
          example: GDCiRv4vebF3UWFJQ1kySXBOR3Bzh69GR0RyWm9vCtc
    BeginAsyncJobResponseV2:
      required:
      - jobId
      type: object
      properties:
        jobId:
          type: string
          description: Identifier of the asynchronous job. Use it to get status of the job.
          example: C03E086C137F38B4
    AsyncJobStatus:
      required:
      - status
      type: object
      properties:
        status:
          type: string
          description: Whether or not the request is in progress (`InProgress`), has completed successfully (`Success`), or has completed with an error (`Failed`).
        statusMessage:
          type: string
          description: Additional status message generated if the status is not `Failed`.
        error:
          $ref: '#/components/schemas/ErrorDescription'
      example:
        status: Success
        statusMessage: ''
    DashboardRequest:
      required:
      - timeRange
      - title
      type: object
      properties:
        title:
          maxLength: 255
          minLength: 1
          type: string
          description: Title of the dashboard.
          example: Kubernetes Dashboard
        description:
          type: string
          description: Description of the dashboard.
          example: A view of pods, namespaces and nodes of your cluster.
        folderId:
          type: string
          description: 'The identifier of the folder to save the dashboard in. By default it is saved in your personal folder.

            '
          example: 000000000C1C17C6
        topologyLabelMap:
          $ref: '#/components/schemas/TopologyLabelMap'
        domain:
          type: string
          description: If set denotes that the dashboard concerns a given domain (e.g. `aws`, `k8s`, `app`).
          example: aws
          default: ''
        hierarchies:
          maxItems: 20
          type: array
          description: If set to non-empty array denotes that the dashboard concerns given hierarchies.
          example:
          - Kubernetes Node View
          items:
            type: string
          default: []
        refreshInterval:
          type: integer
          description: 'Interval of time (in seconds) to automatically refresh the dashboard. A value of 0 means we never automatically refresh the dashboard. Allowed values are `0`, `30`, `60`, `120`, `300`, `900`, `1800`, `3600`, `7200`, `86400`.

            '
          format: int32
          example: 30
        timeRange:
          $ref: '#/components/schemas/ResolvableTimeRange'
        panels:
          type: array
          description: Panels in the dashboard.
          items:
            $ref: '#/components/schemas/Panel'
        layout:
          $ref: '#/components/schemas/Layout'
        variables:
          type: array
          description: Variables to apply to the panels.
          items:
            $ref: '#/components/schemas/Variable'
        theme:
          pattern: ^(light|dark|Light|Dark)$
          type: string
          description: Theme for the dashboard. Either `Light` or `Dark`.
          example: light
          default: Light
          x-pattern-message: Must be `Light`, or `Dark`
        isPublic:
          type: boolean
          description: Is the dashboard public
          default: false
        highlightViolations:
          type: boolean
          description: Whether to highlight threshold violations.
          default: false
        organizations:
          $ref: '#/components/schemas/Organizations'
    OrgId:
      maxLength: 23
      minLength: 19
      type: string
      description: The unique identifier of an organization. It consists of the deployment ID and the hexadecimal account ID separated by a dash `-` character.
      example: us2-00000000FF42A0C3
    VariableSourceDefinition:
      required:
      - variableSourceType
      type: object
      properties:
        variableSourceType:
          type: string
          description: Source type of the variable values.
          example: MetadataVariableSourceDefinition
      discriminator:
        propertyName: variableSourceType
    BeginAsyncJobResponse:
      required:
      - id
      type: object
      properties:
        id:
          type: string
          description: Identifier to get the status of an asynchronous job.
          example: C03E086C137F38B4
    DashboardMigrationRequest:
      required:
      - contentIds
      type: object
      properties:
        contentIds:
          maxItems: 50
          type: array
          description: Content identifiers of the Legacy dashboards.
          items:
            type: string
            description: Content identifier of the Legacy dashboard.
            example: 00000000000001C8
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
x-tagGroups:
- name: Archive Management
  tags:
  - archiveManagement
- name: Health Events
  tags:
  - healthEvents
- name: Infrequent Data Tier
  tags:
  - logSearchesEstimatedUsage
- name: Ingest Budgets Management V2
  tags:
  - ingestBudgetManagementV2
- name: Library Management
  tags:
  - appManagement
  - appManagementV2
  - contentManagement
  - dashboardManagement
  - folderManagement
  - lookupManagement
  - contentPermissions
  - logSearchesManagement
  - parsersLibraryManagement
- name: Metrics
  tags:
  - metricsSearchesManagement
  - transformationRuleManagement
  - metricsQuery
  - metricsSearchesManagementV2
- name: Security Management
  tags:
  - accessKeyManagement
  - oauthManagement
  - accountManagement
  - passwordPolicy
  - policiesManagement
  - samlConfigurationManagement
  - serviceAllowlistManagement
  - serviceAccountManagement
  - scimUserManagement
- name: Organizations Management
  tags:
  - orgsManagement
- name: Settings Management
  tags:
  - connectionManagement
  - dynamicParsingRuleManagement
  - extractionRuleManagement
  - fieldManagementV1
  - partitionManagement
  - scheduledViewManagement
  - logsDataForwardingManagement
  - dataDeletionRules
- name: Tokens Management
  tags:
  - tokensLibraryManagement
- name: Tracing
  tags:
  - traces
  - spanAnalytics
  - serviceMap
- name: Users and Roles Management
  tags:
  - roleManagement
  - roleManagementV2
  - userManagement
- name: Threat Intel Ingest Management
  tags:
  - threatIntelIngest
  - threatIntelIngestProducer
- name: OpenTelemetry Collector Management
  tags:
  - otCollectorManagementExternal
- name: Source Template Management
  tags:
  - sourceTemplateManagementExternal
- name: Schema Base Management
  tags:
  - schemaBaseManagement
- name: Event Analytics Management
  tags:
  - eventAnalytics
- name: Budget Management
  tags:
  - budgetManagement
- name: Macro Management
  tags:
  - macroManagement
- name: Muting Schedules Management
  tags:
  - mutingSchedulesLibraryManagement
- name: SLO Management
  tags:
  - slosLibraryManagement
- name: Monitor Management
  tags:
  - monitorsLibraryManagement
