openapi: 3.2.0
info:
  title: Sumo Logic Muting Schedules Library Management API
  description: '# Getting Started

    Welcome to the Sumo Logic API reference.'
  version: 1.0.0
  x-logo:
    url: ./sumologic_logo.png
servers:
- url: https://api.au.sumologic.com/api/
  description: AU deployment API server
- url: https://api.ca.sumologic.com/api/
  description: CA deployment API server
- url: https://api.de.sumologic.com/api/
  description: DE deployment API server
- url: https://api.eu.sumologic.com/api/
  description: EU deployment API server
- url: https://api.fed.sumologic.com/api/
  description: FED deployment API server
- url: https://api.jp.sumologic.com/api/
  description: JP deployment API server
- url: https://api.kr.sumologic.com/api/
  description: KR deployment API server
- url: https://api.in.sumologic.com/api/
  description: IN deployment API server
- url: https://api.sumologic.com/api/
  description: US1 deployment API server
- url: https://api.us2.sumologic.com/api/
  description: US2 deployment API server
security:
- basicAuth: []
tags:
- name: mutingSchedulesLibraryManagement
  description: 'Muting Schedules Management API.


    Muting Schedule allows you to pause alert notifications from monitors. When a muting schedule is active on a monitor,

    the monitor will still generate alerts, but no notifications will be sent.

    For more information see Muting Schedules.'
  x-displayName: Muting Schedules
paths:
  /v1/mutingSchedules:
    get:
      tags:
      - mutingSchedulesLibraryManagement
      summary: Bulk Read A Mutingschedule Or Folder
      description: Bulk read a mutingschedule or folder by the given identifiers from the mutingSchedules library.
      operationId: mutingSchedulesReadByIds
      parameters:
      - name: ids
        in: query
        description: A comma-separated list of identifiers.
        required: true
        schema:
          type: array
          items:
            type: string
        example: 0000000000000001,0000000000000002,0000000000000003
      - name: skipChildren
        in: query
        description: a boolean parameter to control skipping fetching children of requested folder(s)
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: A map between an identifier and its definition (mutingschedule or folder).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdToMutingSchedulesLibraryBaseResponseMap'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - mutingSchedulesLibraryManagement
      summary: Create A Mutingschedule Or Folder
      description: Create a mutingschedule or folder in the mutingSchedules library.
      operationId: mutingSchedulesCreate
      parameters:
      - name: parentId
        in: query
        description: Identifier of the parent folder in which to create the mutingschedule or folder.
        required: true
        schema:
          type: string
      requestBody:
        description: The mutingschedule or folder to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutingSchedulesLibraryBase'
        required: true
      responses:
        '200':
          description: The mutingschedule or folder was created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MutingSchedulesLibraryBaseResponse'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - mutingSchedulesLibraryManagement
      summary: Bulk Delete A Mutingschedule Or Folder
      description: Bulk delete a mutingschedule or folder by the given identifiers in the mutingSchedules library.
      operationId: mutingSchedulesDeleteByIds
      parameters:
      - name: ids
        in: query
        description: A comma-separated list of identifiers.
        required: true
        schema:
          type: array
          items:
            type: string
        example: 0000000000000001,0000000000000002,0000000000000003
      responses:
        '200':
          description: A map between the deleted identifier and its metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdToMutingSchedulesLibraryBaseResponseMap'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/mutingSchedules/root:
    get:
      tags:
      - mutingSchedulesLibraryManagement
      summary: Get The Root MutingSchedules Folder
      description: Get the root folder in the mutingSchedules library.
      operationId: getMutingSchedulesLibraryRoot
      responses:
        '200':
          description: Root folder of the mutingSchedules library.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MutingSchedulesLibraryFolderResponse'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/mutingSchedules/search:
    get:
      tags:
      - mutingSchedulesLibraryManagement
      summary: Search For A Mutingschedule Or Folder
      description: Search for a mutingschedule or folder in the mutingSchedules library structure.
      operationId: mutingSchedulesSearch
      parameters:
      - name: query
        in: query
        description: "The search query to find mutingschedule or folder. Below is the list of different filters with examples:\n  - **createdBy** : Filter by the user's identifier who created the content. Example: `createdBy:000000000000968B`.\n  - **createdBefore** : Filter by the content objects created before the given timestamp(in milliseconds). Example: `createdBefore:1457997222`.\n  - **createdAfter** : Filter by the content objects created after the given timestamp(in milliseconds). Example: `createdAfter:1457997111`.\n  - **modifiedBefore** : Filter by the content objects modified before the given timestamp(in milliseconds). Example: `modifiedBefore:1457997222`.\n  - **modifiedAfter** : Filter by the content objects modified after the given timestamp(in milliseconds). Example: `modifiedAfter:1457997111`.\n  - **type** : Filter by the type of the content object. Example: `type:folder`.\n\nYou can also use multiple filters in one query. For example to search for all content objects created by user with identifier 000000000000968B with creation timestamp after 1457997222 containing the text Test, the query would look like:\n\n  `createdBy:000000000000968B createdAfter:1457997222 Test`"
        required: true
        schema:
          type: string
        example: createdBy:000000000000968B Test
      - name: limit
        in: query
        description: Maximum number of items you want in the response.
        required: false
        schema:
          maximum: 5000
          type: integer
          format: int32
          default: 1000
        example: 10
      - name: offset
        in: query
        description: The position or row from where to start the search operation.
        required: false
        schema:
          type: integer
          format: int32
          default: 0
        example: 5
      - name: skipChildren
        in: query
        description: a boolean parameter to control skipping fetching children of requested folder(s)
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: List of folders and mutingSchedules matching the search query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMutingSchedulesLibraryItemWithPath'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/mutingSchedules/{id}:
    get:
      tags:
      - mutingSchedulesLibraryManagement
      summary: Get A Mutingschedule Or Folder
      description: Get a mutingschedule or folder from the mutingSchedules library.
      operationId: mutingSchedulesReadById
      parameters:
      - name: id
        in: path
        description: Identifier of the mutingschedule or folder to read.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Requested mutingschedule or folder.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MutingSchedulesLibraryBaseResponse'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
      - mutingSchedulesLibraryManagement
      summary: Update A Mutingschedule Or Folder
      description: Update a mutingschedule or folder in the mutingSchedules library.
      operationId: mutingSchedulesUpdateById
      parameters:
      - name: id
        in: path
        description: Identifier of the mutingschedule or folder to update.
        required: true
        schema:
          type: string
      requestBody:
        description: The mutingschedule or folder to update. The content version must match its latest version number in the mutingSchedules library. If the version does not match it will not be updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutingSchedulesLibraryBaseUpdate'
        required: true
      responses:
        '200':
          description: The mutingschedule or folder was updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MutingSchedulesLibraryBaseResponse'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - mutingSchedulesLibraryManagement
      summary: Delete A Mutingschedule Or Folder
      description: Delete a mutingschedule or folder from the mutingSchedules library.
      operationId: mutingSchedulesDeleteById
      parameters:
      - name: id
        in: path
        description: Identifier of the mutingschedule or folder to delete.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: The mutingschedule or folder was successfully deleted.
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/mutingSchedules/{id}/path:
    get:
      tags:
      - mutingSchedulesLibraryManagement
      summary: Get The Path Of A Mutingschedule Or Folder
      description: Get the full path of the mutingschedule or folder in the mutingSchedules library.
      operationId: getMutingSchedulesFullPath
      parameters:
      - name: id
        in: path
        description: Identifier of the mutingschedule or folder.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Full path of the mutingschedule or folder.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Path'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/mutingSchedules/{id}/copy:
    post:
      tags:
      - mutingSchedulesLibraryManagement
      summary: Copy A Mutingschedule Or Folder
      description: Copy a mutingschedule or folder in the mutingSchedules library.
      operationId: mutingSchedulesCopy
      parameters:
      - name: id
        in: path
        description: Identifier of the mutingschedule or folder to copy.
        required: true
        schema:
          type: string
      requestBody:
        description: "Fields include:\n  1) Identifier of the parent folder to copy to.\n  2) Optionally provide a new name.\n  3) Optionally provide a new description.\n  4) Optionally set to true if you want to copy and preserve the locked status. Requires `LockMutingSchedules` capability."
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentCopyParams'
        required: true
      responses:
        '200':
          description: The mutingschedule or folder was copied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MutingSchedulesLibraryBaseResponse'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/mutingSchedules/{id}/export:
    get:
      tags:
      - mutingSchedulesLibraryManagement
      summary: Export A Mutingschedule Or Folder
      description: Export a mutingschedule or folder. If the given identifier is a folder, everything under the folder is exported recursively with folder as the root.
      operationId: mutingSchedulesExportItem
      parameters:
      - name: id
        in: path
        description: Identifier of the mutingschedule or folder to export.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Exported mutingschedule or folder.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MutingSchedulesLibraryBaseExport'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/mutingSchedules/{parentId}/import:
    post:
      tags:
      - mutingSchedulesLibraryManagement
      summary: Import A Mutingschedule Or Folder
      description: Import a mutingschedule or folder.
      operationId: mutingSchedulesImportItem
      parameters:
      - name: parentId
        in: path
        description: Identifier of the parent folder in which to import the mutingschedule or folder.
        required: true
        schema:
          type: string
      requestBody:
        description: The mutingschedule or folder to be imported.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutingSchedulesLibraryBaseExport'
        required: true
      responses:
        '200':
          description: 'Newly imported mutingschedule or folder. NOTE: Permissions field will not be filled (empty list).'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MutingSchedulesLibraryBaseResponse'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    MutingSchedulesLibraryBase:
      required:
      - name
      - type
      type: object
      properties:
        name:
          type: string
          description: Name of the mutingschedule or folder.
        description:
          type: string
          description: Description of the mutingschedule or folder.
          default: ''
        type:
          type: string
          description: "Type of the object model. Valid values:\n  1) MutingSchedulesLibraryMutingschedule\n  2) MutingSchedulesLibraryFolder"
      discriminator:
        propertyName: type
    MutingSchedulesLibraryFolderResponse:
      allOf:
      - $ref: '#/components/schemas/MutingSchedulesLibraryBaseResponse'
      - required:
        - children
        - permissions
        type: object
        properties:
          permissions:
            type: array
            description: Aggregated permission summary for the calling user. If detailed permission statements are required, please call list permissions endpoint.
            example:
            - Read
            - Delete
            items:
              type: string
          children:
            type: array
            description: 'Children of the folder. NOTE: Permissions field will not be filled (empty list) for children.'
            items:
              $ref: '#/components/schemas/MutingSchedulesLibraryBaseResponse'
    ErrorResponse:
      required:
      - errors
      - id
      type: object
      properties:
        id:
          type: string
          description: An identifier for the error; this is unique to the specific API request.
          example: IUUQI-DGH5I-TJ045
        errors:
          type: array
          description: A list of one or more causes of the error.
          example:
          - code: auth:password_too_short
            message: Your password was too short.
          - code: auth:password_character_classes
            message: Your password did not contain any non-alphanumeric characters
          items:
            $ref: '#/components/schemas/ErrorDescription'
    ErrorDescription:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          description: An error code describing the type of error.
          example: auth:password_too_short
        message:
          type: string
          description: A short English-language description of the error.
          example: Your password was too short.
        detail:
          type: string
          description: An optional fuller English-language description of the error.
          example: Your password was 5 characters long, the minimum length is 12 characters. See http://example.com/password for more information.
        meta:
          type: object
          description: An optional list of metadata about the error.
          example:
            minLength: 12
            actualLength: 5
    MutingSchedulesLibraryBaseUpdate:
      required:
      - name
      - type
      - version
      type: object
      properties:
        name:
          type: string
          description: The name of the mutingschedule or folder.
        description:
          type: string
          description: The description of the mutingschedule or folder.
          default: ''
        version:
          type: integer
          description: The version of the mutingschedule or folder.
          format: int64
        type:
          type: string
          description: Type of the object model.
      discriminator:
        propertyName: type
    MutingSchedulesLibraryBaseResponse:
      required:
      - contentType
      - createdAt
      - createdBy
      - description
      - id
      - isMutable
      - isSystem
      - modifiedAt
      - modifiedBy
      - name
      - parentId
      - type
      - version
      type: object
      properties:
        id:
          type: string
          description: Identifier of the mutingschedule or folder.
        name:
          type: string
          description: Identifier of the mutingschedule or folder.
        description:
          type: string
          description: Description of the mutingschedule or folder.
        version:
          type: integer
          description: Version of the mutingschedule or folder.
          format: int64
        createdAt:
          type: string
          description: Creation timestamp in UTC in [RFC3339](https://tools.ietf.org/html/rfc3339) format.
          format: date-time
        createdBy:
          type: string
          description: Identifier of the user who created the resource.
        modifiedAt:
          type: string
          description: Last modification timestamp in UTC.
          format: date-time
        modifiedBy:
          type: string
          description: Identifier of the user who last modified the resource.
        parentId:
          type: string
          description: Identifier of the parent folder.
        contentType:
          type: string
          description: "Type of the content. Valid values:\n  1) Mutingschedule\n  2) Folder"
        type:
          type: string
          description: Type of the object model.
        isSystem:
          type: boolean
          description: System objects are objects provided by Sumo Logic. System objects can only be localized. Non-local fields can't be updated.
        isMutable:
          type: boolean
          description: Immutable objects are "READ-ONLY".
        permissions:
          type: array
          description: Aggregated permission summary for the calling user. If detailed permission statements are required, please call list permissions endpoint.
          example:
          - Read
          - Delete
          items:
            type: string
      discriminator:
        propertyName: type
    MutingSchedulesLibraryBaseExport:
      required:
      - name
      - type
      type: object
      properties:
        name:
          type: string
          description: Name of the mutingschedule or folder.
        description:
          type: string
          description: Description of the mutingschedule or folder.
        type:
          type: string
          description: Type of the object model.
      discriminator:
        propertyName: type
    ListMutingSchedulesLibraryItemWithPath:
      type: array
      description: Multi-type list of types mutingschedule or folder.
      items:
        $ref: '#/components/schemas/MutingSchedulesLibraryItemWithPath'
    MutingSchedulesLibraryItemWithPath:
      required:
      - item
      - path
      type: object
      properties:
        item:
          $ref: '#/components/schemas/MutingSchedulesLibraryBaseResponse'
        path:
          type: string
          description: Path of the mutingschedule or folder.
          example: /MutingSchedules/SampleFolder/TestMutingschedule
    IdToMutingSchedulesLibraryBaseResponseMap:
      maxProperties: 1000
      type: object
      additionalProperties:
        $ref: '#/components/schemas/MutingSchedulesLibraryBaseResponse'
    Path:
      required:
      - path
      - pathItems
      type: object
      properties:
        pathItems:
          type: array
          description: Elements of the path.
          items:
            $ref: '#/components/schemas/PathItem'
        path:
          type: string
          description: String representation of the path.
    ContentCopyParams:
      required:
      - parentId
      type: object
      properties:
        parentId:
          type: string
          description: Identifier of the parent folder to copy to.
        name:
          type: string
          description: Optionally provide a new name.
        description:
          type: string
          description: Optionally provide a new description.
    PathItem:
      required:
      - id
      - name
      type: object
      properties:
        id:
          type: string
          description: Identifier of the path element.
        name:
          type: string
          description: Name of the path element.
        description:
          type: string
          description: Description of the path element.
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
x-tagGroups:
- name: Archive Management
  tags:
  - archiveManagement
- name: Health Events
  tags:
  - healthEvents
- name: Infrequent Data Tier
  tags:
  - logSearchesEstimatedUsage
- name: Ingest Budgets Management V2
  tags:
  - ingestBudgetManagementV2
- name: Library Management
  tags:
  - appManagement
  - appManagementV2
  - contentManagement
  - dashboardManagement
  - folderManagement
  - lookupManagement
  - contentPermissions
  - logSearchesManagement
  - parsersLibraryManagement
- name: Metrics
  tags:
  - metricsSearchesManagement
  - transformationRuleManagement
  - metricsQuery
  - metricsSearchesManagementV2
- name: Security Management
  tags:
  - accessKeyManagement
  - oauthManagement
  - accountManagement
  - passwordPolicy
  - policiesManagement
  - samlConfigurationManagement
  - serviceAllowlistManagement
  - serviceAccountManagement
  - scimUserManagement
- name: Organizations Management
  tags:
  - orgsManagement
- name: Settings Management
  tags:
  - connectionManagement
  - dynamicParsingRuleManagement
  - extractionRuleManagement
  - fieldManagementV1
  - partitionManagement
  - scheduledViewManagement
  - logsDataForwardingManagement
  - dataDeletionRules
- name: Tokens Management
  tags:
  - tokensLibraryManagement
- name: Tracing
  tags:
  - traces
  - spanAnalytics
  - serviceMap
- name: Users and Roles Management
  tags:
  - roleManagement
  - roleManagementV2
  - userManagement
- name: Threat Intel Ingest Management
  tags:
  - threatIntelIngest
  - threatIntelIngestProducer
- name: OpenTelemetry Collector Management
  tags:
  - otCollectorManagementExternal
- name: Source Template Management
  tags:
  - sourceTemplateManagementExternal
- name: Schema Base Management
  tags:
  - schemaBaseManagement
- name: Event Analytics Management
  tags:
  - eventAnalytics
- name: Budget Management
  tags:
  - budgetManagement
- name: Macro Management
  tags:
  - macroManagement
- name: Muting Schedules Management
  tags:
  - mutingSchedulesLibraryManagement
- name: SLO Management
  tags:
  - slosLibraryManagement
- name: Monitor Management
  tags:
  - monitorsLibraryManagement
