openapi: 3.2.0
info:
  title: Sumo Logic Schema Base Management API
  description: '# Getting Started

    Welcome to the Sumo Logic API reference.'
  version: 1.0.0
  x-logo:
    url: ./sumologic_logo.png
servers:
- url: https://api.au.sumologic.com/api/
  description: AU deployment API server
- url: https://api.ca.sumologic.com/api/
  description: CA deployment API server
- url: https://api.de.sumologic.com/api/
  description: DE deployment API server
- url: https://api.eu.sumologic.com/api/
  description: EU deployment API server
- url: https://api.fed.sumologic.com/api/
  description: FED deployment API server
- url: https://api.jp.sumologic.com/api/
  description: JP deployment API server
- url: https://api.kr.sumologic.com/api/
  description: KR deployment API server
- url: https://api.in.sumologic.com/api/
  description: IN deployment API server
- url: https://api.sumologic.com/api/
  description: US1 deployment API server
- url: https://api.us2.sumologic.com/api/
  description: US2 deployment API server
security:
- basicAuth: []
tags:
- name: schemaBaseManagement
  description: Schema Base Management APIs.
  x-displayName: Schema Base Management
paths:
  /v1/schemaIdentitiesGrouped:
    get:
      tags:
      - schemaBaseManagement
      summary: Get Schema Base Identities Grouped By Type And Sorted By Version
      description: Get a summary of all available schema bases grouped by type and their versions sorted by latest.
      operationId: getSchemaIdentitiesGrouped
      responses:
        '200':
          description: A summary of all available schema bases grouped by type and their versions sorted by latest.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSchemaBaseTypeToVersionsResponse'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    SchemaBaseTemplateYaml:
      type: object
      properties:
        templateYaml:
          maxLength: 10960
          minLength: 1
          type: string
          description: The template yaml of schema.
          example: example templateYaml
    ErrorResponse:
      required:
      - errors
      - id
      type: object
      properties:
        id:
          type: string
          description: An identifier for the error; this is unique to the specific API request.
          example: IUUQI-DGH5I-TJ045
        errors:
          type: array
          description: A list of one or more causes of the error.
          example:
          - code: auth:password_too_short
            message: Your password was too short.
          - code: auth:password_character_classes
            message: Your password did not contain any non-alphanumeric characters
          items:
            $ref: '#/components/schemas/ErrorDescription'
    SchemaBaseComplete:
      type: object
      allOf:
      - $ref: '#/components/schemas/SchemaBaseIdentityWithMetadata'
      - $ref: '#/components/schemas/SchemaBaseTemplateYaml'
    ErrorDescription:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          description: An error code describing the type of error.
          example: auth:password_too_short
        message:
          type: string
          description: A short English-language description of the error.
          example: Your password was too short.
        detail:
          type: string
          description: An optional fuller English-language description of the error.
          example: Your password was 5 characters long, the minimum length is 12 characters. See http://example.com/password for more information.
        meta:
          type: object
          description: An optional list of metadata about the error.
          example:
            minLength: 12
            actualLength: 5
    SchemaBaseTypeToVersionsResponse:
      required:
      - type
      - versions
      type: object
      properties:
        type:
          type: string
          description: The type of the schema.
          example: Okta
        versions:
          type: array
          description: List of schema base identities sorted by latest version for a specific schema type.
          items:
            $ref: '#/components/schemas/SchemaBaseComplete'
      description: Map of the schema base type to its list of schema base identities.
    SchemaBaseIdentity:
      required:
      - family
      - schema
      - type
      - version
      type: object
      properties:
        type:
          maxLength: 128
          minLength: 1
          type: string
          description: The type of the integration.
          example: Okta
        version:
          maxLength: 128
          minLength: 5
          pattern: ^([0-9]+)\.([0-9]+)\.([0-9]+)$
          type: string
          description: The version (or image tag) of the integration. Follows the Major.Minor.Patch semantic versioning format.
          example: 1.0.0
          x-pattern-message: 'must follow semantic versioning: https://semver.org/'
        description:
          maxLength: 1024
          minLength: 0
          type: string
          description: The description of the integration.
          example: An Okta integration that collects Okta event logs into Sumo Logic.
        manifest:
          maxProperties: 1000
          type: object
          additionalProperties: true
          description: The manifest of the integration.
        schema:
          maxProperties: 1000
          type: object
          additionalProperties: true
          description: The schema in JSON Schema specification.
        family:
          type: string
          description: The family to which schema belong.
          enum:
          - OTC_Source_Template
    ListSchemaBaseTypeToVersionsResponse:
      required:
      - data
      type: object
      properties:
        data:
          type: array
          description: List of maps containing the mappings schema type -> versions.
          items:
            $ref: '#/components/schemas/SchemaBaseTypeToVersionsResponse'
    SchemaBaseIdentityWithMetadata:
      type: object
      allOf:
      - $ref: '#/components/schemas/SchemaBaseIdentity'
      - required:
        - id
        - type
        - version
        properties:
          id:
            type: string
            description: Unique identifier of the schema.
          createdAt:
            type: string
            description: Creation timestamp in UTC in [RFC3339](https://tools.ietf.org/html/rfc3339) format.
            format: date-time
            example: 2018-10-16 09:10:00+00:00
          modifiedAt:
            type: string
            description: Last modification timestamp in UTC.
            format: date-time
            example: 2018-10-16 09:10:00+00:00
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
x-tagGroups:
- name: Archive Management
  tags:
  - archiveManagement
- name: Health Events
  tags:
  - healthEvents
- name: Infrequent Data Tier
  tags:
  - logSearchesEstimatedUsage
- name: Ingest Budgets Management V2
  tags:
  - ingestBudgetManagementV2
- name: Library Management
  tags:
  - appManagement
  - appManagementV2
  - contentManagement
  - dashboardManagement
  - folderManagement
  - lookupManagement
  - contentPermissions
  - logSearchesManagement
  - parsersLibraryManagement
- name: Metrics
  tags:
  - metricsSearchesManagement
  - transformationRuleManagement
  - metricsQuery
  - metricsSearchesManagementV2
- name: Security Management
  tags:
  - accessKeyManagement
  - oauthManagement
  - accountManagement
  - passwordPolicy
  - policiesManagement
  - samlConfigurationManagement
  - serviceAllowlistManagement
  - serviceAccountManagement
  - scimUserManagement
- name: Organizations Management
  tags:
  - orgsManagement
- name: Settings Management
  tags:
  - connectionManagement
  - dynamicParsingRuleManagement
  - extractionRuleManagement
  - fieldManagementV1
  - partitionManagement
  - scheduledViewManagement
  - logsDataForwardingManagement
  - dataDeletionRules
- name: Tokens Management
  tags:
  - tokensLibraryManagement
- name: Tracing
  tags:
  - traces
  - spanAnalytics
  - serviceMap
- name: Users and Roles Management
  tags:
  - roleManagement
  - roleManagementV2
  - userManagement
- name: Threat Intel Ingest Management
  tags:
  - threatIntelIngest
  - threatIntelIngestProducer
- name: OpenTelemetry Collector Management
  tags:
  - otCollectorManagementExternal
- name: Source Template Management
  tags:
  - sourceTemplateManagementExternal
- name: Schema Base Management
  tags:
  - schemaBaseManagement
- name: Event Analytics Management
  tags:
  - eventAnalytics
- name: Budget Management
  tags:
  - budgetManagement
- name: Macro Management
  tags:
  - macroManagement
- name: Muting Schedules Management
  tags:
  - mutingSchedulesLibraryManagement
- name: SLO Management
  tags:
  - slosLibraryManagement
- name: Monitor Management
  tags:
  - monitorsLibraryManagement
