openapi: 3.2.0
info:
  title: Sumo Logic Ot Collector Management External API
  description: '# Getting Started

    Welcome to the Sumo Logic API reference.'
  version: 1.0.0
  x-logo:
    url: ./sumologic_logo.png
servers:
- url: https://api.au.sumologic.com/api/
  description: AU deployment API server
- url: https://api.ca.sumologic.com/api/
  description: CA deployment API server
- url: https://api.de.sumologic.com/api/
  description: DE deployment API server
- url: https://api.eu.sumologic.com/api/
  description: EU deployment API server
- url: https://api.fed.sumologic.com/api/
  description: FED deployment API server
- url: https://api.jp.sumologic.com/api/
  description: JP deployment API server
- url: https://api.kr.sumologic.com/api/
  description: KR deployment API server
- url: https://api.in.sumologic.com/api/
  description: IN deployment API server
- url: https://api.sumologic.com/api/
  description: US1 deployment API server
- url: https://api.us2.sumologic.com/api/
  description: US2 deployment API server
security:
- basicAuth: []
tags:
- name: otCollectorManagementExternal
  description: OT Collector Management API External.
  x-displayName: OpenTelemetry Collector Management
paths:
  /v1/otCollectors:
    post:
      tags:
      - otCollectorManagementExternal
      summary: Get Paginated List Of OT Collectors
      description: Given different filter, search and sort conditions, get list of otCollectors.
      operationId: getPaginatedOTCollectors
      requestBody:
        description: pagination request details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaginatedOTCollectorsRequest'
        required: true
      responses:
        '200':
          description: A list of paginated OT Collectors.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOTCollectorsResponse'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/otCollectors/{id}:
    get:
      tags:
      - otCollectorManagementExternal
      summary: Get OT Collector By ID
      description: Get OT Collector by ID.
      operationId: getOTCollector
      parameters:
      - name: id
        in: path
        description: Identifier of the OT Collector to get.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: An OT Collector by identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OTCollector'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - otCollectorManagementExternal
      summary: Delete An OT Collector
      description: Delete an OT Collector with the given identifier.
      operationId: deleteOTCollector
      parameters:
      - name: id
        in: path
        description: Identifier of the OT Collector to delete.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: The OT Collector was deleted successfully.
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/otCollectors/totalCount:
    get:
      tags:
      - otCollectorManagementExternal
      summary: Get A Count Of OT Collectors
      description: Get total count of OT Collectors for a customer.
      operationId: getOTCollectorsCount
      responses:
        '200':
          description: Total count of OT Collectors.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OTCollectorCountResponse'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/otCollectors/otCollectorsByName:
    get:
      tags:
      - otCollectorManagementExternal
      summary: Get OT Collectors By Name
      description: provided list of names, get all OT Collectors with metadata.
      operationId: getOTCollectorsByNames
      parameters:
      - name: names
        in: query
        description: A required parameter that accepts a list of names for which we need to collect all metadata.
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: A list of OT Collectors.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OTCollectorListResponse'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/otCollectors/offline:
    delete:
      tags:
      - otCollectorManagementExternal
      summary: Delete All Offline OT Collectors
      description: Delete all offline OT Collectors for a given customer.
      operationId: deleteOfflineOTCollectors
      responses:
        '204':
          description: All offline OT Collectors of the given customer deleted successfully.
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    ErrorResponse:
      required:
      - errors
      - id
      type: object
      properties:
        id:
          type: string
          description: An identifier for the error; this is unique to the specific API request.
          example: IUUQI-DGH5I-TJ045
        errors:
          type: array
          description: A list of one or more causes of the error.
          example:
          - code: auth:password_too_short
            message: Your password was too short.
          - code: auth:password_character_classes
            message: Your password did not contain any non-alphanumeric characters
          items:
            $ref: '#/components/schemas/ErrorDescription'
    VersionRange:
      type: object
      properties:
        minVersion:
          pattern: ^v(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(-sumo.+)?$
          type: string
          description: Minimum version of otCollector.
        maxVersion:
          pattern: ^v(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(-sumo.+)?$
          type: string
          description: Maximum version of the collector.
        rangeType:
          type: string
          description: 'Specifies how filtering should be applied when `minVersion` and `maxVersion` are defined. - `Within`: Filtering includes the specified range. - `Outside`: Filtering excludes the specified range. By default, filtering includes the specified range.'
      description: Version range for otCollector.
    OTCollector:
      required:
      - createdAt
      - createdBy
      - id
      - modifiedAt
      - modifiedBy
      - name
      - systemInfo
      - version
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the OT Collector.
          example: 0000000005F5E105
        name:
          type: string
          description: Name of the OT Collector.
          example: test OT Collector
        version:
          required:
          - currentVersion
          type: object
          properties:
            currentVersion:
              type: string
              description: Current version of the OT Collector.
            latestAvailableVersion:
              type: string
              description: Latest available version of the OT Collector.
          description: Version information of the OT Collector.
        category:
          type: string
          description: Category of the OT Collector.
          example: apache
        description:
          type: string
          description: Description of the OT Collector.
        tags:
          maxProperties: 1000
          type: object
          additionalProperties:
            type: string
          description: Tags associated with the OT Collector.
          example:
            team: app-dev
            showIcon: true
        healthIncidentsTracker:
          type: object
          properties:
            errorsCount:
              type: integer
              description: Number of errors associated with the OT Collector.
              format: int32
              example: 0
            warningsCount:
              type: integer
              description: Number of warnings associated with the OT Collector.
              format: int32
              example: 1
          description: Health incident information.
        ephemeral:
          type: boolean
          description: Ephemeral Status of the OT Collector.
          example: false
        alive:
          type: boolean
          description: Alive Status of the OT Collector based on heartbeat.
          example: true
        isRemotelyManaged:
          type: boolean
          description: Management Status of the OT Collector based on if it is remotely or locally managed.
          example: true
        effectiveConfig:
          maxProperties: 1000
          type: object
          additionalProperties:
            type: string
          description: Config map that includes Base 64 Encoded Effective Configuration Yaml of the Remotely managed OT Collector.
          example:
            00000000000000A3: ZGVtbyBjb25maWc=
            00000000000000D5: XFVtbfe34tgcvefv=
        systemInfo:
          type: object
          properties:
            hostName:
              type: string
              description: Host name of the OT Collector.
              example: app.test.com
            hostOsName:
              type: string
              description: Host OS name of the OT Collector.
              example: Linux
            hostOsVersion:
              type: string
              description: Host OS version of the OT Collector.
              example: 5.4.144-69.257.amzn2.x86_64
            hostIpAddress:
              type: string
              description: Host IP address of the OT Collector.
              example: 19.123.24.66
            hostEnv:
              type: string
              description: Host environment of the OT Collector.
              example: EKS-1.20.2
          description: System information of the OT Collector.
        timeZone:
          type: string
          description: timezone of the collector
          example: UTC
        createdAt:
          type: string
          description: Creation timestamp in UTC in [RFC3339](https://tools.ietf.org/html/rfc3339) format.
          format: date-time
          example: 2018-10-16 09:10:00+00:00
        createdBy:
          type: string
          description: Identifier of the user who created the resource.
          example: 0000000006A5C7A2
        modifiedAt:
          type: string
          description: Last modification timestamp in UTC.
          format: date-time
          example: 2018-10-16 09:10:00+00:00
        modifiedBy:
          type: string
          description: Identifier of the user who last modified the resource.
          example: 0000000006A5C7A2
        sourceTemplateLinkedCount:
          type: integer
          description: Count of the source templates linked to a collector
          example: 1
      description: An OT Collector definition.
    ErrorDescription:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          description: An error code describing the type of error.
          example: auth:password_too_short
        message:
          type: string
          description: A short English-language description of the error.
          example: Your password was too short.
        detail:
          type: string
          description: An optional fuller English-language description of the error.
          example: Your password was 5 characters long, the minimum length is 12 characters. See http://example.com/password for more information.
        meta:
          type: object
          description: An optional list of metadata about the error.
          example:
            minLength: 12
            actualLength: 5
    PaginatedOTCollectorsRequest:
      type: object
      properties:
        search:
          type: string
          description: search by collector id or free text search on collector properties.
          example: testAgent
        filters:
          type: object
          properties:
            tags:
              type: array
              description: tags associated with the OT collector
              example:
              - - key: region
                  values:
                  - us2
                  - mum
              - - key: key2
                  values:
                  - value2
              items:
                type: array
                items:
                  $ref: '#/components/schemas/OtTag'
              default: []
            os:
              type:
              - string
              - 'null'
              description: Name of the Operating System.
              example: linux
              x-visibility: private
            collectorVersionRange:
              $ref: '#/components/schemas/VersionRange'
            alive:
              type:
              - boolean
              - 'null'
              description: alive Status of the OT Collector based on heartbeat.
              example: true
            isRemotelyManaged:
              type:
              - boolean
              - 'null'
              description: Management Status of the OT Collector based on if it is remotely or locally managed.
              example: true
            isUpgradeAvailable:
              type:
              - boolean
              - 'null'
              description: upgrade availability status of the OT Collector.
              example: true
            hasNoSourceTemplateLinked:
              type:
              - boolean
              - 'null'
              description: whether the remotely managed OT Collector has no source template linked.
              example: true
          description: parameter which is used for filtering.
        sortBy:
          type: string
          description: parameter which is used for sorting.
          example: name
        next:
          type: string
          description: parameter which is used for fetching next set of results.
          example: token
        limit:
          maximum: 1000
          minimum: 1
          type: integer
          description: parameter which is used for limiting number of otCollectors on a page.
          format: int32
          example: 30
        includeCount:
          type:
          - boolean
          - 'null'
          description: count of filtered otCollectors.
          example: false
    OTCollectorListResponse:
      required:
      - data
      type: object
      properties:
        data:
          type: array
          description: List of OT Collectors.
          items:
            $ref: '#/components/schemas/OTCollector'
    OtTag:
      required:
      - key
      - values
      type: object
      properties:
        key:
          type: string
          description: key of the given tag.
          example: key1
        values:
          type: array
          description: values of the given tag.
          items:
            type: string
            example: value1
    OTCollectorCountResponse:
      required:
      - totalCount
      type: object
      properties:
        totalCount:
          type: integer
          description: Total number of OT Collector for a customer.
          format: int32
          example: 100
      description: response for total count of otCollectors.
    PaginatedOTCollectorsResponse:
      required:
      - data
      type: object
      properties:
        data:
          type: array
          description: paginated list of OT Collectors.
          items:
            $ref: '#/components/schemas/OTCollector'
        next:
          type: string
          description: next page token.
        count:
          type: integer
          description: count of otCollectors in response.
          format: int32
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
x-tagGroups:
- name: Archive Management
  tags:
  - archiveManagement
- name: Health Events
  tags:
  - healthEvents
- name: Infrequent Data Tier
  tags:
  - logSearchesEstimatedUsage
- name: Ingest Budgets Management V2
  tags:
  - ingestBudgetManagementV2
- name: Library Management
  tags:
  - appManagement
  - appManagementV2
  - contentManagement
  - dashboardManagement
  - folderManagement
  - lookupManagement
  - contentPermissions
  - logSearchesManagement
  - parsersLibraryManagement
- name: Metrics
  tags:
  - metricsSearchesManagement
  - transformationRuleManagement
  - metricsQuery
  - metricsSearchesManagementV2
- name: Security Management
  tags:
  - accessKeyManagement
  - oauthManagement
  - accountManagement
  - passwordPolicy
  - policiesManagement
  - samlConfigurationManagement
  - serviceAllowlistManagement
  - serviceAccountManagement
  - scimUserManagement
- name: Organizations Management
  tags:
  - orgsManagement
- name: Settings Management
  tags:
  - connectionManagement
  - dynamicParsingRuleManagement
  - extractionRuleManagement
  - fieldManagementV1
  - partitionManagement
  - scheduledViewManagement
  - logsDataForwardingManagement
  - dataDeletionRules
- name: Tokens Management
  tags:
  - tokensLibraryManagement
- name: Tracing
  tags:
  - traces
  - spanAnalytics
  - serviceMap
- name: Users and Roles Management
  tags:
  - roleManagement
  - roleManagementV2
  - userManagement
- name: Threat Intel Ingest Management
  tags:
  - threatIntelIngest
  - threatIntelIngestProducer
- name: OpenTelemetry Collector Management
  tags:
  - otCollectorManagementExternal
- name: Source Template Management
  tags:
  - sourceTemplateManagementExternal
- name: Schema Base Management
  tags:
  - schemaBaseManagement
- name: Event Analytics Management
  tags:
  - eventAnalytics
- name: Budget Management
  tags:
  - budgetManagement
- name: Macro Management
  tags:
  - macroManagement
- name: Muting Schedules Management
  tags:
  - mutingSchedulesLibraryManagement
- name: SLO Management
  tags:
  - slosLibraryManagement
- name: Monitor Management
  tags:
  - monitorsLibraryManagement
