openapi: 3.2.0
info:
  title: Sumo Logic Access Key Management API
  description: '# Getting Started

    Welcome to the Sumo Logic API reference.'
  version: 1.0.0
  x-logo:
    url: ./sumologic_logo.png
servers:
- url: https://api.au.sumologic.com/api/
  description: AU deployment API server
- url: https://api.ca.sumologic.com/api/
  description: CA deployment API server
- url: https://api.de.sumologic.com/api/
  description: DE deployment API server
- url: https://api.eu.sumologic.com/api/
  description: EU deployment API server
- url: https://api.fed.sumologic.com/api/
  description: FED deployment API server
- url: https://api.jp.sumologic.com/api/
  description: JP deployment API server
- url: https://api.kr.sumologic.com/api/
  description: KR deployment API server
- url: https://api.in.sumologic.com/api/
  description: IN deployment API server
- url: https://api.sumologic.com/api/
  description: US1 deployment API server
- url: https://api.us2.sumologic.com/api/
  description: US2 deployment API server
security:
- basicAuth: []
tags:
- name: accessKeyManagement
  description: 'Access Key management API.


    Access Keys allow you to securely register new Collectors and access Sumo Logic APIs. For more information, see Access Keys.'
  x-displayName: Access Keys
paths:
  /v1/accessKeys:
    get:
      tags:
      - accessKeyManagement
      summary: List All Access Keys
      description: List all access keys in your account.
      operationId: listAccessKeys
      parameters:
      - name: limit
        in: query
        description: Limit the number of access keys returned in the response. The number of access keys returned may be less than the `limit`.
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          format: int32
          default: 100
      - name: token
        in: query
        description: Continuation token to get the next page of results. A page object with the next continuation token is returned in the response body. Subsequent GET requests should specify the continuation token to get the next page of results. `token` is set to null when no more pages are left.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A list of all access keys in your account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedListAccessKeysResult'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - accessKeyManagement
      summary: Create An Access Key
      description: 'Creates a new access ID and key pair. The new access key can be used from the domains specified in corsHeaders field. Whether Sumo Logic accepts or rejects an API request depends on whether it contains an ORIGIN header and the entries in the allowlist. Sumo Logic will reject:

        1. Requests with an ORIGIN header but the allowlist is empty.

        2. Requests with an ORIGIN header that don''t match any entry in the allowlist.'
      operationId: createAccessKey
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessKeyCreateRequest'
        required: true
      responses:
        '200':
          description: Access key created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessKey'
        default:
          description: Access key creation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/accessKeys/personal:
    get:
      tags:
      - accessKeyManagement
      summary: List Personal Keys
      description: List all access keys that belong to your user.
      operationId: listPersonalAccessKeys
      responses:
        '200':
          description: A list of all access keys that belong to the user making the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAccessKeysResult'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/accessKeys/scopes:
    get:
      tags:
      - accessKeyManagement
      summary: Get All Scopes
      description: Get a list of all of the scopes that can be added to an access key.
      operationId: listScopes
      responses:
        '200':
          description: A list of scopes that can be added to an access key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScopesList'
        default:
          description: Operation failed with an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/accessKeys/{id}:
    put:
      tags:
      - accessKeyManagement
      summary: Update An Access Key
      description: Updates the properties of existing accessKey by accessId. It can be used to enable or disable the access key and to update the corsHeaders list.
      operationId: updateAccessKey
      parameters:
      - name: id
        in: path
        description: The accessId of the access key to update.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessKeyUpdateRequest'
        required: true
      responses:
        '200':
          description: Access key updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessKeyPublic'
        default:
          description: Access key update failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - accessKeyManagement
      summary: Delete An Access Key
      description: Deletes the access key with the given accessId.
      operationId: deleteAccessKey
      parameters:
      - name: id
        in: path
        description: The accessId of the access key to delete.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Access key deletion completed successfully.
        default:
          description: Access key deletion failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/accessKeys/{id}/rotate:
    put:
      tags:
      - accessKeyManagement
      summary: Rotate The Access Key Secret
      description: Generates a new secret for the access key that is passed in the call, keeping the same access ID.
      operationId: rotateAccessKeySecret
      parameters:
      - name: id
        in: path
        description: The accessId of the access key to rotate the secret for.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Access key secret rotated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessKey'
        default:
          description: Access key secret rotation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    ErrorResponse:
      required:
      - errors
      - id
      type: object
      properties:
        id:
          type: string
          description: An identifier for the error; this is unique to the specific API request.
          example: IUUQI-DGH5I-TJ045
        errors:
          type: array
          description: A list of one or more causes of the error.
          example:
          - code: auth:password_too_short
            message: Your password was too short.
          - code: auth:password_character_classes
            message: Your password did not contain any non-alphanumeric characters
          items:
            $ref: '#/components/schemas/ErrorDescription'
    ErrorDescription:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          description: An error code describing the type of error.
          example: auth:password_too_short
        message:
          type: string
          description: A short English-language description of the error.
          example: Your password was too short.
        detail:
          type: string
          description: An optional fuller English-language description of the error.
          example: Your password was 5 characters long, the minimum length is 12 characters. See http://example.com/password for more information.
        meta:
          type: object
          description: An optional list of metadata about the error.
          example:
            minLength: 12
            actualLength: 5
    PaginatedListAccessKeysResult:
      required:
      - data
      type: object
      properties:
        data:
          type: array
          description: An array of access keys.
          items:
            $ref: '#/components/schemas/AccessKeyPublic'
        next:
          type: string
          description: Next continuation token.
          example: GDCiRv4vebF3UWFJQ1kySXBOR3Bzh69GR0RyWm9vCtc
      description: List of access keys.
    ListAccessKeysResult:
      required:
      - data
      type: object
      properties:
        data:
          type: array
          description: An array of access keys.
          items:
            $ref: '#/components/schemas/AccessKeyPublic'
      description: List of access keys.
    ScopesList:
      required:
      - data
      type: object
      properties:
        data:
          type: array
          description: List of scopes
          items:
            $ref: '#/components/schemas/ScopeDefinition'
    AccessKeyCreateRequest:
      required:
      - label
      type: object
      properties:
        label:
          maxLength: 128
          type: string
          description: A name for the access key to be created.
          example: automation access key
        corsHeaders:
          maxItems: 20
          type: array
          description: "An array of domains for which the access key is valid. Whether Sumo Logic accepts or rejects an API request\ndepends on whether it contains an ORIGIN header and the entries in the allowlist.\nSumo Logic will reject:\n  1. Requests with an ORIGIN header but the allowlist is empty.\n  2. Requests with an ORIGIN header that don't match any entry in the allowlist."
          example:
          - https://my-app.com
          - https://mail.my-app.com
          items:
            type: string
        scopes:
          type: array
          description: "Scopes assigned to the key.\n### Alerting\n  - adminMonitorsV2\n  - viewMonitorsV2\n  - manageMonitorsV2\n\n### Data Management\n  - manageApps\n  - viewCollectors\n  - manageCollectors\n  - viewConnections\n  - manageConnections\n  - contentAdmin\n  - viewFieldExtractionRules\n  - manageFieldExtractionRules            \n  - viewFields\n  - manageFields\n  - manageBudgets\n  - viewLibrary\n  - manageLibrary\n  - viewPartitions\n  - managePartitions\n  - manageS3DataForwarding\n  - viewScheduledViews\n  - manageScheduledViews\n  - manageTokens\n\n### Logs\n  - runLogSearch\n\n### Metrics\n  - runMetricsQuery \n\n### Reliability Management\n  - viewSlos\n  - manageSlos\n\n### Security\n  - manageAccessKeys\n  - viewPersonalAccessKeys\n  - managePersonalAccessKeys\n\n### UserManagement\n  - viewUsersAndRoles\n  - manageUsersAndRoles"
          example:
          - manageUsersAndRoles
          - viewCollectors
          items:
            type: string
    AccessKeyPublic:
      required:
      - createdAt
      - createdBy
      - disabled
      - id
      - label
      - modifiedAt
      - modifiedBy
      type: object
      properties:
        id:
          type: string
          description: Identifier of the access key.
          example: su0w3Q37CBzHUM
        label:
          type: string
          description: The name of the access key.
          example: collector access key
        corsHeaders:
          type: array
          description: "An array of domains for which the access key is valid. Whether Sumo Logic accepts or rejects an API request depends on whether it contains an ORIGIN header and the entries in the allowlist. Sumo Logic will reject:\n  1. Requests with an ORIGIN header but the allowlist is empty.\n  2. Requests with an ORIGIN header that don't match any entry in the allowlist."
          example:
          - https://my-app.com
          - https://mail.my-app.com
          items:
            type: string
        disabled:
          type: boolean
          description: Indicates whether the access key is disabled or not.
          example: false
        createdAt:
          type: string
          description: Creation timestamp in UTC in [RFC3339](https://tools.ietf.org/html/rfc3339) format.
          format: date-time
          example: 2018-10-16 09:10:00+00:00
        createdBy:
          type: string
          description: Identifier of the user who created the access key.
          example: 0000000006743FDD
        modifiedAt:
          type: string
          description: Last modification timestamp in UTC.
          format: date-time
          example: 2018-10-16 09:10:00+00:00
        modifiedBy:
          type: string
          description: Identifier of the user who modified the access key.
          example: 0000000006743FDD
        serviceAccountId:
          type: string
          description: Identifier of the service account who owns the access key.
          example: 0000000006743FDA
        lastUsed:
          type: string
          description: Last used timestamp in UTC.  <br> **Note:** Property not in use, it is part of an upcoming feature.
          format: date-time
          example: 2018-10-16 09:10:00+00:00
        scopes:
          type: array
          description: "Scopes assigned to the key.\n### Alerting\n  - adminMonitorsV2\n  - viewMonitorsV2\n  - manageMonitorsV2\n\n### Data Management\n  - manageApps\n  - viewCollectors\n  - manageCollectors\n  - viewConnections\n  - manageConnections\n  - contentAdmin\n  - viewFieldExtractionRules\n  - manageFieldExtractionRules            \n  - viewFields\n  - manageFields\n  - manageBudgets\n  - viewLibrary\n  - manageLibrary\n  - viewPartitions\n  - managePartitions \n  - manageS3DataForwarding\n  - viewScheduledViews\n  - manageScheduledViews\n  - manageTokens\n\n### Logs\n  - runLogSearch\n\n### Metrics\n  - runMetricsQuery \n\n### Reliability Management\n  - viewSlos\n  - manageSlos\n\n### Security\n  - manageAccessKeys\n  - viewPersonalAccessKeys\n  - managePersonalAccessKeys\n\n### UserManagement\n  - viewUsersAndRoles\n  - manageUsersAndRoles"
          example:
          - manageUsersAndRoles
          - viewCollectors
          items:
            type: string
        effectiveScopes:
          type: array
          description: Effective scopes based on the intersection of the user's RBAC capabilities and the assigned scopes.
          example:
          - manageUsersAndRoles
          - viewCollectors
          items:
            type: string
    AccessKey:
      allOf:
      - $ref: '#/components/schemas/AccessKeyPublic'
      - required:
        - key
        type: object
        properties:
          key:
            type: string
            description: The key for the created access key. This field will have values only in the response for an access key create request. The value will be an empty string while listing all keys.
            example: F9GZvb4fISxUZHM7pqHCsGXGWf4OArgmt9Tz8ewZ
    ScopeDefinition:
      required:
      - dependsOn
      - group
      - id
      - label
      - type
      type: object
      properties:
        id:
          type: string
          description: The name of the scope.
          example: managePartitions
        label:
          type: string
          description: The UI label for the scope.
          example: Manage Partitions
        type:
          type: string
          description: Type of scope.
          example: Manage
        dependsOn:
          type: array
          description: Any scopes that are required for this scope to be enabled.
          example:
          - viewPartitions
          items:
            type: string
        group:
          required:
          - id
          - label
          type: object
          properties:
            id:
              type: string
              description: The name of the scope group
              example: dataManagement
            label:
              type: string
              description: The label for the scope group
              example: Data Management
            parentId:
              type: string
              description: The ID of the parent scope group
          description: The group that the scope belongs to.
    AccessKeyUpdateRequest:
      required:
      - disabled
      type: object
      properties:
        disabled:
          type: boolean
          description: Indicates whether the access key is disabled or not.
          example: true
        corsHeaders:
          maxItems: 20
          type: array
          description: "An array of domains for which the access key is valid. Whether Sumo Logic accepts or rejects an API request depends on whether it contains an ORIGIN header and the entries in the allowlist. Sumo Logic will reject:\n  1. Requests with an ORIGIN header but the allowlist is empty.\n  2. Requests with an ORIGIN header that don't match any entry in the allowlist."
          example:
          - https://my-app.com
          - https://mail.my-app.com
          items:
            type: string
        scopes:
          type: array
          description: "Scopes assigned to the key. <br><br> Note: Updates to scopes will take up to 5m to reflect due to caching in the system.\n### Alerting\n  - adminMonitorsV2\n  - viewMonitorsV2\n  - manageMonitorsV2\n\n### Data Management\n  - manageApps\n  - viewCollectors\n  - manageCollectors\n  - viewConnections\n  - manageConnections\n  - contentAdmin\n  - viewFieldExtractionRules\n  - manageFieldExtractionRules            \n  - viewFields\n  - manageFields\n  - manageBudgets\n  - viewLibrary\n  - manageLibrary\n  - viewPartitions\n  - managePartitions\n  - manageS3DataForwarding\n  - viewScheduledViews\n  - manageScheduledViews\n  - manageTokens\n\n### Logs\n  - runLogSearch\n\n### Metrics\n  - runMetricsQuery \n\n### Reliability Management\n  - viewSlos\n  - manageSlos\n\n### Security\n  - manageAccessKeys\n  - viewPersonalAccessKeys\n  - managePersonalAccessKeys\n\n### UserManagement\n  - viewUsersAndRoles\n  - manageUsersAndRoles"
          example:
          - manageUsersAndRoles
          - viewCollectors
          items:
            type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
x-tagGroups:
- name: Archive Management
  tags:
  - archiveManagement
- name: Health Events
  tags:
  - healthEvents
- name: Infrequent Data Tier
  tags:
  - logSearchesEstimatedUsage
- name: Ingest Budgets Management V2
  tags:
  - ingestBudgetManagementV2
- name: Library Management
  tags:
  - appManagement
  - appManagementV2
  - contentManagement
  - dashboardManagement
  - folderManagement
  - lookupManagement
  - contentPermissions
  - logSearchesManagement
  - parsersLibraryManagement
- name: Metrics
  tags:
  - metricsSearchesManagement
  - transformationRuleManagement
  - metricsQuery
  - metricsSearchesManagementV2
- name: Security Management
  tags:
  - accessKeyManagement
  - oauthManagement
  - accountManagement
  - passwordPolicy
  - policiesManagement
  - samlConfigurationManagement
  - serviceAllowlistManagement
  - serviceAccountManagement
  - scimUserManagement
- name: Organizations Management
  tags:
  - orgsManagement
- name: Settings Management
  tags:
  - connectionManagement
  - dynamicParsingRuleManagement
  - extractionRuleManagement
  - fieldManagementV1
  - partitionManagement
  - scheduledViewManagement
  - logsDataForwardingManagement
  - dataDeletionRules
- name: Tokens Management
  tags:
  - tokensLibraryManagement
- name: Tracing
  tags:
  - traces
  - spanAnalytics
  - serviceMap
- name: Users and Roles Management
  tags:
  - roleManagement
  - roleManagementV2
  - userManagement
- name: Threat Intel Ingest Management
  tags:
  - threatIntelIngest
  - threatIntelIngestProducer
- name: OpenTelemetry Collector Management
  tags:
  - otCollectorManagementExternal
- name: Source Template Management
  tags:
  - sourceTemplateManagementExternal
- name: Schema Base Management
  tags:
  - schemaBaseManagement
- name: Event Analytics Management
  tags:
  - eventAnalytics
- name: Budget Management
  tags:
  - budgetManagement
- name: Macro Management
  tags:
  - macroManagement
- name: Muting Schedules Management
  tags:
  - mutingSchedulesLibraryManagement
- name: SLO Management
  tags:
  - slosLibraryManagement
- name: Monitor Management
  tags:
  - monitorsLibraryManagement
