openapi: 3.2.0
info:
  title: Sumo Logic OAUTH Management API
  description: '# Getting Started

    Welcome to the Sumo Logic API reference.'
  version: 1.0.0
  x-logo:
    url: ./sumologic_logo.png
servers:
- url: https://api.au.sumologic.com/api/
  description: AU deployment API server
- url: https://api.ca.sumologic.com/api/
  description: CA deployment API server
- url: https://api.de.sumologic.com/api/
  description: DE deployment API server
- url: https://api.eu.sumologic.com/api/
  description: EU deployment API server
- url: https://api.fed.sumologic.com/api/
  description: FED deployment API server
- url: https://api.jp.sumologic.com/api/
  description: JP deployment API server
- url: https://api.kr.sumologic.com/api/
  description: KR deployment API server
- url: https://api.in.sumologic.com/api/
  description: IN deployment API server
- url: https://api.sumologic.com/api/
  description: US1 deployment API server
- url: https://api.us2.sumologic.com/api/
  description: US2 deployment API server
security:
- basicAuth: []
tags:
- name: oauthManagement
  description: '** Only available to Beta customers. During Beta endpoints are subject to backwards incompatible changes. **


    APIs to manage OAuth Clients'
  x-displayName: OAuth Management (Beta)
paths:
  /v1/oauth/scopes:
    get:
      tags:
      - oauthManagement
      summary: Get All Scopes
      description: '** Only available to Beta customers. During Beta endpoints are subject to backwards incompatible changes. **


        Get a list of all of the scopes that can be added to an oauth client.'
      operationId: listOAuthScopes
      responses:
        '200':
          description: A list of scopes that can be added to an oauth client.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScopesList'
        default:
          description: Operation failed with an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/oauth/clients:
    get:
      tags:
      - oauthManagement
      summary: List The OAuth Clients
      description: '** Only available to Beta customers. During Beta endpoints are subject to backwards incompatible changes. **


        List all OAuth clients.'
      operationId: listOAuthClients
      parameters:
      - name: limit
        in: query
        description: Limit the number of OAuth clients returned in the response. The number of OAuth clients returned may be  less than the `limit`.
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          format: int32
          default: 100
      - name: token
        in: query
        description: Continuation token to get the next page of results. A page object with the next continuation token is  returned in the response body. Subsequent GET requests should specify the continuation token to get the  next page of results. `token` is set to null when no more pages are left.
        required: false
        schema:
          type: string
      - name: runAsId
        in: query
        description: Identifier of the service account that the OAuth Client runs as.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A list of all OAuth clients within the organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedListOAuthClientsResult'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - oauthManagement
      summary: Create A New OAuth Client
      description: '** Only available to Beta customers. During Beta endpoints are subject to backwards incompatible changes. **


        Creates a new OAuth clientId and clientSecret.'
      operationId: createOAuthClient
      requestBody:
        description: Information about the new OAuth client.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthClientCreateRequest'
        required: true
      responses:
        '200':
          description: The OAuth client has been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClientWithSecret'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/oauth/clients/{clientId}:
    get:
      tags:
      - oauthManagement
      summary: Get An OAuth Client
      description: '** Only available to Beta customers. During Beta endpoints are subject to backwards incompatible changes. **


        Get an OAuth client with the given identifier from the organization.'
      operationId: getOAuthClientById
      parameters:
      - name: clientId
        in: path
        description: Identifier of an OAuth client to return.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OAuth client object that was requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClient'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
      - oauthManagement
      summary: Update An OAuth Client
      description: '** Only available to Beta customers. During Beta endpoints are subject to backwards incompatible changes. **


        Updates the properties of existing OAuth client by Id.'
      operationId: updateOAuthClient
      parameters:
      - name: clientId
        in: path
        description: The id of an OAuth client to update.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthClientUpdateRequest'
        required: true
      responses:
        '200':
          description: OAuth client updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClient'
        default:
          description: OAuth client update failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - oauthManagement
      summary: Delete An OAuth Client
      description: '** Only available to Beta customers. During Beta endpoints are subject to backwards incompatible changes. **


        Deletes the OAuth client with the given Id.'
      operationId: deleteOAuthClient
      parameters:
      - name: clientId
        in: path
        description: The Id of the OAuth client to delete.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: OAuth client deletion completed successfully.
        default:
          description: OAuth client deletion failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/oauth/clients/{clientId}/rotate:
    put:
      tags:
      - oauthManagement
      summary: Rotate The Oauth Client Secret
      description: Generates a new secret for the oauth client that is passed in the call, keeping the same client ID.
      operationId: rotateOauthSecret
      parameters:
      - name: clientId
        in: path
        description: The ID of the oauth client to rotate the secret for.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OAuth client secret rotated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClientWithSecret'
        default:
          description: Oauth client secret rotation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/oauth/consents:
    get:
      tags:
      - oauthManagement
      summary: List OAuth Consents
      description: Get a list of OAuth consents within the organization. Administrators can list all consents, while others can only list consents that they have authorized.
      operationId: listOAuthConsents
      parameters:
      - name: limit
        in: query
        description: Limit the number of consents returned in the response.
        required: false
        schema:
          maximum: 10000
          minimum: 1
          type: integer
          format: int32
          default: 100
      - name: token
        in: query
        description: Continuation token to get the next page of results.
        required: false
        schema:
          type: string
      - name: authorizedUser
        in: query
        description: Filter consents by the identifier of the user who authorized the consent.
        required: false
        schema:
          type: string
      - name: clientId
        in: query
        description: Filter consents by the clientId of a registered OAuth client.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A list of OAuth consents.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedListOAuthConsentsResult'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/oauth/consents/{consentId}:
    delete:
      tags:
      - oauthManagement
      summary: Delete An OAuth Consent
      description: Deletes the OAuth consent with the given Id.
      operationId: deleteOAuthConsent
      parameters:
      - name: consentId
        in: path
        description: The ID of the OAuth consent to delete.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: OAuth consent deletion completed successfully.
        default:
          description: OAuth consent deletion failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    ErrorResponse:
      required:
      - errors
      - id
      type: object
      properties:
        id:
          type: string
          description: An identifier for the error; this is unique to the specific API request.
          example: IUUQI-DGH5I-TJ045
        errors:
          type: array
          description: A list of one or more causes of the error.
          example:
          - code: auth:password_too_short
            message: Your password was too short.
          - code: auth:password_character_classes
            message: Your password did not contain any non-alphanumeric characters
          items:
            $ref: '#/components/schemas/ErrorDescription'
    ErrorDescription:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          description: An error code describing the type of error.
          example: auth:password_too_short
        message:
          type: string
          description: A short English-language description of the error.
          example: Your password was too short.
        detail:
          type: string
          description: An optional fuller English-language description of the error.
          example: Your password was 5 characters long, the minimum length is 12 characters. See http://example.com/password for more information.
        meta:
          type: object
          description: An optional list of metadata about the error.
          example:
            minLength: 12
            actualLength: 5
    OAuthClient:
      required:
      - clientId
      - createdAt
      - createdBy
      - description
      - disabled
      - modifiedAt
      - modifiedBy
      - name
      - scopes
      - type
      type: object
      properties:
        type:
          type: string
          description: Type of the object model.
        clientId:
          type: string
          description: Identifier of the OAuth client.
          example: zVplCFHcpTDwtktBIQmFI2K6s9HEo4HAtcQD1f1M5eQ
        createdAt:
          type: string
          description: Creation timestamp in UTC in [RFC3339](https://tools.ietf.org/html/rfc3339) format.
          format: date-time
          example: 2018-10-16 09:10:00+00:00
        createdBy:
          type: string
          description: Identifier of the user who created the OAuth client.
          example: 0000000006743FDD
        modifiedAt:
          type: string
          description: Last modification timestamp in UTC.
          format: date-time
          example: 2018-10-16 09:10:00+00:00
        modifiedBy:
          type: string
          description: Identifier of the user who modified the OAuth client.
          example: 0000000006743FDD
        name:
          maxLength: 128
          minLength: 0
          type: string
          description: Name of the OAuth client.
          example: My OAuth Client
        description:
          maxLength: 255
          minLength: 0
          type: string
          description: Description of the OAuth client.
          example: OAuth client for data ingestion
        disabled:
          type: boolean
          description: Whether the OAuth client is disabled. Disabled OAuth clients cannot be used to authenticate users.
        scopes:
          type: array
          description: "Scopes assigned to the client.\n### Alerting\n  - adminMonitorsV2\n  - viewMonitorsV2\n  - manageMonitorsV2\n\n### Data Management\n  - manageApps\n  - viewCollectors\n  - manageCollectors\n  - viewConnections\n  - manageConnections\n  - contentAdmin\n  - viewFieldExtractionRules\n  - manageFieldExtractionRules            \n  - viewFields\n  - manageFields\n  - manageBudgets\n  - viewLibrary\n  - manageLibrary\n  - viewPartitions\n  - managePartitions \n  - manageS3DataForwarding\n  - viewScheduledViews\n  - manageScheduledViews\n  - manageTokens\n\n### Logs\n  - runLogSearch\n\n### Metrics\n  - runMetricsQuery \n\n### Reliability Management\n  - viewSlos\n  - manageSlos\n\n### Security\n  - manageAccessKeys\n  - viewPersonalAccessKeys\n  - managePersonalAccessKeys\n\n### UserManagement\n  - viewUsersAndRoles\n  - manageUsersAndRoles"
          example:
          - manageUsersAndRoles
          - viewCollectors
          items:
            type: string
      discriminator:
        propertyName: type
        mapping:
          ClientCredentialsClient: '#/components/schemas/ClientCredentialsClient'
          AuthorizationCodeClient: '#/components/schemas/AuthorizationCodeClient'
    PaginatedListOAuthClientsResult:
      required:
      - data
      type: object
      properties:
        data:
          type: array
          description: An array of OAuth clients.
          items:
            $ref: '#/components/schemas/OAuthClient'
        next:
          type: string
          description: Next continuation token.
          example: GDCiRv4vebF3UWFJQ1kySXBOR3Bzh69GR0RyWm9vCtc
      description: List of OAuth clients.
    OAuthClientWithSecret:
      required:
      - clientId
      - clientSecret
      - createdAt
      - createdBy
      - description
      - disabled
      - modifiedAt
      - modifiedBy
      - name
      - scopes
      - type
      type: object
      properties:
        type:
          type: string
          description: Type of the object model.
        clientId:
          type: string
          description: Identifier of the OAuth client.
          example: zVplCFHcpTDwtktBIQmFI2K6s9HEo4HAtcQD1f1M5eQ
        createdAt:
          type: string
          description: Creation timestamp in UTC in [RFC3339](https://tools.ietf.org/html/rfc3339) format.
          format: date-time
          example: 2018-10-16 09:10:00+00:00
        createdBy:
          type: string
          description: Identifier of the user who created the OAuth client.
          example: 0000000006743FDD
        modifiedAt:
          type: string
          description: Last modification timestamp in UTC.
          format: date-time
          example: 2018-10-16 09:10:00+00:00
        modifiedBy:
          type: string
          description: Identifier of the user who modified the OAuth client.
          example: 0000000006743FDD
        name:
          maxLength: 128
          minLength: 0
          type: string
          description: Name of the OAuth client.
          example: My OAuth Client
        description:
          maxLength: 255
          minLength: 0
          type: string
          description: Description of the OAuth client.
          example: OAuth client for data ingestion
        disabled:
          type: boolean
          description: Whether the OAuth client is disabled. Disabled OAuth clients cannot be used to authenticate users.
        scopes:
          type: array
          description: "Scopes assigned to the client.\n### Alerting\n  - adminMonitorsV2\n  - viewMonitorsV2\n  - manageMonitorsV2\n\n### Data Management\n  - manageApps\n  - viewCollectors\n  - manageCollectors\n  - viewConnections\n  - manageConnections\n  - contentAdmin\n  - viewFieldExtractionRules\n  - manageFieldExtractionRules            \n  - viewFields\n  - manageFields\n  - manageBudgets\n  - viewLibrary\n  - manageLibrary\n  - viewPartitions\n  - managePartitions \n  - manageS3DataForwarding\n  - viewScheduledViews\n  - manageScheduledViews\n  - manageTokens\n\n### Logs\n  - runLogSearch\n\n### Metrics\n  - runMetricsQuery \n\n### Reliability Management\n  - viewSlos\n  - manageSlos\n\n### Security\n  - manageAccessKeys\n  - viewPersonalAccessKeys\n  - managePersonalAccessKeys\n\n### UserManagement\n  - viewUsersAndRoles\n  - manageUsersAndRoles"
          example:
          - manageUsersAndRoles
          - viewCollectors
          items:
            type: string
        clientSecret:
          type: string
          description: The client secret for the created OAuth Client.
          example: EqyuIvsnae0LnMC2mbJArysXcmp0LuBsRgmyeLtSkFPEzSxdvpYQMDajn_8buaDj
      discriminator:
        propertyName: type
        mapping:
          ClientCredentialsClient: '#/components/schemas/ClientCredentialsClientWithSecret'
          AuthorizationCodeClient: '#/components/schemas/AuthorizationCodeClientWithSecret'
    PaginatedListOAuthConsentsResult:
      required:
      - data
      type: object
      properties:
        data:
          type: array
          description: An array of OAuth consents.
          items:
            $ref: '#/components/schemas/OAuthConsent'
        next:
          type: string
          description: Next continuation token.
          example: GDCiRv4vebF3UWFJQ1kySXBOR3Bzh69GR0RyWm9vCtc
      description: List of OAuth consents.
    ScopesList:
      required:
      - data
      type: object
      properties:
        data:
          type: array
          description: List of scopes
          items:
            $ref: '#/components/schemas/ScopeDefinition'
    OAuthClientUpdateRequest:
      required:
      - description
      - disabled
      - name
      - scopes
      - type
      type: object
      properties:
        type:
          type: string
          description: Type of the object model.
        name:
          maxLength: 128
          minLength: 0
          type: string
          description: Name of the OAuth client.
          example: My OAuth Client
        description:
          maxLength: 255
          minLength: 0
          type: string
          description: Description of the OAuth client.
          example: OAuth client for data ingestion
        disabled:
          type: boolean
          description: Whether the OAuth client is disabled. Disabled OAuth clients cannot be used to authenticate users.
        scopes:
          type: array
          description: "Scopes assigned to the client.\n### Alerting\n  - adminMonitorsV2\n  - viewMonitorsV2\n  - manageMonitorsV2\n\n### Data Management\n  - manageApps\n  - viewCollectors\n  - manageCollectors\n  - viewConnections\n  - manageConnections\n  - contentAdmin\n  - viewFieldExtractionRules\n  - manageFieldExtractionRules            \n  - viewFields\n  - manageFields\n  - manageBudgets\n  - viewLibrary\n  - manageLibrary\n  - viewPartitions\n  - managePartitions \n  - manageS3DataForwarding\n  - viewScheduledViews\n  - manageScheduledViews\n  - manageTokens\n\n### Logs\n  - runLogSearch\n\n### Metrics\n  - runMetricsQuery \n\n### Reliability Management\n  - viewSlos\n  - manageSlos\n\n### Security\n  - manageAccessKeys\n  - viewPersonalAccessKeys\n  - managePersonalAccessKeys\n\n### UserManagement\n  - viewUsersAndRoles\n  - manageUsersAndRoles"
          example:
          - manageUsersAndRoles
          - viewCollectors
          items:
            type: string
      discriminator:
        propertyName: type
        mapping:
          ClientCredentialsClient: '#/components/schemas/UpdateClientCredentialsClientRequest'
          AuthorizationCodeClient: '#/components/schemas/UpdateAuthorizationCodeClientRequest'
    OAuthClientCreateRequest:
      required:
      - name
      - type
      type: object
      properties:
        type:
          type: string
          description: Type of the object model.
        name:
          maxLength: 128
          minLength: 0
          type: string
          description: Name of the OAuth client.
          example: My OAuth Client
        description:
          maxLength: 255
          minLength: 0
          type: string
          description: Description of the OAuth client.
          example: OAuth client for data ingestion
          default: ''
        scopes:
          type: array
          description: "Scopes assigned to the client.\n### Alerting\n  - adminMonitorsV2\n  - viewMonitorsV2\n  - manageMonitorsV2\n\n### Data Management\n  - manageApps\n  - viewCollectors\n  - manageCollectors\n  - viewConnections\n  - manageConnections\n  - contentAdmin\n  - viewFieldExtractionRules\n  - manageFieldExtractionRules            \n  - viewFields\n  - manageFields\n  - manageBudgets\n  - viewLibrary\n  - manageLibrary\n  - viewPartitions\n  - managePartitions \n  - manageS3DataForwarding\n  - viewScheduledViews\n  - manageScheduledViews\n  - manageTokens\n\n### Logs\n  - runLogSearch\n\n### Metrics\n  - runMetricsQuery \n\n### Reliability Management\n  - viewSlos\n  - manageSlos\n\n### Security\n  - manageAccessKeys\n  - viewPersonalAccessKeys\n  - managePersonalAccessKeys\n\n### UserManagement\n  - viewUsersAndRoles\n  - manageUsersAndRoles"
          example:
          - manageUsersAndRoles
          - viewCollectors
          items:
            type: string
          default: []
      discriminator:
        propertyName: type
        mapping:
          ClientCredentialsClient: '#/components/schemas/CreateClientCredentialsClientRequest'
          AuthorizationCodeClient: '#/components/schemas/CreateAuthorizationCodeClientRequest'
    OAuthConsent:
      required:
      - authorizedAt
      - authorizedUser
      - clientId
      - clientName
      - id
      - scopes
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the consent.
          example: 0000000006743FDE
        clientId:
          type: string
          description: The ID of the registered client that was used in granting consent.
          example: zVplCFHcpTDwtktBIQmFI2K6s9HEo4HAtcQD1f1M5eQ
        clientName:
          type: string
          description: The name of the registered client that was used in granting consent.
          example: My OAuth App
        authorizedAt:
          type: string
          description: Timestamp when the consent was authorized in UTC in RFC3339 format.
          format: date-time
          example: 2018-10-16 09:10:00+00:00
        authorizedUser:
          type: string
          description: Identifier of the user who authorized the consent.
          example: 0000000006743FDD
        lastUsedAt:
          type: string
          description: Timestamp when the consent was last used to grant an access token in UTC in RFC3339 format. Null if never used.
          format: date-time
          example: 2018-10-16 09:10:00+00:00
        scopes:
          type: array
          description: The scopes that were granted in the consent.
          example:
          - manageUsersAndRoles
          - viewCollectors
          items:
            type: string
      description: An OAuth consent granted by a user.
    ScopeDefinition:
      required:
      - dependsOn
      - group
      - id
      - label
      - type
      type: object
      properties:
        id:
          type: string
          description: The name of the scope.
          example: managePartitions
        label:
          type: string
          description: The UI label for the scope.
          example: Manage Partitions
        type:
          type: string
          description: Type of scope.
          example: Manage
        dependsOn:
          type: array
          description: Any scopes that are required for this scope to be enabled.
          example:
          - viewPartitions
          items:
            type: string
        group:
          required:
          - id
          - label
          type: object
          properties:
            id:
              type: string
              description: The name of the scope group
              example: dataManagement
            label:
              type: string
              description: The label for the scope group
              example: Data Management
            parentId:
              type: string
              description: The ID of the parent scope group
          description: The group that the scope belongs to.
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
x-tagGroups:
- name: Archive Management
  tags:
  - archiveManagement
- name: Health Events
  tags:
  - healthEvents
- name: Infrequent Data Tier
  tags:
  - logSearchesEstimatedUsage
- name: Ingest Budgets Management V2
  tags:
  - ingestBudgetManagementV2
- name: Library Management
  tags:
  - appManagement
  - appManagementV2
  - contentManagement
  - dashboardManagement
  - folderManagement
  - lookupManagement
  - contentPermissions
  - logSearchesManagement
  - parsersLibraryManagement
- name: Metrics
  tags:
  - metricsSearchesManagement
  - transformationRuleManagement
  - metricsQuery
  - metricsSearchesManagementV2
- name: Security Management
  tags:
  - accessKeyManagement
  - oauthManagement
  - accountManagement
  - passwordPolicy
  - policiesManagement
  - samlConfigurationManagement
  - serviceAllowlistManagement
  - serviceAccountManagement
  - scimUserManagement
- name: Organizations Management
  tags:
  - orgsManagement
- name: Settings Management
  tags:
  - connectionManagement
  - dynamicParsingRuleManagement
  - extractionRuleManagement
  - fieldManagementV1
  - partitionManagement
  - scheduledViewManagement
  - logsDataForwardingManagement
  - dataDeletionRules
- name: Tokens Management
  tags:
  - tokensLibraryManagement
- name: Tracing
  tags:
  - traces
  - spanAnalytics
  - serviceMap
- name: Users and Roles Management
  tags:
  - roleManagement
  - roleManagementV2
  - userManagement
- name: Threat Intel Ingest Management
  tags:
  - threatIntelIngest
  - threatIntelIngestProducer
- name: OpenTelemetry Collector Management
  tags:
  - otCollectorManagementExternal
- name: Source Template Management
  tags:
  - sourceTemplateManagementExternal
- name: Schema Base Management
  tags:
  - schemaBaseManagement
- name: Event Analytics Management
  tags:
  - eventAnalytics
- name: Budget Management
  tags:
  - budgetManagement
- name: Macro Management
  tags:
  - macroManagement
- name: Muting Schedules Management
  tags:
  - mutingSchedulesLibraryManagement
- name: SLO Management
  tags:
  - slosLibraryManagement
- name: Monitor Management
  tags:
  - monitorsLibraryManagement
