openapi: 3.2.0
info:
  title: Sumo Logic Source Template Management External API
  description: '# Getting Started

    Welcome to the Sumo Logic API reference.'
  version: 1.0.0
  x-logo:
    url: ./sumologic_logo.png
servers:
- url: https://api.au.sumologic.com/api/
  description: AU deployment API server
- url: https://api.ca.sumologic.com/api/
  description: CA deployment API server
- url: https://api.de.sumologic.com/api/
  description: DE deployment API server
- url: https://api.eu.sumologic.com/api/
  description: EU deployment API server
- url: https://api.fed.sumologic.com/api/
  description: FED deployment API server
- url: https://api.jp.sumologic.com/api/
  description: JP deployment API server
- url: https://api.kr.sumologic.com/api/
  description: KR deployment API server
- url: https://api.in.sumologic.com/api/
  description: IN deployment API server
- url: https://api.sumologic.com/api/
  description: US1 deployment API server
- url: https://api.us2.sumologic.com/api/
  description: US2 deployment API server
security:
- basicAuth: []
tags:
- name: sourceTemplateManagementExternal
  description: Source Template Management APIs.
  x-displayName: Source Template Management
paths:
  /v1/sourceTemplates:
    get:
      tags:
      - sourceTemplateManagementExternal
      summary: List All Source Templates
      description: Get a list of all source templates.
      operationId: getSourceTemplatesV2
      parameters:
      - name: showDisabled
        in: query
        description: A boolean parameter to get all, including disabled source templates.
        required: false
        schema:
          type: boolean
          default: false
      - name: name
        in: query
        description: Only return source template matching the given name (exact match).
        required: false
        schema:
          minLength: 1
          type:
          - string
          - 'null'
      responses:
        '200':
          description: A list of source templates.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceTemplateListResponse'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - sourceTemplateManagementExternal
      summary: Create Source Template
      description: Create source template.
      operationId: createSourceTemplateV2
      requestBody:
        description: Create source template details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceTemplateRequest'
        required: true
      responses:
        '200':
          description: Create source template response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceTemplateDefinition'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/sourceTemplates/{id}:
    get:
      tags:
      - sourceTemplateManagementExternal
      summary: Get A Source Template By Id
      description: Get a source template with the given identifier.
      operationId: getSourceTemplateV2
      parameters:
      - name: id
        in: path
        description: Identifier of the source template to get.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Get source template response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceTemplateDefinition'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - sourceTemplateManagementExternal
      summary: Update Source Template
      description: Update a source template with the given identifier.
      operationId: updateSourceTemplateV2
      parameters:
      - name: id
        in: path
        description: Identifier of the source template to update.
        required: true
        schema:
          type: string
      requestBody:
        description: Request details of update source template.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceTemplateUpdateRequest'
        required: true
      responses:
        '200':
          description: Update source template response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceTemplateDefinition'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - sourceTemplateManagementExternal
      summary: Delete A Source Template
      description: Delete a source template with the given identifier.
      operationId: deleteSourceTemplateV2
      parameters:
      - name: id
        in: path
        description: Identifier of the source template to delete.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: The source template was deleted successfully.
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/sourceTemplates/{id}/status:
    put:
      tags:
      - sourceTemplateManagementExternal
      summary: Update Status Of Source Template
      description: Update the status (enable or disable) of a source template.
      operationId: updateSourceTemplateStatusV2
      parameters:
      - name: id
        in: path
        description: Identifier of the source template to update.
        required: true
        schema:
          type: string
      requestBody:
        description: Status of source template
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceTemplateStatusUpdateRequest'
        required: true
      responses:
        '200':
          description: Update source template status response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceTemplateDefinition'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/sourceTemplates/{id}/upgrade:
    post:
      tags:
      - sourceTemplateManagementExternal
      summary: Upgrade Source Template
      description: Upgrade a source template with the given identifier.
      operationId: upgradeSourceTemplateV2
      parameters:
      - name: id
        in: path
        description: Identifier of the source template to upgrade.
        required: true
        schema:
          type: string
      requestBody:
        description: Source template upgrade request details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceTemplateUpgradeRequest'
        required: true
      responses:
        '200':
          description: Upgrade source template response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceTemplateDefinition'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/sourceTemplates/getLinkedSourceTemplatesImpact:
    post:
      tags:
      - sourceTemplateManagementExternal
      summary: Preview Source Template Linking Changes
      description: Given the set of tags user wants to update, display the list of source templates that will be linked/unlinked to the otCollector.
      operationId: getLinkedSourceTemplatesImpact
      requestBody:
        description: Request body containing otCollector id and set of tags.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkedSourceTemplatesUpdateRequest'
        required: true
      responses:
        '200':
          description: A list of source templates whose linking to the otCollector will be impacted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkedSourceTemplatesUpdateResponse'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/sourceTemplate:
    get:
      tags:
      - sourceTemplateManagementExternal
      summary: Return All Source Templates Of A Customer (deprecated)
      description: 'Get a list of source template.


        **DEPRECATED**: This endpoint will be removed soon. Please use GET /v1/sourceTemplates instead.'
      operationId: getSourceTemplates
      parameters:
      - name: showDisabled
        in: query
        description: A boolean parameter to get all, including disabled source templates.
        required: false
        schema:
          type: boolean
          default: false
      - name: name
        in: query
        description: Only return source template matching the given name (exact match).
        required: false
        schema:
          minLength: 1
          type:
          - string
          - 'null'
      responses:
        '200':
          description: A list of source templates.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceTemplateListResponse'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: true
    post:
      tags:
      - sourceTemplateManagementExternal
      summary: Create Source Template (deprecated)
      description: 'Create source template.


        **DEPRECATED**: This endpoint will be removed soon. Please use POST /v1/sourceTemplates instead.'
      operationId: createSourceTemplate
      requestBody:
        description: Create source template details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceTemplateRequest'
        required: true
      responses:
        '200':
          description: Create source template response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceTemplateDefinition'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: true
  /v1/sourceTemplate/{id}:
    get:
      tags:
      - sourceTemplateManagementExternal
      summary: Get A Source Template By Id (deprecated)
      description: 'Get a source template with the given identifier.


        **DEPRECATED**: This endpoint will be removed soon. Please use GET /v1/sourceTemplates/{id} instead.'
      operationId: getSourceTemplate
      parameters:
      - name: id
        in: path
        description: Identifier of the source template to get.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Get source template response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceTemplateDefinition'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: true
    post:
      tags:
      - sourceTemplateManagementExternal
      summary: Update Source Template (deprecated)
      description: 'Update a source template with the given identifier.


        **DEPRECATED**: This endpoint will be removed soon. Please use POST /v1/sourceTemplates/{id} instead.'
      operationId: updateSourceTemplate
      parameters:
      - name: id
        in: path
        description: Identifier of the source template to update.
        required: true
        schema:
          type: string
      requestBody:
        description: Source template request details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceTemplateRequest'
        required: true
      responses:
        '200':
          description: Update source template response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceTemplateDefinition'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: true
    delete:
      tags:
      - sourceTemplateManagementExternal
      summary: Delete A Source Template (deprecated)
      description: 'Delete a source template with the given identifier.


        **DEPRECATED**: This endpoint will be removed soon. Please use DELETE /v1/sourceTemplates/{id} instead.'
      operationId: deleteSourceTemplate
      parameters:
      - name: id
        in: path
        description: Identifier of the source template to delete.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: The source template was deleted successfully.
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: true
  /v1/upgrade/sourceTemplate/{id}:
    post:
      tags:
      - sourceTemplateManagementExternal
      summary: Upgrade Source Template (deprecated)
      description: 'Upgrade a source template with the given identifier.


        **DEPRECATED**: This endpoint will be removed soon. Please use POST /v1/sourceTemplates/{id}/upgrade instead.'
      operationId: upgradeSourceTemplate
      parameters:
      - name: id
        in: path
        description: Identifier of the source template to upgrade.
        required: true
        schema:
          type: string
      requestBody:
        description: Source template upgrade request details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceTemplateUpgradeRequest'
        required: true
      responses:
        '200':
          description: Upgrade source template response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceTemplateDefinition'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: true
  /v1/sourceTemplate/getLinkedSourceTemplatesImpact:
    post:
      tags:
      - sourceTemplateManagementExternal
      summary: Get Linked Source Templates Update Based On The Ot-collector Tags User Is Wants…
      description: Given the set of tags user wants to update, display the list of source templates that will be linked/unlinked to the otCollector.
      operationId: getLinkedSourceTemplatesUpdate
      requestBody:
        description: Request body containing otCollector id and set of tags.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkedSourceTemplatesUpdateRequest'
        required: true
      responses:
        '200':
          description: A list of source templates whose linking to the otCollector will be impacted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkedSourceTemplatesUpdateResponse'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/sourceTemplate/{id}/status:
    put:
      tags:
      - sourceTemplateManagementExternal
      summary: Update Status Of Source Template (deprecated)
      description: 'Update the status (enable or disable) of a source template.


        **DEPRECATED**: This endpoint will be removed soon. Please use PUT /v1/sourceTemplates/{id}/status instead.'
      operationId: updateSourceTemplateStatus
      parameters:
      - name: id
        in: path
        description: Identifier of the source template to update.
        required: true
        schema:
          type: string
      requestBody:
        description: Status of source template
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceTemplateStatusUpdateRequest'
        required: true
      responses:
        '200':
          description: Update source template status response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceTemplateDefinition'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: true
components:
  schemas:
    ErrorResponse:
      required:
      - errors
      - id
      type: object
      properties:
        id:
          type: string
          description: An identifier for the error; this is unique to the specific API request.
          example: IUUQI-DGH5I-TJ045
        errors:
          type: array
          description: A list of one or more causes of the error.
          example:
          - code: auth:password_too_short
            message: Your password was too short.
          - code: auth:password_character_classes
            message: Your password did not contain any non-alphanumeric characters
          items:
            $ref: '#/components/schemas/ErrorDescription'
    ErrorDescription:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          description: An error code describing the type of error.
          example: auth:password_too_short
        message:
          type: string
          description: A short English-language description of the error.
          example: Your password was too short.
        detail:
          type: string
          description: An optional fuller English-language description of the error.
          example: Your password was 5 characters long, the minimum length is 12 characters. See http://example.com/password for more information.
        meta:
          type: object
          description: An optional list of metadata about the error.
          example:
            minLength: 12
            actualLength: 5
    SchemaRef:
      required:
      - type
      type: object
      properties:
        type:
          type: string
          description: type of source template.
          example: Apache
      description: schema reference for source template.
    LinkedSourceTemplatesUpdateResponse:
      required:
      - collectorId
      type: object
      properties:
        collectorId:
          type: string
          description: otCollector id for which tags are edited.
          example: 00005AF3107BF0D6
        addedSourceTemplates:
          type: array
          description: list of sourceTemplates which are linked to otCollector.
          items:
            $ref: '#/components/schemas/LinkingUpdatedSourceTemplateDetails'
        removedSourceTemplates:
          type: array
          description: list of sourceTemplates which are removed from otCollector linking.
          items:
            $ref: '#/components/schemas/LinkingUpdatedSourceTemplateDetails'
      description: linked source template details based on the ot-collector tags user wants to update.
    LinkedSourceTemplatesUpdateRequest:
      required:
      - collectorId
      type: object
      properties:
        collectorId:
          type: string
          description: otCollector id for which tags are edited.
          example: 00005AF3107BF0D6
        tags:
          maxProperties: 50
          type: object
          additionalProperties:
            type: string
          description: JSON map of key-value metadata to apply to the otCollector.
          example:
            environment: production
            location: us-west-2
          default: {}
        updatedName:
          type: string
          description: Updated Name of the otCollector.
          example: demo_macOS
    SourceTemplateUpgradeRequest:
      required:
      - inputJson
      - schemaRef
      type: object
      properties:
        schemaRef:
          $ref: '#/components/schemas/UpgradeSchemaRef'
        inputJson:
          maxProperties: 1000
          required:
          - name
          - receivers
          type: object
          properties:
            name:
              type: string
              description: name of source template.
              example: apache_test_source_template
            receivers:
              type: object
              description: receiver information of source template
              example:
                hostmetrics:
                  receiverType: hostmetrics
                  collection_interval: 5m
            description:
              type: string
              description: description of source template
              example: Demo Description for source template
            processors:
              type: object
              description: processors for source template
              example:
                resource:
                  processorType: resource
          additionalProperties: true
          description: inputJson of source template
      description: request body for creating source template.
    SourceTemplateStatusUpdateRequest:
      required:
      - status
      type: object
      properties:
        status:
          type: string
          description: status to set for the source template (enable or disable).
          enum:
          - enable
          - disable
      example:
        status: enable
    LinkingUpdatedSourceTemplateDetails:
      required:
      - reasonTags
      - sourceTemplateDefinition
      type: object
      properties:
        sourceTemplateDefinition:
          $ref: '#/components/schemas/SourceTemplateDefinition'
        reasonTags:
          type: array
          description: tags which are responsible for source template and collector linking impact.
          items:
            type: array
            items:
              $ref: '#/components/schemas/CollectorTag'
      description: source template details with tags responsible for otCollector Linking update.
    SourceTemplateRequest:
      required:
      - inputJson
      - schemaRef
      type: object
      properties:
        schemaRef:
          $ref: '#/components/schemas/SchemaRef'
        inputJson:
          maxProperties: 1000
          required:
          - name
          - receivers
          type: object
          properties:
            name:
              type: string
              description: name of source template.
              example: apache_test_source_template
            receivers:
              type: object
              description: receiver information of source template
              example: {}
            description:
              type: string
              description: description of source template
              example: Demo Description for Source Template
            processors:
              type: object
              description: processors for source template
              example: {}
          additionalProperties: true
          description: inputJson of source template
        selector:
          $ref: '#/components/schemas/Selector'
        isEnabled:
          type: boolean
          description: Indicates whether the source template is enabled - **Create operation:** Defaults to `true` (the template is enabled when created). - **Update operation:** If omitted, the existing status is preserved.
          example: true
      description: request body for creating source template.
    OtTag:
      required:
      - key
      - values
      type: object
      properties:
        key:
          type: string
          description: key of the given tag.
          example: key1
        values:
          type: array
          description: values of the given tag.
          items:
            type: string
            example: value1
    SourceTemplateListResponse:
      required:
      - data
      type: object
      properties:
        data:
          type: array
          description: List of source templates.
          items:
            $ref: '#/components/schemas/SourceTemplateDefinition'
    SourceTemplateUpdateRequest:
      required:
      - inputJson
      - schemaRef
      type: object
      properties:
        schemaRef:
          $ref: '#/components/schemas/SchemaRef'
        inputJson:
          maxProperties: 1000
          required:
          - name
          - receivers
          type: object
          properties:
            name:
              type: string
              description: Name of source template.
              example: apache_test_source_template
            receivers:
              type: object
              description: Receiver information of source template
              example: {}
            description:
              type: string
              description: Description of source template
              example: Demo Description for source template
            processors:
              type: object
              description: Processors for source template
              example: {}
          additionalProperties: true
          description: InputJson of source template
        selector:
          $ref: '#/components/schemas/Selector'
        isEnabled:
          type: boolean
          description: Indicates whether the source template is enabled. If omitted, the existing status is preserved.
          example: true
      description: Request body for updating source template.
    Selector:
      type: object
      properties:
        tags:
          type: array
          description: tags filter for agents
          items:
            type: array
            items:
              $ref: '#/components/schemas/OtTag'
        names:
          type: array
          description: names to select custom agents
          items:
            type: string
            example: demo_macOS
      description: Agent selector conditions
    SourceTemplateDefinition:
      type: object
      properties:
        schemaRef:
          $ref: '#/components/schemas/SchemaRef'
        id:
          type: string
          description: id of source template.
          example: 0000000003343FDD
        inputJson:
          maxProperties: 1000
          type: object
          additionalProperties: true
          description: inputJson of source template
          example: {}
        config:
          type: string
          description: configuration of source template
          example: apache.yaml.example
        selector:
          $ref: '#/components/schemas/Selector'
        totalCollectorLinked:
          type: integer
          description: count of total collector linked with this source template.
          format: int32
          default: 0
        createdAt:
          type: string
          description: Creation timestamp in UTC in [RFC3339](https://tools.ietf.org/html/rfc3339) format.
          format: date-time
          example: 2018-10-16 09:10:00+00:00
        modifiedAt:
          type: string
          description: Modification timestamp in UTC in [RFC3339](https://tools.ietf.org/html/rfc3339) format.
          format: date-time
          example: 2018-10-16 09:10:00+00:00
        createdBy:
          type: string
          description: Id of the user who created source template
          example: 0000000006743FDD
        modifiedBy:
          type: string
          description: Id of the user who last modified the source template
          example: 0000000006243FDD
        status:
          type: string
          description: Status of Source template
          enum:
          - enable
          - disable
        isEnabled:
          type: boolean
          description: A boolean parameter to get if the source template is enabled.
          example: true
          default: true
      description: response definition of source template.
    CollectorTag:
      required:
      - key
      - values
      type: object
      properties:
        key:
          type: string
          description: Key of the given tag.
          example: key1
        value:
          type: string
          description: Values of the given tag.
          example: value1
    UpgradeSchemaRef:
      required:
      - type
      - version
      type: object
      properties:
        type:
          type: string
          description: type of source template.
          example: Apache
        version:
          type: string
          description: version of source template.
          example: 1.0.0
      description: schema reference for upgrade source template request.
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
x-tagGroups:
- name: Archive Management
  tags:
  - archiveManagement
- name: Health Events
  tags:
  - healthEvents
- name: Infrequent Data Tier
  tags:
  - logSearchesEstimatedUsage
- name: Ingest Budgets Management V2
  tags:
  - ingestBudgetManagementV2
- name: Library Management
  tags:
  - appManagement
  - appManagementV2
  - contentManagement
  - dashboardManagement
  - folderManagement
  - lookupManagement
  - contentPermissions
  - logSearchesManagement
  - parsersLibraryManagement
- name: Metrics
  tags:
  - metricsSearchesManagement
  - transformationRuleManagement
  - metricsQuery
  - metricsSearchesManagementV2
- name: Security Management
  tags:
  - accessKeyManagement
  - oauthManagement
  - accountManagement
  - passwordPolicy
  - policiesManagement
  - samlConfigurationManagement
  - serviceAllowlistManagement
  - serviceAccountManagement
  - scimUserManagement
- name: Organizations Management
  tags:
  - orgsManagement
- name: Settings Management
  tags:
  - connectionManagement
  - dynamicParsingRuleManagement
  - extractionRuleManagement
  - fieldManagementV1
  - partitionManagement
  - scheduledViewManagement
  - logsDataForwardingManagement
  - dataDeletionRules
- name: Tokens Management
  tags:
  - tokensLibraryManagement
- name: Tracing
  tags:
  - traces
  - spanAnalytics
  - serviceMap
- name: Users and Roles Management
  tags:
  - roleManagement
  - roleManagementV2
  - userManagement
- name: Threat Intel Ingest Management
  tags:
  - threatIntelIngest
  - threatIntelIngestProducer
- name: OpenTelemetry Collector Management
  tags:
  - otCollectorManagementExternal
- name: Source Template Management
  tags:
  - sourceTemplateManagementExternal
- name: Schema Base Management
  tags:
  - schemaBaseManagement
- name: Event Analytics Management
  tags:
  - eventAnalytics
- name: Budget Management
  tags:
  - budgetManagement
- name: Macro Management
  tags:
  - macroManagement
- name: Muting Schedules Management
  tags:
  - mutingSchedulesLibraryManagement
- name: SLO Management
  tags:
  - slosLibraryManagement
- name: Monitor Management
  tags:
  - monitorsLibraryManagement
