openapi: 3.2.0
info:
  title: Sumo Logic Folder Management API
  description: '# Getting Started

    Welcome to the Sumo Logic API reference.'
  version: 1.0.0
  x-logo:
    url: ./sumologic_logo.png
servers:
- url: https://api.au.sumologic.com/api/
  description: AU deployment API server
- url: https://api.ca.sumologic.com/api/
  description: CA deployment API server
- url: https://api.de.sumologic.com/api/
  description: DE deployment API server
- url: https://api.eu.sumologic.com/api/
  description: EU deployment API server
- url: https://api.fed.sumologic.com/api/
  description: FED deployment API server
- url: https://api.jp.sumologic.com/api/
  description: JP deployment API server
- url: https://api.kr.sumologic.com/api/
  description: KR deployment API server
- url: https://api.in.sumologic.com/api/
  description: IN deployment API server
- url: https://api.sumologic.com/api/
  description: US1 deployment API server
- url: https://api.us2.sumologic.com/api/
  description: US2 deployment API server
security:
- basicAuth: []
tags:
- name: folderManagement
  description: 'Folder management API.


    You can add folders and subfolders to the Library in order to organize your content for easy access or to share content. For more information, see Add Folders to the Library. You can perform the request as a Content Administrator by using the `isAdminMode` parameter. For more information, see Admin Mode.'
  x-displayName: Folders
paths:
  /v2/content/folders:
    post:
      tags:
      - folderManagement
      summary: Create A New Folder
      description: Creates a new folder under the given parent folder. Set the header parameter `isAdminMode` to `"true"` to create a folder inside "Admin Recommended" folder.
      operationId: createFolder
      parameters:
      - name: isAdminMode
        in: header
        description: Set this to "true" if you want to perform the request as a Content Administrator.
        required: false
        schema:
          type: string
      requestBody:
        description: Information about the new folder.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FolderDefinition'
        required: true
      responses:
        '200':
          description: The folder has been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        default:
          description: The operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/content/folders/{id}:
    get:
      tags:
      - folderManagement
      summary: Get A Folder
      description: Get a folder with the given identifier. Set the header parameter `isAdminMode` to `"true"` if fetching a folder inside "Admin Recommended" folder.
      operationId: getFolder
      parameters:
      - name: id
        in: path
        description: Identifier of the folder to fetch.
        required: true
        schema:
          type: string
      - name: isAdminMode
        in: header
        description: Set this to "true" if you want to perform the request as a Content Administrator.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Folder that was requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        default:
          description: The operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
      - folderManagement
      summary: Update A Folder
      description: Update an existing folder with the given identifier. Set the header parameter `isAdminMode` to `"true"` if updating a folder inside "Admin Recommended" folder.
      operationId: updateFolder
      parameters:
      - name: id
        in: path
        description: Identifier of the folder to update.
        required: true
        schema:
          type: string
      - name: isAdminMode
        in: header
        description: Set this to "true" if you want to perform the request as a Content Administrator.
        required: false
        schema:
          type: string
      requestBody:
        description: Information to update about the folder.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFolderRequest'
        required: true
      responses:
        '200':
          description: The folder was successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        default:
          description: The operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/content/folders/personal:
    get:
      tags:
      - folderManagement
      summary: Get Personal Folder
      description: Get the personal folder of the current user.
      operationId: getPersonalFolder
      responses:
        '200':
          description: 'The personal folder of the current user.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        default:
          description: The operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/content/folders/global:
    get:
      tags:
      - folderManagement
      summary: Schedule Global View Job
      description: 'Schedule an asynchronous job to get Global View. Global View contains all top-level content items that a user has permissions to view in the organization. User can traverse the top-level folders using GetFolder API to get rest of the content items. Make sure you set `isAdminMode` header parameter to `true` when traversing top-level items.


        _Global View is not a real folder, therefore there is no folder identifier associated with it_.


        _You get back a identifier of asynchronous job in response to this endpoint. See Asynchronous-Request section for more details on how to work with asynchronous request._'
      operationId: getGlobalFolderAsync
      parameters:
      - name: isAdminMode
        in: header
        description: Set this to "true" if you want to perform the request as a Content Administrator.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: An asynchronous job to get a list of all content items been scheduled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeginAsyncJobResponse'
        default:
          description: The operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/content/folders/global/{jobId}/status:
    get:
      tags:
      - folderManagement
      summary: Get Global View Job Status
      description: Get the status of an asynchronous Global View job for the given job identifier. If job succeeds, use Global View Result endpoint to fetch all content items that you have permissions to view.
      operationId: getGlobalFolderAsyncStatus
      parameters:
      - name: jobId
        in: path
        description: The identifier of the asynchronous Global View job.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Asynchronous Global View job status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncJobStatus'
        default:
          description: The operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/content/folders/global/{jobId}/result:
    get:
      tags:
      - folderManagement
      summary: Get Global View Job Result
      description: Get result of a Global View job for the given job identifier. The result will be a list of all content items that a user has permissions to view in the organization.
      operationId: getGlobalFolderAsyncResult
      parameters:
      - name: jobId
        in: path
        description: The identifier of the asynchronous Global View job.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of all content items with view permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentList'
        default:
          description: The operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/content/folders/adminRecommended:
    get:
      tags:
      - folderManagement
      summary: Schedule Admin Recommended Folder Job
      description: 'Schedule an asynchronous job to get the top-level Admin Recommended content items. You can read more about Admin Recommended folder here.


        _You get back a identifier of asynchronous job in response to this endpoint. See Asynchronous-Request section for more details on how to work with asynchronous request._'
      operationId: getAdminRecommendedFolderAsync
      parameters:
      - name: isAdminMode
        in: header
        description: Set this to "true" if you want to perform the request as a Content Administrator.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: An asynchronous job to get the Admin Recommended folder has been scheduled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeginAsyncJobResponse'
        default:
          description: The operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/content/folders/adminRecommended/{jobId}/status:
    get:
      tags:
      - folderManagement
      summary: Get Admin Recommended Folder Job Status
      description: Get the status of an asynchronous Admin Recommended folder job for the given job identifier. If job succeeds, use Admin Recommended Job Result endpoint to fetch top-level content items in Admin Recommended folder.
      operationId: getAdminRecommendedFolderAsyncStatus
      parameters:
      - name: jobId
        in: path
        description: The identifier of the asynchronous Admin Recommended folder job.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Asynchronous Admin Recommended folder job status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncJobStatus'
        default:
          description: The operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/content/folders/adminRecommended/{jobId}/result:
    get:
      tags:
      - folderManagement
      summary: Get Admin Recommended Folder Job Result
      description: Get result of an Admin Recommended job for the given job identifier. The result will be "Admin Recommended" folder with a list of top-level Admin Recommended content items in `children` field.
      operationId: getAdminRecommendedFolderAsyncResult
      parameters:
      - name: jobId
        in: path
        description: The identifier of the asynchronous Admin Recommended folder job.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Admin Recommended folder.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        default:
          description: The operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/content/folders/installedApps:
    get:
      tags:
      - folderManagement
      summary: Schedule Installed Apps Folder Job
      description: 'Schedule an asynchronous job to get the top-level Installed Apps content items.


        _You get back a identifier of asynchronous job in response to this endpoint. See Asynchronous-Request section for more details on how to work with asynchronous request._'
      operationId: getInstalledAppsFolderAsync
      parameters:
      - name: isAdminMode
        in: header
        description: Set this to "true" if you want to perform the request as a Content Administrator.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: An asynchronous job to get the Installed Apps folder has been scheduled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeginAsyncJobResponse'
        default:
          description: The operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/content/folders/installedApps/{jobId}/status:
    get:
      tags:
      - folderManagement
      summary: Get Installed Apps Folder Job Status
      description: Get the status of an asynchronous Installed Apps folder job for the given job identifier. If job succeeds, use Installed Apps Job Result endpoint to fetch top-level content items in Installed Apps folder.
      operationId: getInstalledAppsFolderAsyncStatus
      parameters:
      - name: jobId
        in: path
        description: The identifier of the asynchronous Installed Apps folder job.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Asynchronous Installed Apps folder job status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncJobStatus'
        default:
          description: The operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/content/folders/installedApps/{jobId}/result:
    get:
      tags:
      - folderManagement
      summary: Get Installed Apps Folder Job Result
      description: Get result of an Installed Apps job for the given job identifier. The result will be "Installed Apps" folder with a list of top-level Installed Apps content items in `children` field.
      operationId: getInstalledAppsFolderAsyncResult
      parameters:
      - name: jobId
        in: path
        description: The identifier of the asynchronous Installed Apps folder job.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Installed Apps folder.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        default:
          description: The operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    MetadataModel:
      required:
      - createdAt
      - createdBy
      - modifiedAt
      - modifiedBy
      type: object
      properties:
        createdAt:
          type: string
          description: Creation timestamp in UTC in [RFC3339](https://tools.ietf.org/html/rfc3339) format.
          format: date-time
          example: 2018-10-16 09:10:00+00:00
        createdBy:
          type: string
          description: Identifier of the user who created the resource.
          example: 0000000006743FDD
        modifiedAt:
          type: string
          description: Last modification timestamp in UTC.
          format: date-time
          example: 2018-10-16 09:10:00+00:00
        modifiedBy:
          type: string
          description: Identifier of the user who last modified the resource.
          example: 0000000006743FE8
    Content:
      type: object
      allOf:
      - $ref: '#/components/schemas/MetadataModel'
      - required:
        - id
        - itemType
        - name
        - parentId
        - permissions
        properties:
          id:
            type: string
            description: Identifier of the content item.
            example: 000000000C1C17C6
          name:
            type: string
            description: The name of the content item.
            example: Personal
          itemType:
            type: string
            description: "Type of the content item. Supported values are:\n  1. Folder\n  2. Search\n  3. Report (for old dashboards)\n  4. Dashboard (for new dashboards)\n  5. Lookups"
            example: Folder
          parentId:
            type: string
            description: Identifier of the parent content item.
            example: 0000000001C41EF2
          permissions:
            type: array
            description: List of permissions the user has on the content item.
            example:
            - View
            - GrantView
            - Edit
            items:
              type: string
          description:
            type: string
            description: Description of the content item.
            example: Personal folder for John Doe
          isScheduled:
            type: boolean
            description: Indicates whether the content item refers to scheduled search. This field is only relevant to `Search` content type.
            example: false
            default: false
    ErrorResponse:
      required:
      - errors
      - id
      type: object
      properties:
        id:
          type: string
          description: An identifier for the error; this is unique to the specific API request.
          example: IUUQI-DGH5I-TJ045
        errors:
          type: array
          description: A list of one or more causes of the error.
          example:
          - code: auth:password_too_short
            message: Your password was too short.
          - code: auth:password_character_classes
            message: Your password did not contain any non-alphanumeric characters
          items:
            $ref: '#/components/schemas/ErrorDescription'
    ContentList:
      required:
      - data
      type: object
      properties:
        data:
          type: array
          description: A list of the content items.
          items:
            $ref: '#/components/schemas/Content'
    ErrorDescription:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          description: An error code describing the type of error.
          example: auth:password_too_short
        message:
          type: string
          description: A short English-language description of the error.
          example: Your password was too short.
        detail:
          type: string
          description: An optional fuller English-language description of the error.
          example: Your password was 5 characters long, the minimum length is 12 characters. See http://example.com/password for more information.
        meta:
          type: object
          description: An optional list of metadata about the error.
          example:
            minLength: 12
            actualLength: 5
    UpdateFolderRequest:
      required:
      - name
      type: object
      properties:
        name:
          maxLength: 128
          minLength: 1
          type: string
          description: The name of the folder.
          example: SampleFolder
        description:
          maxLength: 255
          minLength: 0
          type: string
          description: The description of the folder.
          example: This is a sample folder.
    FolderDefinition:
      required:
      - name
      - parentId
      type: object
      properties:
        name:
          maxLength: 128
          minLength: 1
          type: string
          description: The name of the folder.
          example: SampleFolder
        description:
          maxLength: 255
          minLength: 0
          type: string
          description: The description of the folder.
          example: This is a sample folder.
        parentId:
          type: string
          description: The identifier of the parent folder.
    BeginAsyncJobResponse:
      required:
      - id
      type: object
      properties:
        id:
          type: string
          description: Identifier to get the status of an asynchronous job.
          example: C03E086C137F38B4
    Folder:
      allOf:
      - $ref: '#/components/schemas/Content'
      - type: object
        properties:
          description:
            maxLength: 255
            minLength: 0
            type: string
            description: The description of the folder.
            example: This is a sample folder.
          children:
            type: array
            description: A list of the content items.
            items:
              $ref: '#/components/schemas/Content'
    AsyncJobStatus:
      required:
      - status
      type: object
      properties:
        status:
          type: string
          description: Whether or not the request is in progress (`InProgress`), has completed successfully (`Success`), or has completed with an error (`Failed`).
        statusMessage:
          type: string
          description: Additional status message generated if the status is not `Failed`.
        error:
          $ref: '#/components/schemas/ErrorDescription'
      example:
        status: Success
        statusMessage: ''
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
x-tagGroups:
- name: Archive Management
  tags:
  - archiveManagement
- name: Health Events
  tags:
  - healthEvents
- name: Infrequent Data Tier
  tags:
  - logSearchesEstimatedUsage
- name: Ingest Budgets Management V2
  tags:
  - ingestBudgetManagementV2
- name: Library Management
  tags:
  - appManagement
  - appManagementV2
  - contentManagement
  - dashboardManagement
  - folderManagement
  - lookupManagement
  - contentPermissions
  - logSearchesManagement
  - parsersLibraryManagement
- name: Metrics
  tags:
  - metricsSearchesManagement
  - transformationRuleManagement
  - metricsQuery
  - metricsSearchesManagementV2
- name: Security Management
  tags:
  - accessKeyManagement
  - oauthManagement
  - accountManagement
  - passwordPolicy
  - policiesManagement
  - samlConfigurationManagement
  - serviceAllowlistManagement
  - serviceAccountManagement
  - scimUserManagement
- name: Organizations Management
  tags:
  - orgsManagement
- name: Settings Management
  tags:
  - connectionManagement
  - dynamicParsingRuleManagement
  - extractionRuleManagement
  - fieldManagementV1
  - partitionManagement
  - scheduledViewManagement
  - logsDataForwardingManagement
  - dataDeletionRules
- name: Tokens Management
  tags:
  - tokensLibraryManagement
- name: Tracing
  tags:
  - traces
  - spanAnalytics
  - serviceMap
- name: Users and Roles Management
  tags:
  - roleManagement
  - roleManagementV2
  - userManagement
- name: Threat Intel Ingest Management
  tags:
  - threatIntelIngest
  - threatIntelIngestProducer
- name: OpenTelemetry Collector Management
  tags:
  - otCollectorManagementExternal
- name: Source Template Management
  tags:
  - sourceTemplateManagementExternal
- name: Schema Base Management
  tags:
  - schemaBaseManagement
- name: Event Analytics Management
  tags:
  - eventAnalytics
- name: Budget Management
  tags:
  - budgetManagement
- name: Macro Management
  tags:
  - macroManagement
- name: Muting Schedules Management
  tags:
  - mutingSchedulesLibraryManagement
- name: SLO Management
  tags:
  - slosLibraryManagement
- name: Monitor Management
  tags:
  - monitorsLibraryManagement
