openapi: 3.2.0
info:
  title: Sumo Logic Data Masking Management API
  description: '# Getting Started

    Welcome to the Sumo Logic API reference.'
  version: 1.0.0
  x-logo:
    url: ./sumologic_logo.png
servers:
- url: https://api.au.sumologic.com/api/
  description: AU deployment API server
- url: https://api.ca.sumologic.com/api/
  description: CA deployment API server
- url: https://api.de.sumologic.com/api/
  description: DE deployment API server
- url: https://api.eu.sumologic.com/api/
  description: EU deployment API server
- url: https://api.fed.sumologic.com/api/
  description: FED deployment API server
- url: https://api.jp.sumologic.com/api/
  description: JP deployment API server
- url: https://api.kr.sumologic.com/api/
  description: KR deployment API server
- url: https://api.in.sumologic.com/api/
  description: IN deployment API server
- url: https://api.sumologic.com/api/
  description: US1 deployment API server
- url: https://api.us2.sumologic.com/api/
  description: US2 deployment API server
security:
- basicAuth: []
tags:
- name: dataMaskingManagement
  description: 'Data Masking Rules management API.


    Data Masking Rules allow you to define regex patterns that mask sensitive data in log messages at query time.'
  x-displayName: Data Masking Rules
paths:
  /v1/dataMaskingRules:
    get:
      tags:
      - dataMaskingManagement
      summary: Get A List Of Data Masking Rules
      description: Get a list of all data masking rules for the current organization. The response is paginated with a default limit of 100 rules per page.
      operationId: listDataMaskingRules
      parameters:
      - name: limit
        in: query
        description: Limit the number of data masking rules returned in the response. The number of rules returned may be less than the `limit`.
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          format: int32
          default: 100
      - name: token
        in: query
        description: Continuation token to get the next page of results. A page object with the next continuation token is returned in the response body. Subsequent GET requests should specify the continuation token to get the next page of results.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A paginated list of data masking rules.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDataMaskingRulesResponse'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - dataMaskingManagement
      summary: Create A New Data Masking Rule
      description: Create a new data masking rule. The rule will be applied to search results at query time, replacing matches of the regex pattern with the specified mask string.
      operationId: createDataMaskingRule
      parameters: []
      requestBody:
        description: Information about the new data masking rule.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataMaskingRuleDefinition'
        required: true
      responses:
        '200':
          description: The data masking rule has been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataMaskingRule'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-tf-create: createDataMaskingRule
  /v1/dataMaskingRules/{id}:
    get:
      tags:
      - dataMaskingManagement
      summary: Get A Data Masking Rule
      description: Get a data masking rule with the given identifier.
      operationId: getDataMaskingRule
      parameters:
      - name: id
        in: path
        description: Identifier of the data masking rule to return.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Data masking rule object that was requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataMaskingRule'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-tf-read: getDataMaskingRule
    put:
      tags:
      - dataMaskingManagement
      summary: Update A Data Masking Rule
      description: Update an existing data masking rule. All properties specified in the request are replaced. Missing properties are set to their default values. The rule name is immutable and cannot be changed after creation.
      operationId: updateDataMaskingRule
      parameters:
      - name: id
        in: path
        description: Identifier of the data masking rule to update.
        required: true
        schema:
          type: string
      requestBody:
        description: Information to update about the data masking rule. The name field cannot be changed as it is immutable.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseDataMaskingRuleDefinition'
        required: true
      responses:
        '200':
          description: The data masking rule was successfully modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataMaskingRule'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-tf-update: updateDataMaskingRule
    delete:
      tags:
      - dataMaskingManagement
      summary: Delete A Data Masking Rule
      description: Delete a data masking rule with the given identifier.
      operationId: deleteDataMaskingRule
      parameters:
      - name: id
        in: path
        description: Identifier of the data masking rule to delete.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Data masking rule was deleted successfully.
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-tf-delete: deleteDataMaskingRule
components:
  schemas:
    MetadataModel:
      required:
      - createdAt
      - createdBy
      - modifiedAt
      - modifiedBy
      type: object
      properties:
        createdAt:
          type: string
          description: Creation timestamp in UTC in [RFC3339](https://tools.ietf.org/html/rfc3339) format.
          format: date-time
          example: 2018-10-16 09:10:00+00:00
        createdBy:
          type: string
          description: Identifier of the user who created the resource.
          example: 0000000006743FDD
        modifiedAt:
          type: string
          description: Last modification timestamp in UTC.
          format: date-time
          example: 2018-10-16 09:10:00+00:00
        modifiedBy:
          type: string
          description: Identifier of the user who last modified the resource.
          example: 0000000006743FE8
    ErrorResponse:
      required:
      - errors
      - id
      type: object
      properties:
        id:
          type: string
          description: An identifier for the error; this is unique to the specific API request.
          example: IUUQI-DGH5I-TJ045
        errors:
          type: array
          description: A list of one or more causes of the error.
          example:
          - code: auth:password_too_short
            message: Your password was too short.
          - code: auth:password_character_classes
            message: Your password did not contain any non-alphanumeric characters
          items:
            $ref: '#/components/schemas/ErrorDescription'
    ListDataMaskingRulesResponse:
      required:
      - data
      type: object
      properties:
        data:
          type: array
          description: List of data masking rules.
          items:
            $ref: '#/components/schemas/DataMaskingRule'
        next:
          type: string
          description: Next continuation token. Null if this is the last page.
    DataMaskingRuleDefinition:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseDataMaskingRuleDefinition'
      - required:
        - name
        properties:
          name:
            maxLength: 128
            minLength: 1
            type: string
            description: Name of the data masking rule. Use a name that makes it easy to identify the rule. Must be unique within the organization. This field is immutable and cannot be changed after creation.
            example: Email Masking
    ErrorDescription:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          description: An error code describing the type of error.
          example: auth:password_too_short
        message:
          type: string
          description: A short English-language description of the error.
          example: Your password was too short.
        detail:
          type: string
          description: An optional fuller English-language description of the error.
          example: Your password was 5 characters long, the minimum length is 12 characters. See http://example.com/password for more information.
        meta:
          type: object
          description: An optional list of metadata about the error.
          example:
            minLength: 12
            actualLength: 5
    BaseDataMaskingRuleDefinition:
      required:
      - enabled
      - regexPattern
      type: object
      properties:
        description:
          maxLength: 512
          type: string
          description: Optional description of the data masking rule. Provide context about what PII this rule masks and why it's needed.
          example: Masks email addresses in application logs
        regexPattern:
          maxLength: 2048
          minLength: 1
          type: string
          description: Regular expression pattern to match PII data that should be masked. The pattern must be valid according to Java regex syntax. All matches in search results will be replaced with the mask string.
          example: \b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,6}\b
        maskString:
          maxLength: 64
          minLength: 1
          type: string
          description: The string to replace matched PII with. Defaults to '##redactedPII##' if not specified. Use descriptive mask strings like 'EMAIL_REDACTED' or 'PHONE_REDACTED' for clarity.
          example: EMAIL_REDACTED
          default: '##redactedPII##'
        enabled:
          type: boolean
          description: Whether the data masking rule is active. Only enabled rules are applied to search results. Set to false to temporarily disable a rule without deleting it.
          default: true
    DataMaskingRule:
      type: object
      allOf:
      - $ref: '#/components/schemas/DataMaskingRuleDefinition'
      - $ref: '#/components/schemas/MetadataModel'
      - required:
        - id
        properties:
          id:
            type: string
            description: Unique identifier for the data masking rule.
            example: 00000000FF42A0C3
      x-tf-generated-properties: id,name,description,regexPattern,maskString,enabled
      x-tf-resource-name: DataMaskingRule
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
x-tagGroups:
- name: Archive Management
  tags:
  - archiveManagement
- name: Health Events
  tags:
  - healthEvents
- name: Infrequent Data Tier
  tags:
  - logSearchesEstimatedUsage
- name: Ingest Budgets Management V2
  tags:
  - ingestBudgetManagementV2
- name: Library Management
  tags:
  - appManagement
  - appManagementV2
  - contentManagement
  - dashboardManagement
  - folderManagement
  - lookupManagement
  - contentPermissions
  - logSearchesManagement
  - parsersLibraryManagement
- name: Metrics
  tags:
  - metricsSearchesManagement
  - transformationRuleManagement
  - metricsQuery
  - metricsSearchesManagementV2
- name: Security Management
  tags:
  - accessKeyManagement
  - oauthManagement
  - accountManagement
  - passwordPolicy
  - policiesManagement
  - samlConfigurationManagement
  - serviceAllowlistManagement
  - serviceAccountManagement
  - scimUserManagement
- name: Organizations Management
  tags:
  - orgsManagement
- name: Settings Management
  tags:
  - connectionManagement
  - dynamicParsingRuleManagement
  - extractionRuleManagement
  - fieldManagementV1
  - partitionManagement
  - scheduledViewManagement
  - logsDataForwardingManagement
  - dataDeletionRules
- name: Tokens Management
  tags:
  - tokensLibraryManagement
- name: Tracing
  tags:
  - traces
  - spanAnalytics
  - serviceMap
- name: Users and Roles Management
  tags:
  - roleManagement
  - roleManagementV2
  - userManagement
- name: Threat Intel Ingest Management
  tags:
  - threatIntelIngest
  - threatIntelIngestProducer
- name: OpenTelemetry Collector Management
  tags:
  - otCollectorManagementExternal
- name: Source Template Management
  tags:
  - sourceTemplateManagementExternal
- name: Schema Base Management
  tags:
  - schemaBaseManagement
- name: Event Analytics Management
  tags:
  - eventAnalytics
- name: Budget Management
  tags:
  - budgetManagement
- name: Macro Management
  tags:
  - macroManagement
- name: Muting Schedules Management
  tags:
  - mutingSchedulesLibraryManagement
- name: SLO Management
  tags:
  - slosLibraryManagement
- name: Monitor Management
  tags:
  - monitorsLibraryManagement
