openapi: 3.2.0
info:
  title: Sumo Logic Parsers Library Management API
  description: '# Getting Started

    Welcome to the Sumo Logic API reference.'
  version: 1.0.0
  x-logo:
    url: ./sumologic_logo.png
servers:
- url: https://api.au.sumologic.com/api/
  description: AU deployment API server
- url: https://api.ca.sumologic.com/api/
  description: CA deployment API server
- url: https://api.de.sumologic.com/api/
  description: DE deployment API server
- url: https://api.eu.sumologic.com/api/
  description: EU deployment API server
- url: https://api.fed.sumologic.com/api/
  description: FED deployment API server
- url: https://api.jp.sumologic.com/api/
  description: JP deployment API server
- url: https://api.kr.sumologic.com/api/
  description: KR deployment API server
- url: https://api.in.sumologic.com/api/
  description: IN deployment API server
- url: https://api.sumologic.com/api/
  description: US1 deployment API server
- url: https://api.us2.sumologic.com/api/
  description: US2 deployment API server
security:
- basicAuth: []
tags:
- name: parsersLibraryManagement
  description: 'Parsers Library Management API


    Customize the Parsers via this API. The Parsers Library contains the Parsers used in the "_parser" field for collector, FER or query. For more information on customizing parsers, see Parser Editor.'
  x-displayName: Parsers Library Management
paths:
  /v1/parsers/root:
    get:
      tags:
      - parsersLibraryManagement
      summary: Get The Root Folder In The Library
      description: Get the root folder in the library.
      operationId: getParsersLibraryRoot
      responses:
        '200':
          description: Root folder in the library.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParsersLibraryFolderResponse'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/parsers:
    get:
      tags:
      - parsersLibraryManagement
      summary: Bulk Read Folders And Parsers
      description: Bulk read folders and parsers by the given identifiers from the library.
      operationId: parsersReadByIds
      parameters:
      - name: ids
        in: query
        description: A comma-separated list of identifiers.
        required: true
        schema:
          type: array
          example: 0000000000000001,0000000000000002,0000000000000003
          items:
            type: string
      responses:
        '200':
          description: A map between an identifier and its definition (folder or parser).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdToParsersLibraryBaseResponseMap'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - parsersLibraryManagement
      summary: Create A Folder Or Parser
      description: Create a folder or parser.
      operationId: parsersCreate
      parameters:
      - name: parentId
        in: query
        description: Identifier of the parent folder in which to create the folder or parser.
        required: true
        schema:
          type: string
      requestBody:
        description: The folder or parser to be created.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParsersLibraryBase'
        required: true
      responses:
        '200':
          description: Newly created folder or parser.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParsersLibraryBaseResponse'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - parsersLibraryManagement
      summary: Bulk Delete Folders And Parsers
      description: Bulk delete folders and parsers by the given identifiers from the library.
      operationId: parsersDeleteByIds
      parameters:
      - name: ids
        in: query
        description: A comma-separated list of identifiers.
        required: true
        schema:
          type: array
          example: 0000000000000001,0000000000000002,0000000000000003
          items:
            type: string
      responses:
        '200':
          description: A map between the deleted identifier and its meta data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdToParsersLibraryBaseResponseMap'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/parsers/{id}:
    get:
      tags:
      - parsersLibraryManagement
      summary: Read A Folder Or Parser
      description: Read a folder or parser.
      operationId: parsersReadById
      parameters:
      - name: id
        in: path
        description: Identifier of the folder or parser to read.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Requested folder or parser.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParsersLibraryBaseResponse'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
      - parsersLibraryManagement
      summary: Update A Folder Or Parser
      description: Update a folder or parser.
      operationId: parsersUpdateById
      parameters:
      - name: id
        in: path
        description: Identifier of the folder or parser to update.
        required: true
        schema:
          type: string
      requestBody:
        description: 'The folder or parser to be updated. Content version must match its latest version number in the library. Any staled version will not be updated.

          '
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParsersLibraryBaseUpdate'
        required: true
      responses:
        '200':
          description: Updated folder or parser.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParsersLibraryBaseResponse'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - parsersLibraryManagement
      summary: Delete A Folder Or Parser
      description: Delete a folder or parser.
      operationId: parsersDeleteById
      parameters:
      - name: id
        in: path
        description: Identifier of the folder or parser to delete.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: The folder or parser was successfully deleted.
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/parsers/{id}/path:
    get:
      tags:
      - parsersLibraryManagement
      summary: Get Full Path Of Folder Or Parser
      description: Get full path of folder or parser.
      operationId: getParsersFullPath
      parameters:
      - name: id
        in: path
        description: Identifier of the folder or parser.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Full path of the folder or parser.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Path'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/parsers/{id}/lock:
    post:
      tags:
      - parsersLibraryManagement
      summary: Lock A Folder Or A Parser
      description: Locking requires the `LockParsers` capability. When an object is locked, it can't be moved or deleted and only the local fields can be modified. Locking recursively locks all of the objects children.
      operationId: parsersLockById
      parameters:
      - name: id
        in: path
        description: The id of the folder or parser that needs to be locked.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated folder or parser.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParsersLibraryBaseResponse'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/parsers/{id}/unlock:
    post:
      tags:
      - parsersLibraryManagement
      summary: Unlock A Folder Or A Parser
      description: Unlocking requires the `LockParsers` capability. It is only possible to unlock the highest locked object in a tree of locked objects. Unlocking recursively unlocks all of the objects children.
      operationId: parsersUnlockById
      parameters:
      - name: id
        in: path
        description: The id of the folder or parser that needs to be unlocked.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated folder or parser.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParsersLibraryBaseResponse'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/parsers/{id}/move:
    post:
      tags:
      - parsersLibraryManagement
      summary: Move A Folder Or Parser
      description: Move a folder or parser.
      operationId: parsersMove
      parameters:
      - name: id
        in: path
        description: Identifier of the folder or parser to move.
        required: true
        schema:
          type: string
      - name: parentId
        in: query
        description: Identifier of the parent folder to move the folder or parser to.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Moved folder or parser.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParsersLibraryBaseResponse'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/parsers/{id}/copy:
    post:
      tags:
      - parsersLibraryManagement
      summary: Copy A Folder Or Parser
      description: Copy a folder or parser.
      operationId: parsersCopy
      parameters:
      - name: id
        in: path
        description: Identifier of the folder or parser to copy.
        required: true
        schema:
          type: string
      requestBody:
        description: "Fields include:\n  1) Identifier of the parent folder to copy to.\n  2) Optionally provide a new name.\n  3) Optionally provide a new description.\n  4) Optionally set to true if you want to copy and preserved the locked status. Requires `LockParsers` capability.\n"
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentCopyParams'
        required: true
      responses:
        '200':
          description: Newly copied folder or parser.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParsersLibraryBaseResponse'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/parsers/{id}/export:
    get:
      tags:
      - parsersLibraryManagement
      summary: Export A Folder Or Parser
      description: Export a folder or parser.
      operationId: parsersExportItem
      parameters:
      - name: id
        in: path
        description: Identifier of the folder or parser to export.
        required: true
        schema:
          type: string
      - name: preserveLock
        in: query
        description: 'Set this to true if you want to export an object and preserve the locked status.

          '
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Exported folder or parser
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParsersLibraryExportBase'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/parsers/{parentId}/import:
    post:
      tags:
      - parsersLibraryManagement
      summary: Import A Folder Or Parser
      description: Import a folder or parser
      operationId: parsersImportItem
      parameters:
      - name: parentId
        in: path
        description: Identifier of the parent folder in which to import the folder or parser.
        required: true
        schema:
          type: string
      requestBody:
        description: 'The folder or parser to be imported.

          '
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParsersLibraryExportBase'
        required: true
      responses:
        '200':
          description: Newly imported folder or parser.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParsersLibraryBaseResponse'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/parsers/path:
    get:
      tags:
      - parsersLibraryManagement
      summary: Read A Folder Or Parser By Its Path
      description: Read a folder or parser by its path.
      operationId: parsersGetByPath
      parameters:
      - name: path
        in: query
        description: The path of the folder or parser.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Requested folder or parser.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParsersLibraryBaseResponse'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/parsers/search:
    get:
      tags:
      - parsersLibraryManagement
      summary: Search For Folders Or Parsers
      description: Search for a folder or parser in the cloud SIEM parsers library structure.
      operationId: parsersSearch
      parameters:
      - name: query
        in: query
        description: "The search query to find folder or parsers. Below is the list of different filters with examples:\n  - **createdBy** : Filter by the user's identifier who created the content. Example: `createdBy:000000000000968B`.\n  - **createdBefore** : Filter by the content objects created before the given timestamp(in milliseconds). Example: `createdBefore:1457997222`.\n  - **createdAfter** : Filter by the content objects created after the given timestamp(in milliseconds). Example: `createdAfter:1457997111`.\n  - **modifiedBefore** : Filter by the content objects modified before the given timestamp(in milliseconds). Example: `modifiedBefore:1457997222`.\n  - **modifiedAfter** : Filter by the content objects modified after the given timestamp(in milliseconds). Example: `modifiedAfter:1457997111`.\n  - **type** : Filter by the type of the content object. Example: `type:folder`.\nYou can also use multiple filters in one query. For example to search for all content objects created by user with identifier 000000000000968B with creation timestamp after 1457997222 containing the text Test, the query would look like:\n  `createdBy:000000000000968B createdAfter:1457997222 Test`"
        required: true
        schema:
          type: string
          example: createdBy:000000000000968B Test
      - name: limit
        in: query
        description: Maximum number of items you want in the response.
        required: false
        schema:
          type: integer
          format: int32
          example: 10
          default: 100
      - name: offset
        in: query
        description: The position or row from where to start the search operation.
        required: false
        schema:
          type: integer
          format: int32
          example: 5
          default: 0
      responses:
        '200':
          description: List of folders and parsers matching the search query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListParsersLibraryItemWithPath'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/system/parsers/{id}/lock:
    post:
      tags:
      - parsersLibraryManagement
      summary: Lock A Folder Or A Parser
      description: Locking requires the `LockParsers` capability. When an object is locked, it can't be moved or deleted and only the local fields can be modified. Locking recursively locks all of the objects children.
      operationId: systemParsersLockById
      parameters:
      - name: id
        in: path
        description: The id of the folder or parser that needs to be locked.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated folder or parser.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParsersLibraryBaseResponse'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/system/parsers/{id}/unlock:
    post:
      tags:
      - parsersLibraryManagement
      summary: Unlock A Folder Or A Parser
      description: Unlocking requires the `LockParsers` capability. It is only possible to unlock the highest locked object in a tree of locked objects. Unlocking recursively unlocks all of the objects children.
      operationId: systemParsersUnlockById
      parameters:
      - name: id
        in: path
        description: The id of the folder or parser that needs to be unlocked.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated folder or parser.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParsersLibraryBaseResponse'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    ParsersLibraryBaseUpdate:
      required:
      - description
      - name
      - version
      type: object
      properties:
        name:
          maxLength: 255
          minLength: 1
          type: string
          description: Name of the folder or parser.
        description:
          maxLength: 4096
          type: string
          description: Description of the folder or parser.
        version:
          type: integer
          description: Version of the folder or parser.
          format: int64
        type:
          type: string
          description: Type of the object model.
      discriminator:
        propertyName: type
    ErrorResponse:
      required:
      - errors
      - id
      type: object
      properties:
        id:
          type: string
          description: An identifier for the error; this is unique to the specific API request.
          example: IUUQI-DGH5I-TJ045
        errors:
          type: array
          description: A list of one or more causes of the error.
          example:
          - code: auth:password_too_short
            message: Your password was too short.
          - code: auth:password_character_classes
            message: Your password did not contain any non-alphanumeric characters
          items:
            $ref: '#/components/schemas/ErrorDescription'
    ParsersLibraryBase:
      required:
      - description
      - name
      - type
      type: object
      properties:
        name:
          maxLength: 255
          minLength: 1
          type: string
          description: Name of the folder or parser.
        description:
          maxLength: 4096
          type: string
          description: Description of the folder or parser.
        type:
          type: string
          description: Type of the object model.
        isLocked:
          type: boolean
          description: Locking/Unlocking requires the `LockParsers` capability. Locked objects can only be `Localized`. Updating or moving requires unlocking the object. Locking/Unlocking recursively locks all of the objects children. All children of a locked object must be locked.
          default: false
      discriminator:
        propertyName: type
    ParsersLibraryBaseResponse:
      required:
      - contentType
      - createdAt
      - createdBy
      - description
      - id
      - isLocked
      - isMutable
      - isSystem
      - modifiedAt
      - modifiedBy
      - name
      - parentId
      - type
      - version
      type: object
      properties:
        id:
          type: string
          description: Identifier of the folder or parser.
        name:
          type: string
          description: Name of the folder or parser.
        description:
          type: string
          description: Description of the folder or parser.
        version:
          type: integer
          description: Version of the folder or parser.
          format: int64
        createdAt:
          type: string
          description: 'Creation timestamp in UTC in [RFC3339](https://tools.ietf.org/html/rfc3339) format.

            '
          format: date-time
        createdBy:
          type: string
          description: Identifier of the user who created the resource.
        modifiedAt:
          type: string
          description: Last modification timestamp in UTC.
          format: date-time
        modifiedBy:
          type: string
          description: Identifier of the user who last modified the resource.
        parentId:
          type: string
          description: Identifier of the parent folder.
        contentType:
          type: string
          description: "Type of the content. Valid values:\n  1) Folder\n  2) Parser\n"
        type:
          type: string
          description: Type of the object model.
        isLocked:
          type: boolean
          description: Whether the object is locked.
        isSystem:
          type: boolean
          description: System objects are objects provided by Sumo Logic. System objects can only be localized. Non-local fields can't be updated.
        isMutable:
          type: boolean
          description: Immutable objects are "READ-ONLY".
      discriminator:
        propertyName: type
    ErrorDescription:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          description: An error code describing the type of error.
          example: auth:password_too_short
        message:
          type: string
          description: A short English-language description of the error.
          example: Your password was too short.
        detail:
          type: string
          description: An optional fuller English-language description of the error.
          example: Your password was 5 characters long, the minimum length is 12 characters. See http://example.com/password for more information.
        meta:
          type: object
          description: An optional list of metadata about the error.
          example:
            minLength: 12
            actualLength: 5
    ParsersLibraryItemWithPath:
      required:
      - item
      - path
      type: object
      properties:
        item:
          $ref: '#/components/schemas/ParsersLibraryBaseResponse'
        path:
          type: string
          description: Path of the folder or parser.
          example: /Parsers/SampleFolder/TestParser
    Path:
      required:
      - path
      - pathItems
      type: object
      properties:
        pathItems:
          type: array
          description: Elements of the path.
          items:
            $ref: '#/components/schemas/PathItem'
        path:
          type: string
          description: String representation of the path.
    ParsersLibraryFolderResponse:
      allOf:
      - $ref: '#/components/schemas/ParsersLibraryBaseResponse'
      - required:
        - children
        type: object
        properties:
          children:
            type: array
            description: Children of the folder.
            items:
              $ref: '#/components/schemas/ParsersLibraryBaseResponse'
    ParsersLibraryExportBase:
      required:
      - description
      - name
      - type
      type: object
      properties:
        name:
          maxLength: 255
          minLength: 1
          type: string
          description: Name of the folder or parser.
        description:
          maxLength: 4096
          type: string
          description: Description of the folder or parser.
        type:
          type: string
          description: Type of the object model.
      discriminator:
        propertyName: type
    ContentCopyParams:
      required:
      - parentId
      type: object
      properties:
        parentId:
          type: string
          description: Identifier of the parent folder to copy to.
        name:
          type: string
          description: Optionally provide a new name.
        description:
          type: string
          description: Optionally provide a new description.
    PathItem:
      required:
      - id
      - name
      type: object
      properties:
        id:
          type: string
          description: Identifier of the path element.
        name:
          type: string
          description: Name of the path element.
        description:
          type: string
          description: Description of the path element.
    ListParsersLibraryItemWithPath:
      type: array
      description: List of folders or parsers.
      items:
        $ref: '#/components/schemas/ParsersLibraryItemWithPath'
    IdToParsersLibraryBaseResponseMap:
      maxProperties: 1000
      type: object
      additionalProperties:
        $ref: '#/components/schemas/ParsersLibraryBaseResponse'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
x-tagGroups:
- name: Archive Management
  tags:
  - archiveManagement
- name: Health Events
  tags:
  - healthEvents
- name: Infrequent Data Tier
  tags:
  - logSearchesEstimatedUsage
- name: Ingest Budgets Management V2
  tags:
  - ingestBudgetManagementV2
- name: Library Management
  tags:
  - appManagement
  - appManagementV2
  - contentManagement
  - dashboardManagement
  - folderManagement
  - lookupManagement
  - contentPermissions
  - logSearchesManagement
  - parsersLibraryManagement
- name: Metrics
  tags:
  - metricsSearchesManagement
  - transformationRuleManagement
  - metricsQuery
  - metricsSearchesManagementV2
- name: Security Management
  tags:
  - accessKeyManagement
  - oauthManagement
  - accountManagement
  - passwordPolicy
  - policiesManagement
  - samlConfigurationManagement
  - serviceAllowlistManagement
  - serviceAccountManagement
  - scimUserManagement
- name: Organizations Management
  tags:
  - orgsManagement
- name: Settings Management
  tags:
  - connectionManagement
  - dynamicParsingRuleManagement
  - extractionRuleManagement
  - fieldManagementV1
  - partitionManagement
  - scheduledViewManagement
  - logsDataForwardingManagement
  - dataDeletionRules
- name: Tokens Management
  tags:
  - tokensLibraryManagement
- name: Tracing
  tags:
  - traces
  - spanAnalytics
  - serviceMap
- name: Users and Roles Management
  tags:
  - roleManagement
  - roleManagementV2
  - userManagement
- name: Threat Intel Ingest Management
  tags:
  - threatIntelIngest
  - threatIntelIngestProducer
- name: OpenTelemetry Collector Management
  tags:
  - otCollectorManagementExternal
- name: Source Template Management
  tags:
  - sourceTemplateManagementExternal
- name: Schema Base Management
  tags:
  - schemaBaseManagement
- name: Event Analytics Management
  tags:
  - eventAnalytics
- name: Budget Management
  tags:
  - budgetManagement
- name: Macro Management
  tags:
  - macroManagement
- name: Muting Schedules Management
  tags:
  - mutingSchedulesLibraryManagement
- name: SLO Management
  tags:
  - slosLibraryManagement
- name: Monitor Management
  tags:
  - monitorsLibraryManagement
