openapi: 3.2.0
info:
  title: Sumo Logic Data Deletion Rules API
  description: '# Getting Started

    Welcome to the Sumo Logic API reference.'
  version: 1.0.0
  x-logo:
    url: ./sumologic_logo.png
servers:
- url: https://api.au.sumologic.com/api/
  description: AU deployment API server
- url: https://api.ca.sumologic.com/api/
  description: CA deployment API server
- url: https://api.de.sumologic.com/api/
  description: DE deployment API server
- url: https://api.eu.sumologic.com/api/
  description: EU deployment API server
- url: https://api.fed.sumologic.com/api/
  description: FED deployment API server
- url: https://api.jp.sumologic.com/api/
  description: JP deployment API server
- url: https://api.kr.sumologic.com/api/
  description: KR deployment API server
- url: https://api.in.sumologic.com/api/
  description: IN deployment API server
- url: https://api.sumologic.com/api/
  description: US1 deployment API server
- url: https://api.us2.sumologic.com/api/
  description: US2 deployment API server
security:
- basicAuth: []
tags:
- name: dataDeletionRules
  description: 'Data Deletion Rules (Beta) API.

    Data Deletion Rules allow creating and managing requests to delete log messages satisfying parameters ( query, timerange, etc...). For more information, see Deletion Requests'
  x-displayName: Data Deletion Rules (Beta)
paths:
  /v1/dataDeletionRules:
    get:
      tags:
      - dataDeletionRules
      summary: Get A List Of Data Deletion Rules
      description: Get a list of data deletion rules in the organization. The response is paginated with a default limit of 50 rules.
      operationId: listDeletionRules
      parameters:
      - name: limit
        in: query
        description: Limit the number of deletion Rules returned in the response
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
          default: 50
        example: 100
      - name: token
        in: query
        description: Continuation token to get the next page of results. A page object with the next continuation token is returned in the response body. Subsequent GET requests should specify the continuation token to get the next page of results. `token` is set to null when no more pages are left.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A paginated list of data deletion Rules
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDeletionRulesResponse'
        default:
          description: Operation failed with an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - dataDeletionRules
      summary: Create A New Data Deletion Rule
      description: Create a new data deletion rule to delete logs.
      operationId: createDataDeletionRule
      parameters: []
      requestBody:
        description: Information about the new deletion rule.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDeletionRuleRequest'
        required: true
      responses:
        '200':
          description: The data deletion Rule that has been created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletionRuleDefinition'
        default:
          description: Operation failed with an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/dataDeletionRules/{id}:
    get:
      tags:
      - dataDeletionRules
      summary: Get Data Deletion Rule Information For The Given Id
      description: Get Data Deletion Rule information for the given Id with updated fields.
      operationId: getDataDeletionRule
      parameters:
      - name: id
        in: path
        description: Identifier of the Deletion Rule to fetch
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The data deletion Rule Definition that was requested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletionRuleDefinition'
        default:
          description: Operation failed with an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/dataDeletionRules/{id}/cancel:
    post:
      tags:
      - dataDeletionRules
      summary: Cancel The Data Deletion Rule With The Given Id
      description: Cancel the data Deletion Rule with the given Id. Allowed only if the rule is waiting for approval.
      operationId: cancelDataDeletionRule
      parameters:
      - name: id
        in: path
        description: Identifier of the Deletion Rule to cancel
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The data deletion Rule has been cancelled successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletionRuleDefinition'
        default:
          description: Operation failed with an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/dataDeletionRules/{id}/delete:
    delete:
      tags:
      - dataDeletionRules
      summary: Delete The Data Deletion Rule With The Given Id
      description: Delete the data Deletion Rule with the given Id. Allowed only if the rule is cancelled.
      operationId: deleteDataDeletionRule
      parameters:
      - name: id
        in: path
        description: Identifier of the Deletion Rule to delete
        required: true
        schema:
          type: string
      responses:
        '204':
          description: The data deletion Rule has been deleted successfully.
        default:
          description: Operation failed with an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    CreateDeletionRuleRequest:
      required:
      - endMillis
      - query
      - ruleName
      - ruleReason
      - startMillis
      type: object
      properties:
        ruleName:
          maxLength: 127
          minLength: 1
          type: string
          description: Name of the deletion rule.
        ruleReason:
          maxLength: 255
          minLength: 1
          type: string
          description: Reason mentioning what data is being deleted and why.
        query:
          maxLength: 15000
          minLength: 0
          type: string
          description: query to filter out the logs that need to be deleted.
        startMillis:
          type: integer
          description: Start time of the search as a number of milliseconds.
          format: int64
          example: 1704976268773
        endMillis:
          type: integer
          description: End time of the search as a number of milliseconds.
          format: int64
          example: 1704977168773
        byReceiptTime:
          type: boolean
          description: Flag to order the search results in the order collector received it. This has the value `true` if the search is to be run by receipt time and `false` if it is to be run by message time.
          default: false
        timezone:
          type: string
          description: Timezone for the resolving timerange from startMillis,endMillis
          default: UTC
        parsingMode:
          pattern: ^(AutoParse|Manual)$
          type: string
          description: "Define the parsing mode to scan the JSON format log messages. Possible values are:\n  1. `AutoParse`\n  2. `Manual`\nIn AutoParse mode, the system automatically figures out fields to parse based on the search query. While in the Manual mode, no fields are parsed out automatically. For more information see [Dynamic Parsing](https://help.sumologic.com/?cid=0011)."
          example: AutoParse
          default: Manual
    ErrorResponse:
      required:
      - errors
      - id
      type: object
      properties:
        id:
          type: string
          description: An identifier for the error; this is unique to the specific API request.
          example: IUUQI-DGH5I-TJ045
        errors:
          type: array
          description: A list of one or more causes of the error.
          example:
          - code: auth:password_too_short
            message: Your password was too short.
          - code: auth:password_character_classes
            message: Your password did not contain any non-alphanumeric characters
          items:
            $ref: '#/components/schemas/ErrorDescription'
    ErrorDescription:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          description: An error code describing the type of error.
          example: auth:password_too_short
        message:
          type: string
          description: A short English-language description of the error.
          example: Your password was too short.
        detail:
          type: string
          description: An optional fuller English-language description of the error.
          example: Your password was 5 characters long, the minimum length is 12 characters. See http://example.com/password for more information.
        meta:
          type: object
          description: An optional list of metadata about the error.
          example:
            minLength: 12
            actualLength: 5
    DeletedRange:
      required:
      - endTime
      - startTime
      type: object
      properties:
        startTime:
          type: string
          description: Start of the timestamp for each unit of filled ranges, expressed in timeZone specified in rule.
          format: date-time
        endTime:
          type: string
          description: End of the timestamp for each unit of filled ranges, expressed in timeZone specified in rule.
          format: date-time
      description: Range of timestamps from which logs obtained from the query have been deleted.
    ListDeletionRulesResponse:
      required:
      - deletionRulesList
      type: object
      properties:
        deletionRulesList:
          type: array
          description: List of data deletion rules.
          items:
            $ref: '#/components/schemas/DeletionRuleDefinition'
        next:
          type: string
          description: Next Continuation token
    DeletionRuleDefinition:
      allOf:
      - $ref: '#/components/schemas/CreateDeletionRuleRequest'
      - type: object
        properties:
          id:
            type: string
            description: Identifier for the deletion rule.
          createdAt:
            type: string
            description: Creation timestamp in UTC.
            format: date-time
          modifiedAt:
            type: string
            description: Last modification timestamp in UTC in [RFC3339](https://tools.ietf.org/html/rfc3339) format.
            format: date-time
          error:
            type: string
            description: Errors related to the deletion rule.
          status:
            type: string
            description: Status of the deletion rule.
          createdBy:
            type: string
            description: Identifier of the user who created the deletion rule.
            example: 0000000006743FE8
          modifiedBy:
            type: string
            description: Identifier of the user who last modified the resource.
            example: 0000000006743FE8
          deletedRanges:
            type: array
            description: List of the different units of deleted ranges since the deletion rule has been created.
            items:
              $ref: '#/components/schemas/DeletedRange'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
x-tagGroups:
- name: Archive Management
  tags:
  - archiveManagement
- name: Health Events
  tags:
  - healthEvents
- name: Infrequent Data Tier
  tags:
  - logSearchesEstimatedUsage
- name: Ingest Budgets Management V2
  tags:
  - ingestBudgetManagementV2
- name: Library Management
  tags:
  - appManagement
  - appManagementV2
  - contentManagement
  - dashboardManagement
  - folderManagement
  - lookupManagement
  - contentPermissions
  - logSearchesManagement
  - parsersLibraryManagement
- name: Metrics
  tags:
  - metricsSearchesManagement
  - transformationRuleManagement
  - metricsQuery
  - metricsSearchesManagementV2
- name: Security Management
  tags:
  - accessKeyManagement
  - oauthManagement
  - accountManagement
  - passwordPolicy
  - policiesManagement
  - samlConfigurationManagement
  - serviceAllowlistManagement
  - serviceAccountManagement
  - scimUserManagement
- name: Organizations Management
  tags:
  - orgsManagement
- name: Settings Management
  tags:
  - connectionManagement
  - dynamicParsingRuleManagement
  - extractionRuleManagement
  - fieldManagementV1
  - partitionManagement
  - scheduledViewManagement
  - logsDataForwardingManagement
  - dataDeletionRules
- name: Tokens Management
  tags:
  - tokensLibraryManagement
- name: Tracing
  tags:
  - traces
  - spanAnalytics
  - serviceMap
- name: Users and Roles Management
  tags:
  - roleManagement
  - roleManagementV2
  - userManagement
- name: Threat Intel Ingest Management
  tags:
  - threatIntelIngest
  - threatIntelIngestProducer
- name: OpenTelemetry Collector Management
  tags:
  - otCollectorManagementExternal
- name: Source Template Management
  tags:
  - sourceTemplateManagementExternal
- name: Schema Base Management
  tags:
  - schemaBaseManagement
- name: Event Analytics Management
  tags:
  - eventAnalytics
- name: Budget Management
  tags:
  - budgetManagement
- name: Macro Management
  tags:
  - macroManagement
- name: Muting Schedules Management
  tags:
  - mutingSchedulesLibraryManagement
- name: SLO Management
  tags:
  - slosLibraryManagement
- name: Monitor Management
  tags:
  - monitorsLibraryManagement
