openapi: 3.2.0
info:
  title: Sumo Logic REST Collectors Content API
  description: 'Sumo Logic is a cloud-native log analytics, observability, and security

    platform.'
  version: 1.0.0
  contact:
    name: Sumo Logic Help
    url: https://www.sumologic.com/help/docs/api/
  license:
    name: Proprietary
servers:
- url: https://api.sumologic.com/api
  description: US1 deployment
- url: https://api.us2.sumologic.com/api
  description: US2 deployment
- url: https://api.eu.sumologic.com/api
  description: EU (Dublin) deployment
- url: https://api.au.sumologic.com/api
  description: Australia (Sydney) deployment
- url: https://api.ca.sumologic.com/api
  description: Canada (Montreal) deployment
- url: https://api.de.sumologic.com/api
  description: Germany (Frankfurt) deployment
- url: https://api.jp.sumologic.com/api
  description: Japan (Tokyo) deployment
- url: https://api.in.sumologic.com/api
  description: India (Mumbai) deployment
- url: https://api.kr.sumologic.com/api
  description: South Korea (Seoul) deployment
- url: https://api.fed.sumologic.com/api
  description: US Federal (FedRAMP) deployment
security:
- basicAuth: []
tags:
- name: Content
paths:
  /v2/content/{id}:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
    get:
      tags:
      - Content
      summary: Get a content item
      operationId: getContentItem
      responses:
        '200':
          description: Content item
    delete:
      tags:
      - Content
      summary: Delete a content item
      operationId: deleteContentItem
      responses:
        '200':
          description: Content item deleted
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: 'HTTP Basic Authentication. Use your Sumo Logic Access ID as username and

        the corresponding Access Key as password. Service account tokens may also

        be used. Generate credentials in the Sumo Logic UI under Administration

        > Security > Access Keys.

        '
