openapi: 3.2.0
info:
  title: Sumo Logic Policies Management API
  description: '# Getting Started

    Welcome to the Sumo Logic API reference.'
  version: 1.0.0
  x-logo:
    url: ./sumologic_logo.png
servers:
- url: https://api.au.sumologic.com/api/
  description: AU deployment API server
- url: https://api.ca.sumologic.com/api/
  description: CA deployment API server
- url: https://api.de.sumologic.com/api/
  description: DE deployment API server
- url: https://api.eu.sumologic.com/api/
  description: EU deployment API server
- url: https://api.fed.sumologic.com/api/
  description: FED deployment API server
- url: https://api.jp.sumologic.com/api/
  description: JP deployment API server
- url: https://api.kr.sumologic.com/api/
  description: KR deployment API server
- url: https://api.in.sumologic.com/api/
  description: IN deployment API server
- url: https://api.sumologic.com/api/
  description: US1 deployment API server
- url: https://api.us2.sumologic.com/api/
  description: US2 deployment API server
security:
- basicAuth: []
tags:
- name: policiesManagement
  description: 'Policies management API.


    Policies control the security and share settings of your organization. For more information, see Security.'
  x-displayName: Policies
paths:
  /v1/policies/audit:
    get:
      tags:
      - policiesManagement
      summary: Get Audit Policy
      description: Get the Audit policy. This policy specifies whether audit records for your account are enabled. You can access details about reported account events in the Sumo Logic Audit Index. Learn More
      operationId: getAuditPolicy
      responses:
        '200':
          description: The Audit policy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditPolicy'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
      - policiesManagement
      summary: Set Audit Policy
      description: Set the Audit policy. This policy specifies whether audit records for your account are enabled. You can access details about reported account events in the Sumo Logic Audit Index. Learn More
      operationId: setAuditPolicy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuditPolicy'
        required: true
      responses:
        '200':
          description: Audit policy was set successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditPolicy'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/policies/searchAudit:
    get:
      tags:
      - policiesManagement
      summary: Get Search Audit Policy
      description: Get the Search Audit policy. This policy specifies whether search records for your account are enabled. You can access details about your account's search capacity, queries run by users from the Sumo Search Audit Index. Learn More
      operationId: getSearchAuditPolicy
      responses:
        '200':
          description: The Search Audit policy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchAuditPolicy'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
      - policiesManagement
      summary: Set Search Audit Policy
      description: Set the Search Audit policy. This policy specifies whether search records for your account are enabled. You can access details about your account's search capacity, queries run by users from the Sumo Search Audit Index. Learn More
      operationId: setSearchAuditPolicy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchAuditPolicy'
        required: true
      responses:
        '200':
          description: Search Audit policy was set successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchAuditPolicy'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/policies/shareDashboardsOutsideOrganization:
    get:
      tags:
      - policiesManagement
      summary: Get Share Dashboards Outside Organization Policy
      description: Get the Share Dashboards Outside Organization policy. This policy allows users to share the dashboard with view only privileges outside of the organization (capability must be enabled from the Roles page). Disabling this policy will disable all dashboards that have been shared outside of the organization. Learn More
      operationId: getShareDashboardsOutsideOrganizationPolicy
      responses:
        '200':
          description: The Share Dashboards Outside Organization policy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareDashboardsOutsideOrganizationPolicy'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
      - policiesManagement
      summary: Set Share Dashboards Outside Organization Policy
      description: Set the Share Dashboards Outside Organization policy. This policy allows users to share the dashboard with view only privileges outside of the organization (capability must be enabled from the Roles page). Disabling this policy will disable all dashboards that have been shared outside of the organization. Learn More
      operationId: setShareDashboardsOutsideOrganizationPolicy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareDashboardsOutsideOrganizationPolicy'
        required: true
      responses:
        '200':
          description: Share Dashboards Outside Organization policy was set successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareDashboardsOutsideOrganizationPolicy'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/policies/dataAccessLevel:
    get:
      tags:
      - policiesManagement
      summary: Get Data Access Level Policy
      description: Get the Data Access Level policy. When enabled, this policy sets the default data access level for all newly created dashboards to the viewer’s role access filter. Otherwise, newly created dashboards will default to the sharer’s role access filter and might display data that viewers’ roles don’t allow them to view. Learn More
      operationId: getDataAccessLevelPolicy
      responses:
        '200':
          description: The Data Access Level policy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataAccessLevelPolicy'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
      - policiesManagement
      summary: Set Data Access Level Policy
      description: Set the Data Access Level policy. When enabled, this policy sets the default data access level for all newly created dashboards to the viewer’s role access filter. Otherwise, newly created dashboards will default to the sharer’s role access filter and might display data that viewers’ roles don’t allow them to view. Learn More
      operationId: setDataAccessLevelPolicy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataAccessLevelPolicy'
        required: true
      responses:
        '200':
          description: Data Access Level policy was set successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataAccessLevelPolicy'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/policies/userConcurrentSessionsLimit:
    get:
      tags:
      - policiesManagement
      summary: Get User Concurrent Sessions Limit Policy
      description: Get the User Concurrent Sessions Limit policy. When enabled, the number of concurrent sessions a user may have is limited to the value entered. If a user exceeds the allowed number of sessions, the user's oldest session will be logged out to accommodate the new one. Disabling this policy means a user may have an unlimited number of concurrent sessions. Learn More
      operationId: getUserConcurrentSessionsLimitPolicy
      responses:
        '200':
          description: The User Concurrent Sessions Limit policy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserConcurrentSessionsLimitPolicy'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
      - policiesManagement
      summary: Set User Concurrent Sessions Limit Policy
      description: Set the User Concurrent Sessions Limit policy. When enabled, the number of concurrent sessions a user may have is limited to the value entered. If a user exceeds the allowed number of sessions, the user's oldest session will be logged out to accommodate the new one. Disabling this policy means a user may have an unlimited number of concurrent sessions. Learn More
      operationId: setUserConcurrentSessionsLimitPolicy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserConcurrentSessionsLimitPolicy'
        required: true
      responses:
        '200':
          description: User Concurrent Sessions Limit policy was set successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserConcurrentSessionsLimitPolicy'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/policies/maxUserSessionTimeout:
    get:
      tags:
      - policiesManagement
      summary: Get Max User Session Timeout Policy
      description: Get the Max User Session Timeout policy. When enabled, this policy sets the maximum web session timeout users are able to configure within their user preferences. Users preferences will be updated to match this value only if their current preference is set to a higher value. Learn More
      operationId: getMaxUserSessionTimeoutPolicy
      responses:
        '200':
          description: The Max User Session Timeout policy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaxUserSessionTimeoutPolicy'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
      - policiesManagement
      summary: Set Max User Session Timeout Policy
      description: Set the Max User Session Timeout policy. When enabled, this policy sets the maximum web session timeout users are able to configure within their user preferences. Users preferences will be updated to match this value only if their current preference is set to a higher value. Learn More
      operationId: setMaxUserSessionTimeoutPolicy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MaxUserSessionTimeoutPolicy'
        required: true
      responses:
        '200':
          description: Max User Session Timeout policy was set successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaxUserSessionTimeoutPolicy'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/policies/accessKeysLifetime:
    get:
      tags:
      - policiesManagement
      summary: Get Access Key Lifetime Policy
      description: Get access key lifetime policy. This policy defines the maximum time an access key has once it has been created or rotated before it must be rotated. Otherwise, it will no longer be able to be used. The value 0 represents that the access keys will never expire and the time specified can be configured by the organization.
      operationId: getAccessKeysLifetimePolicy
      responses:
        '200':
          description: The Access Key Lifetime Policy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessKeysLifetimePolicy'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
      - policiesManagement
      summary: Set Access Keys Lifetime Policy
      description: Sets the access keys lifetime policy. By setting this policy, the time an access key has to live before it is expired or must be rotated is defined based on the period (default = never) configured for the organization. Setting the value to 0 would represent that the access keys never expire.
      operationId: setAccessKeysLifetimePolicy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessKeysLifetimePolicy'
        required: true
      responses:
        '200':
          description: Access Keys Lifetime policy was set successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessKeysLifetimePolicy'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/policies/dataDeletion:
    get:
      tags:
      - policiesManagement
      summary: Get Data Deletion Policy
      description: Get the Data Deletion policy. This policy specifies whether users are allowed to delete data from Sumo Logic. Disabling this policy prevents users from deleting log data. Learn More
      operationId: getDataDeletionPolicy
      responses:
        '200':
          description: The Data Deletion policy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataDeletionPolicy'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
      - policiesManagement
      summary: Set Data Deletion Policy
      description: Set the Data Deletion policy. This policy specifies whether users are allowed to delete data from Sumo Logic. Disabling this policy prevents users from deleting log data. Learn More
      operationId: setDataDeletionPolicy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataDeletionPolicy'
        required: true
      responses:
        '200':
          description: Data Deletion policy was set successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataDeletionPolicy'
        default:
          description: Operation failed with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    MaxUserSessionTimeoutPolicy:
      required:
      - maxUserSessionTimeout
      type: object
      properties:
        maxUserSessionTimeout:
          pattern: ^(5m|15m|30m|1h|2h|6h|12h|1d|2d|3d|5d|7d)$
          type: string
          description: 'Maximum web session timeout users are able to configure within their user preferences. Valid values are: `5m`, `15m`, `30m`, `1h`, `2h`, `6h`, `12h`, `1d`, `2d`, `3d`, `5d`, or `7d`'
          example: 1d
          x-pattern-message: 'must be one of the following: `5m`, `15m`, `30m`, `1h`, `2h`, `6h`, `12h`, `1d`, `2d`, `3d`, `5d`, or `7d`'
      description: Max User Session Timeout policy.
    ErrorResponse:
      required:
      - errors
      - id
      type: object
      properties:
        id:
          type: string
          description: An identifier for the error; this is unique to the specific API request.
          example: IUUQI-DGH5I-TJ045
        errors:
          type: array
          description: A list of one or more causes of the error.
          example:
          - code: auth:password_too_short
            message: Your password was too short.
          - code: auth:password_character_classes
            message: Your password did not contain any non-alphanumeric characters
          items:
            $ref: '#/components/schemas/ErrorDescription'
    ErrorDescription:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          description: An error code describing the type of error.
          example: auth:password_too_short
        message:
          type: string
          description: A short English-language description of the error.
          example: Your password was too short.
        detail:
          type: string
          description: An optional fuller English-language description of the error.
          example: Your password was 5 characters long, the minimum length is 12 characters. See http://example.com/password for more information.
        meta:
          type: object
          description: An optional list of metadata about the error.
          example:
            minLength: 12
            actualLength: 5
    SearchAuditPolicy:
      required:
      - enabled
      type: object
      properties:
        enabled:
          type: boolean
          description: Whether the Search Audit policy is enabled.
          example: true
      description: Search Audit policy.
    DataAccessLevelPolicy:
      required:
      - enabled
      type: object
      properties:
        enabled:
          type: boolean
          description: Whether the Data Access Level policy is enabled.
          example: true
      description: Data Access Level policy.
    AuditPolicy:
      required:
      - enabled
      type: object
      properties:
        enabled:
          type: boolean
          description: Whether the Audit policy is enabled.
          example: true
      description: Audit policy.
    DataDeletionPolicy:
      required:
      - enabled
      type: object
      properties:
        enabled:
          type: boolean
          description: Whether the Data Deletion policy is enabled.
          example: true
      description: Whether the Data Deletion policy is enabled.
    ShareDashboardsOutsideOrganizationPolicy:
      required:
      - enabled
      type: object
      properties:
        enabled:
          type: boolean
          description: Whether the Share Dashboards Outside Organization policy is enabled.
          example: true
      description: Share Dashboards Outside Organization policy.
    UserConcurrentSessionsLimitPolicy:
      required:
      - enabled
      type: object
      properties:
        enabled:
          type: boolean
          description: Whether the User Concurrent Sessions Limit policy is enabled.
          example: true
        maxConcurrentSessions:
          maximum: 100
          minimum: 1
          type: integer
          description: Maximum number of concurrent sessions a user may have.
          format: int32
          example: 50
          default: 100
      description: User Concurrent Sessions Limit policy.
    AccessKeysLifetimePolicy:
      required:
      - accessKeysLifetimeInDays
      type: object
      properties:
        accessKeysLifetimeInDays:
          pattern: ^(0|30|45|60|90|180|365)$
          type: string
          description: 'The number of days it will take for an access key to expire without being rotated/copied. Setting it to 0 (never) means that access keys will never expire. Valid values are: `0`, `30`, `45`, `60`, `90`, `180`, or `365`'
          example: '60'
          x-pattern-message: 'must be one of the following: `0`, `30`, `45`, `60`, `90`, `180`, or `365`'
      description: Access Keys Lifetime policy.
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
x-tagGroups:
- name: Archive Management
  tags:
  - archiveManagement
- name: Health Events
  tags:
  - healthEvents
- name: Infrequent Data Tier
  tags:
  - logSearchesEstimatedUsage
- name: Ingest Budgets Management V2
  tags:
  - ingestBudgetManagementV2
- name: Library Management
  tags:
  - appManagement
  - appManagementV2
  - contentManagement
  - dashboardManagement
  - folderManagement
  - lookupManagement
  - contentPermissions
  - logSearchesManagement
  - parsersLibraryManagement
- name: Metrics
  tags:
  - metricsSearchesManagement
  - transformationRuleManagement
  - metricsQuery
  - metricsSearchesManagementV2
- name: Security Management
  tags:
  - accessKeyManagement
  - oauthManagement
  - accountManagement
  - passwordPolicy
  - policiesManagement
  - samlConfigurationManagement
  - serviceAllowlistManagement
  - serviceAccountManagement
  - scimUserManagement
- name: Organizations Management
  tags:
  - orgsManagement
- name: Settings Management
  tags:
  - connectionManagement
  - dynamicParsingRuleManagement
  - extractionRuleManagement
  - fieldManagementV1
  - partitionManagement
  - scheduledViewManagement
  - logsDataForwardingManagement
  - dataDeletionRules
- name: Tokens Management
  tags:
  - tokensLibraryManagement
- name: Tracing
  tags:
  - traces
  - spanAnalytics
  - serviceMap
- name: Users and Roles Management
  tags:
  - roleManagement
  - roleManagementV2
  - userManagement
- name: Threat Intel Ingest Management
  tags:
  - threatIntelIngest
  - threatIntelIngestProducer
- name: OpenTelemetry Collector Management
  tags:
  - otCollectorManagementExternal
- name: Source Template Management
  tags:
  - sourceTemplateManagementExternal
- name: Schema Base Management
  tags:
  - schemaBaseManagement
- name: Event Analytics Management
  tags:
  - eventAnalytics
- name: Budget Management
  tags:
  - budgetManagement
- name: Macro Management
  tags:
  - macroManagement
- name: Muting Schedules Management
  tags:
  - mutingSchedulesLibraryManagement
- name: SLO Management
  tags:
  - slosLibraryManagement
- name: Monitor Management
  tags:
  - monitorsLibraryManagement
